$govuk-global-styles: true;

// DL: Tablet/desktop overide to address modern iPads 
$govuk-breakpoints: (
  mobile:  320px,
  tablet:  641px,
  desktop: 835px
) !default;

// GOV.UK Frontend
@import "node_modules/govuk-frontend/govuk/all";

//
// ITCSS
// https://designnotes.blog.gov.uk/2018/02/19/developing-new-typography-and-spacing-for-gov-uk-frontend/
//

// Settings

// Tools
@import "tools/mixins";

// Generic

// Elements

// Objects
@import "objects/lists";
@import "objects/typography";
@import "objects/buttons";
@import "objects/links";

// Components
@import "components/cookie-banner";
@import "components/flood-status";
@import "components/flood-impact-list";
@import "components/facets";
@import "components/flood-list";
@import "components/flood-nav";
@import "components/flood-statistics";
@import "components/contents";
@import "components/related-items";
@import "components/map/ol";
@import "components/map/map";
@import "components/map/map-key";
@import "components/map/map-info";
@import "components/map/map-overlays";
@import "components/map/map-days";
@import "components/bar-chart";
@import "components/line-chart";
@import "components/banners";
@import "components/flood-details";
@import "components/search";
@import "components/service-error";
@import "components/flood-meta";
@import "components/flood-tabs";
@import "components/context-footer";
@import "components/feedback";
@import "components/top-link";
@import "components/flood-location-link";
@import "components/toggle-list-display";
@import "components/social";

// Utilities
@import "utilities/details";
@import "utilities/summary-list";

// Datatables
@import "node_modules/datatables.net-dt/css/jquery.dataTables";
