<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Other ways to get flood warning information
    </span>
  </summary>
  <div class="govuk-details__text">
    <h4 class="govuk-heading-s">Floodline</h4>
    <ul class="govuk-list">
      <li>Telephone: 0345 988 1188</li>
      <li>24-hour service</li>
      <li><a href="https://www.gov.uk/call-charges" rel="external" title="Learn more about call charges">Learn more about call charges</a></li>
    </ul>
    {% if model.area.quickDialNumber %}
      <h4 class="govuk-heading-s">Quickdial</h4>
      <p>The Quickdial code for this area is {{model.area.quickDialNumber}}</p>
    {% endif %}
  </div>
</details>