<div class="defra-cookie-banner" id="cookie-banner" role="region" aria-label="Cookies on Check for flooding">
  <div class="govuk-width-container">
    <div class="defra-cookie-banner__message" id="cookie-message">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Cookies on Check for flooding</h2>
          <p class="govuk-body">We use some essential cookies to make this service work.</p>
          <p class="govuk-body">We’d also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
        </div>
      </div>
      <div class="defra-cookie-banner__button-group" id="cookie-buttons">
        <a href="/cookies" class="defra-cookie-banner__button-set" id="cookie-settings">View your cookie settings</a>
      </div>
    </div>
    <div class="defra-cookie-banner__confirmation" id="cookie-confirmation" style="display:none">
      <p>You’ve <span id="cookie-confirmation-type">accepted</span> analytics cookies. You can <a href="/cookies">change your cookie settings</a> at any time.</p>
      <button class="defra-cookie-banner__button-hide" id="cookie-hide" data-module="govuk-button">
        Hide this message
      </button>
    </div>
  </div>
</div>
