<div class="defra-cookie-banner" id="cookie-banner">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="defra-cookie-banner__message" id="cookie-message">
            <h2 class="govuk-heading-m">Tell us if you accept cookies</h2>
            <p class="govuk-body">We use <a class="govuk-link" href="/cookies">cookies to collect information</a> about how you use the Flood information service. We use this information to improve the service.</p>
            <span id="cookie-accept"></span>
            <a href="/cookies" class="defra-cookie-banner__button-set" data-module="govuk-button">
              Set cookie preferences
            </a>
          </div>
        </div>
      </div>
      <div class="defra-cookie-banner__confirmation" id="cookie-confirmation" style="display:none">
        <p>You’ve accepted all cookies. You can <a href="/cookies">change your cookie settings</a> at any time.</p>
        <button class="defra-cookie-banner__button-hide" id="cookie-hide" data-module="govuk-button">
          Hide
        </button>
      </div>
    </div>
  </div>