<div class="dialog" id="modal-dialog">
    <!--
      Overlay related notes:
      - It has to have the `tabindex="-1"` attribute.
      - It doesn’t have to have the `data-a11y-dialog-hide` attribute, however this is recommended. It hides the dialog when clicking outside of it.
    -->
    <div class="dialog-overlay" id="a11y-dialog-overlay" tabindex="-1" data-a11y-dialog-hide></div>
    <!--
      Dialog window content related notes:
      - It is the actual visual dialog element.
      - It may have the `alertdialog` role to make it behave like a “modal”. See the “Usage as a modal” section of the docs.
      - It doesn’t have to be a `<dialog>` element, it can be a `<div>` element with the `dialog` or `alertdialog` role (e.g. `<div role="dialog">`).
      - It doesn’t have to have the `aria-labelledby` attribute however this is recommended. It should match the `id` of the dialog title.
    -->
    <dialog role="alertdialog" class="dialog-content" aria-labelledby="dialog-title">
        <div class="dialog-content__inner">
            <h1 class="govuk-heading-m">Meeting your needs?</h1>
            <button id="a11y-cross" onclick="ga('send','event','alpha','ExitSurvey','X')" class="dialog-content__close" type="button" data-a11y-dialog-hide>
                Close
            </button>
            <p class="govuk-body">Take a minute to tell us what you think of this design. You'll be helping others.</p>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSe36_CuPjj4_rbTFej8rgoMwgbTX8rYlBIPWog6mXvfV1DP4Q/viewform?usp=sf_link" id="a11y-do-survey" onclick="ga('send','event','alpha','ExitSurvey','GreenButton')" class="govuk-button govuk-!-margin-bottom-4">
                Tell us what you think
            </a>
            <br/>
            <button type="button" id="a11y-maybe-later" onclick="ga('send','event','alpha','ExitSurvey','MaybeLater')" data-a11y-dialog-hide>
                Maybe later
            </button>
        </div>
    </dialog>
</div>
