<div id="flood-matrix-container">
{% if model.outlookContent %}
  {% for item in model.outlookContent %}
    {% if item.sentences %}
      {% if item.label %}<h3 class="govuk-heading-s">{{ item.label }}</h3>{% endif %}
      {% for sentence in item.sentences %}
        <p class="govuk-body">{{ sentence }}</p>
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endif %}
</div>

{% if not model.outlookAllLow %}
<span id="map-outlook"></span>
{% endif %}

<p class="defra-flood-meta">Updated at <time datetime="{{model.outlookIssue.issueUTC}}">{{model.outlookIssue.formattedIssueDate}}</time>
  <br>Produced by the Met Office and Environment Agency
</p> 