<div id="flood-matrix-container">


{% if model.outlookText and model.outlookText | length > 0 %}
  {% for group in model.outlookText %}
    <h3 class="govuk-heading-s">{{ group.label }}</h3>
    {% for sentence in group.sentences %}
      <p class="govuk-body">{{ sentence }}</p>
    {% endfor %}
  {% endfor %}
{% endif %}
</div>


<span id="map-outlook"></span>

<p class="defra-flood-meta">Updated at <time datetime="{{model.tabs.issueUTC}}">{{model.tabs.formattedIssueDate}}</time>
  <br>Produced by the Met Office and Environment Agency
</p> 