<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">Flood Warnings</span>
  </summary>
  <p class="govuk-details__text">
    The Environment Agency issue warnings of floods that cover specific warning or alert areas.
    The floods API provides a listing of all current such warnings and is updated every 15 minutes.
    A warning may be at one of four possible severity levels:
  </p>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header">Level</th>
        <th class="govuk-table__header">Name</th>
        <th class="govuk-table__header">Meaning</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">1</td>
        <td class="govuk-table__cell">Severe Flood Warning</td>
        <td class="govuk-table__cell">Severe Flooding, Danger to Life.</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">2</td>
        <td class="govuk-table__cell">Flood Warning</td>
        <td class="govuk-table__cell">Flooding is Expected, Immediate Action Required.</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">3</td>
        <td class="govuk-table__cell">Flood Alert</td>
        <td class="govuk-table__cell">Flooding is Possible, Be Prepared.</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">4</td>
        <td class="govuk-table__cell">Warning no Longer in Force</td>
        <td class="govuk-table__cell">The warning is no longer in force</td>
      </tr>
    </tbody>
  </table>
  <p class="govuk-body-s">
    The flood areas API provide information on the geographic regions to which a given flood alert or warning may
    apply. These comprise Flood Alert Areas and Flood Warning Areas. A Flood Alert Area is a geographical area where it
    is possible for flooding to occur from rivers, sea and in some locations, groundwater. A single Flood Alert Area
    may cover a large portion of the floodplain, may contain multiple river catchments of similar characteristics and
    may contain a number of Flood Warning Areas. A Flood Warning Area is a geographical area where Environment Agency
    expect flooding to occur and which they provide a Flood Warning Service.
  </p>
</details>