<div id="map-key" class="map-key__container">
  <div class="map-key__heading">
    <h2 class="map-key__title">Key</h2>
  </div>
  <form>
    <div class="map-key__features">
      <ul class="map-key-features__section">
        <li class="map-key-features__item">
          <div class="govuk-radios__item govuk-radios__item--map-key">
            <input class="govuk-radios__input" id="mapView" data-layers="mapView" data-states="" name="baseLayer" type="radio"
              checked value="mapView">
            <label class="govuk-label govuk-radios__label" for="mapView">
              Map view
            </label>
          </div>
        </li>
        <li class="map-key-features__item">
          <div class="govuk-radios__item govuk-radios__item--map-key">
            <input class="govuk-radios__input" id="satelliteView" data-layers="satelliteView" data-states="" name="baseLayer"
              type="radio" value="satelliteView">
            <label class="govuk-label govuk-radios__label" for="satelliteView">
              Satellite view
            </label>
          </div>
        </li>
      </ul>
      <ul class="map-key-features__section">
        <li class="map-key-features__item">
          <div class="govuk-checkboxes__item govuk-checkboxes__item--map-key">
            <input class="govuk-checkboxes__input" id="floodWarnings" data-layers="layerTargetAreaPolygons,layerTargetAreaPoints"
              data-states="warning,severe" name="floodWarnings" type="checkbox" value="flood-zones" checked="">
            <label class="govuk-label govuk-checkboxes__label" for="floodWarnings">
              Flood warnings
            </label>
          </div>
          <ul class="map-key-features__subgroup">
            <li class="map-key-features__subgroup-item">
              <span class="map-key-features__item-inner">
                <span class="key-symbol" style="background-position: -2px -362px; background-size: 200px;" data-style="background-position:-2px -362px;background-size:200px"
                  data-style-offset="background-position:-83px -362px;background-size:200px"></span>
                Severe warning
              </span>
            </li>
            <li class="map-key-features__subgroup-item">
              <span class="map-key-features__item-inner">
                <span class="key-symbol" style="background-position: -2px -402px; background-size: 120px;" data-style="background-position:-2px -402px;background-size:200px"
                  data-style-offset="background-position:-83px -402px;background-size:200px"></span>
                Warning
              </span>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="map-key-features__section">
        <li class="map-key-features__item">
          <div class="govuk-checkboxes__item govuk-checkboxes__item--map-key">
            <input class="govuk-checkboxes__input" id="floodAlerts" data-layers="layerTargetAreaPolygons,layerTargetAreaPoints"
              data-states="alert" name="floodAlerts" type="checkbox" value="flood-zones" checked="">
            <label class="govuk-label govuk-checkboxes__label" for="floodAlerts">
              <span class="govuk-label__inner">
                <span class="key-symbol" style="background-position: -2px -442px; background-size: 120px;" data-style="background-position:-2px -442px;background-size:200px"
                  data-style-offset="background-position:-83px -442px;background-size:200px"></span>
                Alert
              </span>
            </label>
          </div>
        </li>
      </ul>
      <ul class="map-key-features__section">
        <li class="map-key-features__item">
          <div class="govuk-checkboxes__item govuk-checkboxes__item--map-key">
            <input class="govuk-checkboxes__input" id="floodExpired" data-layers="layerTargetAreaPolygons,layerTargetAreaPoints"
              data-states="removed" name="floodExpired" type="checkbox" value="flood-zones">
            <label class="govuk-label govuk-checkboxes__label" for="floodExpired">
              <span class="govuk-label__inner">
                <span class="key-symbol" style="background-position: -2px -522px; background-size: 120px;" data-style="background-position:-2px -522px;background-size:200px"
                  data-style-offset="background-position:-83px -522px;background-size:200px"></span>
                Warning removed
              </span>
            </label>
          </div>
        </li>
      </ul>
      <ul class="map-key-features__section">
        <li class="map-key-features__item">
          <div class="govuk-checkboxes__item govuk-checkboxes__item--map-key">
            <input class="govuk-checkboxes__input" id="riverLevels" data-layers="layerLevels" data-states="" name="riverLevels"
              type="checkbox" value="river-levels" checked="">
            <label class="govuk-label govuk-checkboxes__label" for="riverLevels">
              River and sea levels
            </label>
          </div>
          <ul class="map-key-features__subgroup">
            <li class="map-key-features__subgroup-item">
              <span class="map-key-features__item-inner">
                <span class="key-symbol" style="background-position:2px -121px;background-size:200px"></span>
                Above typical range <span class="map-key-features__item-nowrap">(actual)</span>
              </span>
            </li>
            <li class="map-key-features__subgroup-item">
              <span class="map-key-features__item-inner">
                <span class="key-symbol" style="background-position:2px -81px;background-size:200px"></span>
                Above typical range <span class="map-key-features__item-nowrap">(forecast)</span>
              </span>
            </li>
            <li class="map-key-features__subgroup-item">
              <span class="map-key-features__item-inner">
                <span class="key-symbol" style="background-position:2px -41px;background-size:200px"></span>
                Within or below typical range
              </span>
            </li>
            <li class="map-key-features__subgroup-item">
              <span class="map-key-features__item-inner">
                <span class="key-symbol" style="background-position:2px -1px;background-size:200px"></span>
                Closed
              </span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </form>
</div>