<div class="defra-live">
  <h2 class="defra-live__title" id="live-level-title">LATEST LEVEL</h2>
  <p class="defra-flood-meta defra-flood-meta--no-border govuk-!-margin-bottom-0"><strong>{{ model.latestLevels.warning.formatted_time }}</strong></p>
  <p>The {{ model.latestLevels.warning.wiski_river_name }} level at {{ model.latestLevels.warning.agency_name }} was {{ model.latestLevels.warning.latest_level | toFixed(2) }} metres. Property flooding is possible when it goes above {{ model.latestLevels.warning.threshold_value | toFixed(2) }} metres.</p>
  <p>
     <a href="/station/{{ model.latestLevels.warning.rloi_id }}">Monitor the latest level at {{ model.latestLevels.warning.agency_name }}</a>
  </p>
  <p class="defra-live__supplementary">This level will update automatically.</p>
</div>