<h2 class="govuk-heading-m">Other ways to check your current flood risk</h2>
<p>If you live near a river or the coast you may be able to <a href="https://www.gov.uk/sign-up-for-flood-warnings">get flood warnings by phone, text or email</a>. This service is free.</p>
<p>For river and sea flooding, call the 24-hour Floodline service.</p>
<p>
  Telephone: 0345 988 1188<br />
  Type talk: 0345 602 6340 (for the hard of hearing)<br />
  <a href="https://gov.uk/call-charges">Find out more about call charges</a>.
</p>  
<p><a href="https://www.gov.uk/find-local-council">Contact your local council</a> if you are not sure of the source of flooding.</p>