{% switch messageId %}
{% case "2-i2-l3" %}
<span>It’s likely that {{ sources }} will flood low lying land and roads.</span>
{% case "2-i2-l4" %}
<span>We expect that {{ sources }} will flood low lying land and roads.</span>
{% case "2-i3-l1" %}
<span>It’s possible but not expected that {{ sources }}  will cause properties and roads to flood.</span>
{% case "2-i3-l2" %}
<span>It’s possible that {{ sources }} will cause properties and roads to flood.</span>
{% case "2-i4-l1" %}
<span>It’s possible but not expected that {{ sources }} will cause severe flooding and travel disruption.</span>
{% case "3-i3-l3" %}
<span>It’s likely that {{ sources }} will cause properties and roads to flood. If this happens, your life might be in danger.</span>
{% case "3-i3-l4" %}
<span>We expect {{ sources }} to cause properties and roads to flood. If this happens, your life might be in danger.</span>
{% case "3-i4-l2" %}
<span>{{ sources }} could cause severe flooding and travel disruption. If this happens, your life might be in danger. Be prepared to evacuate.</span>
{% case "3-i4-l3" %}
<span>It’s likely that {{ sources }} will cause severe flooding and travel disruption. If this happens, your life might be in danger. Be prepared to evacuate.</span>
{% case "4-i4-l4" %}
<span>We expect {{ sources }} to cause severe flooding and travel disruption. If this happens, your life might be in danger. Be prepared to evacuate.</span>
{% default %}
{% endswitch %}