<div id="map-key" class="map-key__container">
  <div class="map-key__heading">
    <h2 class="map-key__title">Key</h2>
  </div>
  <form>
    <div class="map-key__features">
      <ul class="map-key-features__section">
        <li class="map-key-features__item-static">
          <span class="map-key-features__item-inner">
            <span class="key-symbol" style="background-position: -83px -162px; background-size: 200px"></span>
            Very low risk
          </span>
        </li>
        <li class="map-key-features__item-static">
          <span class="map-key-features__item-inner">
            <span class="key-symbol" style="background-position: -83px -242px; background-size: 200px"></span>
            Low risk
          </span>
        </li>
        <li class="map-key-features__item-static">
          <span class="map-key-features__item-inner">
            <span class="key-symbol" style="background-position: -83px -282px; background-size: 200px"></span>
            Medium risk
          </span>
        </li>
        <li class="map-key-features__item-static">
          <span class="map-key-features__item-inner">
            <span class="key-symbol" style="background-position: -83px -322px; background-size: 200px"></span>
            High risk
          </span>
        </li>
      </ul>
    </div>
  </form>
</div>