{% if model.tabs.lowForFive %}
<p class="govuk-body">The flood risk for the next 5 days is very low.</p>
{% elif model.tabs.allDaysSame %}
<div class="defra-flood-meta defra-flood-meta--p defra-flood-meta--no-border">
  <p>Today through to {{ model.tabs.day5Name }} there's a {{ model.tabs.dailyRisk[0] | lower }} risk of flooding.</p>

  {% for messageId, sources in model.tabs.groups[0].message %}
  {% if messageId !== '1-i2-l2' %}
  {% if loop.first %}<p>{% endif %}
    {% include "partials/outlook-region-messages.html" %}
    {% if loop.last %}</p>{% endif %}
  {% endif %}
  {% endfor %}
</div>
<span id="map-outlook"></span>
{% else %}
<div class="defra-flood-meta defra-flood-meta--p defra-flood-meta--no-border">
  {% for group in model.tabs.groups %}
  <div id="day{{ loop.index }}">
    <h3 class="govuk-heading-s">{{ group.heading }}</h3>

    {% if not group.isEmpty %}

    {% if group.isFirst %}
    <p>There's a {{ group.dailyRisk | lower }} risk of flooding.</p>
    {% else %}
    <p>The risk of flooding {{ group.trend }} {{ group.dailyRisk | lower }}.</p>
    {% endif %}

    {% for messageId, sources in group.message %}
    {% if messageId !== '1-i2-l2' %}
    {% if loop.first %}<p>{% endif %}
      {% include "partials/outlook-region-messages.html" %}
      {% if loop.last %}</p>{% endif %}
    {% endif %}
    {% endfor %}

    {% else %}

    <p>The flood risk is very low.</p>

    {% endif %}
  </div>
  {% endfor %}
</div>
<span id="map-outlook"></span>
{% endif %}

<p class="defra-flood-meta">Updated at <time datetime="{{model.tabs.issueUTC}}">{{model.tabs.formattedIssueDate}}</time>
  <br>Produced by the Met Office and Environment Agency
</p>
