
<p class="govuk-text govuk-!-margin-bottom-1">We issue 3 levels of flood warning:</p>
<h3 class="govuk-heading-s">
    <img class="defra-flood-heading-image" src="/assets/images/symbol-flood-alert.svg" width="46" height="46" alt=""/>
    Flood alert - Prepare
</h3>
<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-1">
  <li>prepare a bag that includes medicines and insurance documents</li>
  <li>check flood warnings</li>
</ul>
<h3 class="govuk-heading-s">
    <img class="defra-flood-heading-image" src="/assets/images/symbol-flood-warning.svg" width="46" height="46" alt=""/>
    Flood warning - Act
</h3>
<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-1">
  <li>turn off gas, water and electricity</li>
  <li>move things upstairs or to safety</li>
  <li>move family, pets and car to safety</li>
</ul>
<h3 class="govuk-heading-s">
    <img class="defra-flood-heading-image" src="/assets/images/symbol-flood-warning-severe.svg" width="46" height="46" alt=""/>
    Severe flood warning - Survive
</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>call 999 if in immediate danger</li>
  <li>follow advice from emergency services</li>
  <li>keep yourself and your family safe</li>
</ul>
