<div class="defra-related-items">
    <h2 class="govuk-heading-s" id="subsection-title">
        Related content
    </h2>
    <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
            <li>
                <a class="govuk-link" href="/what-to-do-in-a-flood">
                    What to do in a flood
                </a>
            </li>
            <li>
                <a class="govuk-link" href="/recovering-after-a-flood">
                    How to recover after a flood
                </a>
            </li>
            <li>
                <a class="govuk-link" href="/what-happens-after-a-flood">
                    What happens after a flood
                </a>
            </li>
        </ul>
    </nav>
</div>
