<div class="defra-related-items">
  <h2 class="govuk-heading-s" id="subsection-title">
    Related content
  </h2>
  <nav role="navigation" aria-labelledby="subsection-title">
    <ul class="govuk-list govuk-!-font-size-16">
      {% if model.displayGetWarningsLink %}
      <li>
        <a class="govuk-link" href="https://www.gov.uk/get-flood-warnings">
          Get flood warnings by phone, text or email
        </a>
      </li>
      {% endif %}
      <li>
        <a class="govuk-link" href="https://www.gov.uk/prepare-for-flooding">
          Prepare for flooding
        </a>
      </li>
      <li>
        <a class="govuk-link" href="https://www.gov.uk/help-during-flood">
          What to do before or during a flood
        </a>
      </li>
      <li>
        <a class="govuk-link" href="https://www.gov.uk/after-flood">
          What to do after a flood
        </a>
      </li>
      {% if model.displayLongTermLink %}
      <li>
        <a class="govuk-link" href={{model.floodRiskUrl}}>
          Check your long term flood risk
        </a>
      </li>
      {% endif %}
      <li>
        <a class="govuk-link" href="https://www.gov.uk/report-flood-cause">
          Report a flood
        </a>
      </li>
    </ul>
  </nav>
</div>