{% if model.errorMessage %}
{{ govukErrorSummary({
titleText: "There is a problem",
errorList: [
{
text: model.errorMessage,
href: "#geolocation-error"
}
]
}) }}
{% endif %}
<div class="defra-search govuk-form-group govuk-!-margin-bottom-6  {% if model.errorMessage %}govuk-form-group--error{% endif %}">
  <form method="post" autocomplete="off">
    <label class="govuk-label defra-search__label" for="location">
      Search for a town, city or postcode in England
    </label>
    {% if model.errorMessage %}
    <p id="geolocation-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> {{ model.errorMessage }}
    </p>
    {% endif %}
    <div class="defra-search__container">

      <!-- Input + search button -->
      <div class="defra-search__input-wrapper">
        <input class="defra-search__input" id="location" name="location" type="search" spellcheck="false" value="{{ model.location }}" {% if model.errorMessage %}aria-describedby="geolocation-error" {% endif %}>

        <button class="defra-search__button defra-search__button--search" type="submit">
          <svg aria-hidden="true" focusable="false" width="20" height="20" viewBox="0 0 20 20"
            style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
            <rect x="0" y="0" width="50" height="50" style="fill:none;"></rect>
            <path
              d="M12.316,14.791c-1.242,0.79 -2.716,1.248 -4.296,1.248c-4.426,0 -8.02,-3.593 -8.02,-8.019c0,-4.426 3.594,-8.02 8.02,-8.02c4.426,0 8.019,3.594 8.019,8.02c0,1.58 -0.458,3.054 -1.248,4.296l5.209,5.209l-2.475,2.475l-5.209,-5.209Zm-4.296,-12.771c3.311,0 6,2.688 6,6c0,3.311 -2.689,6 -6,6c-3.312,0 -6,-2.689 -6,-6c0,-3.312 2.688,-6 6,-6Z"
              style="fill:currentcolor"></path>
          </svg>
          <span class="govuk-visually-hidden">Search</span>
        </button>
      </div>

      <!-- Location button (separate) -->
      <button class="defra-search__location-button app-show-with-js" type="button" id="use-location-btn"
        aria-label="Use my current location">
        <svg fill="#000000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm1 17.931V17h-2v2.931A8.008 8.008 0 0 1 4.069 13H7v-2H4.069A8.008 8.008 0 0 1 11 4.069V7h2V4.069A8.007 8.007 0 0 1 19.931 11H17v2h2.931A8.008 8.008 0 0 1 13 19.931z">
            </path>
          </g>
        </svg>
        <span class="govuk-visually-hidden">Use my current location</span>
      </button>
    </div>
    <input type="hidden" name="geolocation" id="geolocation" value="">
    <input type="hidden" name="error" id="error" value="">
  </form>
</div>

<script>
  (function () {
    const $locationButton = document.getElementById('use-location-btn')

    $locationButton.classList.add('js-enabled')
    $locationButton.addEventListener('click', getLocation)

    const geoOptions = {
      enableHighAccuracy: true,
      timeout: 10000,
      maximumAge: 0
    }

    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(setPosition, showGeolocationError, geoOptions)
      } else {
        showGeolocationError({ code: 9 })
      }
    }

    function setPosition(position) {
      const lat = position.coords.latitude
      const lon = position.coords.longitude
      document.getElementById('geolocation').value = `${lat},${lon}`
      $locationButton.form.submit()
    }

    function showGeolocationError(errorCode) {
      if (errorCode.code) {
        document.getElementById('error').value = errorCode.code
        $locationButton.form.submit()
      }
    }

  })()
</script>
