<div class="defra-search govuk-form-group govuk-!-margin-bottom-8">
  <form method="post" autocomplete="off">
    <label class="govuk-label defra-search__label" for="search">
      Search town or postcode in England
    </label>
    <div class="defra-search__container">
      <input class="defra-search__input" id="location" name="location" type="search" spellcheck="false" value="{{ model.location }}">
      <div class="defra-search__submit-container">
        <button class="defra-search__button">
          <svg aria-hidden="true" focusable="false" width="20" height="20" viewBox="0 0 20 20" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><rect x="0" y="0" width="50" height="50" style="fill:none;"/><path d="M12.316,14.791c-1.242,0.79 -2.716,1.248 -4.296,1.248c-4.426,0 -8.02,-3.593 -8.02,-8.019c0,-4.426 3.594,-8.02 8.02,-8.02c4.426,0 8.019,3.594 8.019,8.02c0,1.58 -0.458,3.054 -1.248,4.296l5.209,5.209l-2.475,2.475l-5.209,-5.209Zm-4.296,-12.771c3.311,0 6,2.688 6,6c0,3.311 -2.689,6 -6,6c-3.312,0 -6,-2.689 -6,-6c0,-3.312 2.688,-6 6,-6Z" style="fill:white;"/></svg>
          <span class="govuk-visually-hidden">Search</span>
        </button>
      </div>
    </div>
  </form>
</div>
