<div class="accordion__section" id="{{name}}">
  <div class="accordion__section-container">
    <div class="accordion__section-header">
      <h2 class="accordion__section-title">
        {{title}}
      </h2>
      <p class="accordion__description">{{tagline}}</p>
    </div>
    <div class="accordion__section-content" id="severe-content">
      <ul class="govuk-list govuk-list--warning">
        {% for flood in floods %}
          <li><a href="/target-area/{{code}}">{{ description }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>