<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="defra-social">
        <h2 class="govuk-heading-s govuk-!-margin-top-0">Share this page</h2>
        <ul class="defra-social__list">
          <li class="defra-social__channel">
            <a data-journey-click="{% if model.facebookEvent %}{{ model.facebookEvent }}{% endif %}" class="defra-social__link defra-social__link--facebook" href="https://www.facebook.com/sharer/sharer.php?u={{fullUrl | urlencode}}{% if model.postTitle %}&title={{model.postTitle | urlencode}}{% endif %}">
              <span class="defra-social__icon">
                <svg focusable="false" aria-hidden="true" width="32" height="32" viewBox="0 0 32 32" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2">
                  <path d="M17.892 10.752h1.786V8.01L17.216 8c-2.73 0-3.352 2.046-3.352 3.354v1.828h-1.58v2.824h1.58V24h3.322v-7.994h2.242l.292-2.824h-2.534V11.52c.002-.622.416-.768.706-.768z" fill="currentColor" fill-rule="nonzero"></path>
                </svg>
              </span>
              Facebook</a>
          </li>
          <li class="defra-social__channel">
            <a data-journey-click="{% if model.twitterEvent %}{{ model.twitterEvent }}{% endif %}" class="defra-social__link defra-social__link--twitter"  href="https://twitter.com/intent/tweet?original_referer&amp;text=Important%20flood%20risk%20information%20%E2%80%93%20please%20retweet%20&url={{fullUrl | urlencode}}">
              <span class="defra-social__icon">
                <svg focusable="false" aria-hidden="true" width="32" height="32" viewBox="0 0 32 32" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2">
                  <path d="M8 21.028a9.29 9.29 0 0 0 5.032 1.474c6.038 0 9.34-5.002 9.34-9.338a7.52 7.52 0 0 0-.012-.426c.644-.464 1.198-1.04 1.64-1.698-.6.264-1.234.438-1.886.516.686-.41 1.198-1.056 1.442-1.816-.644.382-1.35.652-2.084.796A3.29 3.29 0 0 0 19.07 9.49a3.3 3.3 0 0 0-3.28 3.28 3.25 3.25 0 0 0 .09.76c-2.64-.132-5.102-1.38-6.766-3.43a3.27 3.27 0 0 0-.444 1.65 3.28 3.28 0 0 0 1.46 2.732c-.522-.016-1.032-.158-1.488-.41v.04a3.3 3.3 0 0 0 2.634 3.22c-.484.132-.99.15-1.482.056a3.29 3.29 0 0 0 3.066 2.28c-1.164.912-2.6 1.406-4.076 1.404A6.84 6.84 0 0 1 8 21.028z" fill="currentColor" fill-rule="nonzero"></path>
                </svg>
              </span>
              Twitter</a>
          </li>
          <li class="defra-social__channel">
            <a data-journey-click="{% if model.emailEvent %}{{ model.emailEvent }}{% endif %}" class="defra-social__link defra-social__link--email"  href="mailto:?subject=I%20want%20to%20share%20this%20government%20flood%20risk%20information%20with%20you&amp;body=I%20thought%20this%20flood%20risk%20information%20from%20the%20government%20would%20interest%20you.%0D%0A%0D%0A{{fullUrl | urlencode}}%0D%0A%0D%0APlease%20forward%20it%20to%20anyone%20else%20you%20think%20might%20find%20it%20useful.">
              <span class="defra-social__icon">
                <svg focusable="false" aria-hidden="true" width="32" height="32" viewBox="0 0 32 32" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2">
                  <path d="M24 22V10H8v12h16zm-14-8.831l5.993 5.148L22 13.173V20H10v-6.831zM20.295 12h-8.587l4.287 3.683 4.3-3.683z" fill="currentColor"></path>
                </svg>
              </span>
              Email</a>
          </li>
        </ul>
      </div>
  </div>
</div>
