.govuk-header--defra-banner-flood-warning {
    .govuk-header__container {
        border-bottom:0;
        margin-bottom:0;
    }
}
.defra-banner-warning {
    //background-color:#dee0e2;
    background-color:#F18700;
    border-top: 2px solid #ffffff;
    border-bottom: 10px solid #ffffff;
}
.defra-banner-warning__container {
    @extend .govuk-width-container;
    position:relative;
    padding:24px 0 22px 62px;
    @include mq ($from: tablet) {
        padding:26px 0 24px 68px;
    }
    margin-bottom:-10px;
    border-bottom:10px solid $govuk-link-colour;
    box-sizing:border-box;
}
.defra-banner-warning__icon {
    float:left;
    position:absolute;
    left:0px;
    width:60px;
    height:60px;
    top:50%;
    margin-top:-31px;
    background: transparent url('#{$govuk-images-path}icon-flood-symbols-2x.png') -60px -120px no-repeat;
    @include mq ($from: tablet) {
        background-position: -120px -120px;
    }
    background-size: 180px;
    text-indent:-5000px;
}
.defra-banner-warning__title {
    @extend .govuk-body-l;
    margin-bottom:0;
    font-weight:bold;
    //color:$govuk-text-colour;
    color:white;
}
.defra-banner-warning__caption {
    @extend .govuk-body;
    margin-bottom:0;
    font-weight:normal;
    display:block;
    //color:$govuk-text-colour;
    color:white;
}
.defra-banner-warning--severe {
    background-color:#E3000F;
    .defra-banner-warning__icon {
        background-position: -60px 0px;
        @include mq ($from: tablet) {
            background-position: -120px 0px;
        }
    }
}
.defra-banner-warning--warning {
    background-color:#E3000F;
    .defra-banner-warning__icon {
        background-position: -60px -60px;
        @include mq ($from: tablet) {
            background-position: -120px -60px;
        }
    }
}
