.defra-chart-controls {
  position: relative;
  z-index: 1;
  overflow: auto;
  margin: -3px -3px 0 -3px;
  padding: 3px 3px 0 3px;

  &__group {
    margin: auto;
    display: inline-block;
    padding-bottom: 4px;
  }

  &__group--pagination {
    float: right;
    margin-right: 10px;
  }

  &__button {
    @extend .defra-button-text-s;
    touch-action: manipulation;
    padding: 7.5px;
    display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none;
    margin-bottom: -4px;
    cursor: pointer;
    color: govuk-colour('blue');
  }

  &__button:hover {
    color: $govuk-link-hover-colour;
  }
  &__button--selected {
    border-bottom: 4px solid govuk-colour('blue');
  }
  &__button:focus {
    border-bottom: 4px solid govuk-colour('black');
    background-color: $govuk-focus-colour;
    color: govuk-colour('black');
    @include high-contrast-mode-only {
      outline: 3px solid transparent;
      margin-bottom: 1px;
      border: none;
    }
  }
  &__button[aria-disabled="true"]:focus {
    @include high-contrast-mode-only {
      background-color: transparent;
      box-shadow: none;
    }
  }
  &__button[aria-disabled="true"],
  &__button[aria-disabled="true"]:after,
  &__button[aria-disabled="true"]:before {
    color: govuk-colour('mid-grey');
    cursor: not-allowed;
    forced-color-adjust: none;
  }
  &__button:after,
  &__button:before {
    display: inline-block;
    border-width: 0 2px 2px 0;
    width: 8px;
    height: 8px;
    border-style: solid;
    color: $govuk-link-colour;
    margin-right: 2px;
    margin-left: 2px;
  }
  &__button[data-direction="forward"]:after {
    content: '';
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  &__button[data-direction="back"]:before {
    content: '';
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}
