.defra-chart-controls {
  position: relative;
  overflow: auto;
  z-index: 1;
  margin: -3px -3px 0px -3px;
  padding: 3px 3px 0px 3px;
}
.defra-chart-controls__period {
  margin: auto;
  display: inline-block;
  padding-bottom: 4px;
}
.defra-chart-controls__pagination {
  display: block;
  padding-bottom: 4px;
  float: right;
}
.defra-chart-controls-button {
  touch-action: manipulation;
  @extend .defra-button-text-s;
  padding: 7.5px;
  display: inline-block;
  position: relative;
  text-align: center;
  text-decoration: none;
  &--selected:not(:focus) {
    border-bottom: 4px solid govuk-colour('blue');
    margin-bottom: -4px;
  }
  &--selected:hover {
    border-bottom-color: $govuk-link-hover-colour;
  }
  &__icon {
    display: inline-block;
  }
  svg {
    position: relative;
    top: 1px;
    margin-left: 5px;
    color: govuk-colour('black');
    forced-color-adjust: auto;
  }
  &--back {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 15px;
    svg {
      margin-right: 5px;
      margin-left: 0px;
    }
  }
  &--forward {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
  }
  &[aria-disabled="true"] {
    cursor: not-allowed;
  }
  &[aria-disabled="true"]:not(:focus) {
    color: govuk-colour('mid-grey');
    svg {
      color: govuk-colour('mid-grey');
    }
  }
  @media screen and (-ms-high-contrast: active), screen and (forced-colors: active) {
    &[aria-disabled="true"] {
      color: GrayText !important;
      svg {
        color: GrayText !important;
      }
    }
  }
}
