.app-cookie-banner {
  @include govuk-font(16);
  @include govuk-text-colour;
  box-sizing: border-box;
  width: 100%;
  padding-top: govuk-spacing(3);
  padding-right: govuk-spacing(3);
  padding-bottom: govuk-spacing(3);
  padding-left: govuk-spacing(3);
  background-color: lighten(desaturate(govuk-colour("light-blue"), 8.46), 42.55);
}

.app-cookie-banner__message {
  margin: 0;
  @include govuk-width-container;
}

@include govuk-media-query($media-type: print) {
  .app-cookie-banner {
    display: none !important;
  }
}

.defra-cookie-banner {
  background-color: govuk-colour('light-grey');
  padding:20px 0px;
  &__button-set {
    margin-bottom:5px;
  }
}

.defra-cookie-banner__message {
  position:relative;
  margin: 0;
}

.defra-cookie-banner__confirmation {
  @extend .defra-cookie-banner__message;
  padding:5px 0px;
  p {
    @include mq ($from: tablet) {
      max-width: 85%;
      margin-bottom:0px;
    }
  }
}

.defra-cookie-banner__button-accept,
.defra-cookie-banner__button-set {
  @extend .govuk-button;
  margin-bottom:10px;
  @include mq ($from: tablet) {
    margin-bottom:10px;
    width:40%;
  }
}

.defra-cookie-banner__button-accept {
  margin-bottom:15px;
  @include mq ($from: tablet) {
    margin-bottom:10px;
    margin-right:20px;
  }
}

.defra-cookie-banner__button-hide {
  @extend .defra-button-text;
  @include mq ($from: tablet) {
    position:absolute;
    top:5px;
    right:0px;
  }
}

@include govuk-media-query($media-type: print) {
  .defra-cookie-banner {
    display: none !important;
  }
}
