.defra-flood-meta {
    @include govuk-font($size: 16);
    color:$govuk-text-colour;
    position:relative;
    padding-bottom:5px;
    border-bottom:1px solid $govuk-border-colour;
    margin-bottom: 20px;
    &--no-border {
        border: 0px;
        padding-bottom: 0
    }
    &--p {
      margin-bottom: 10px;
    }
}
