.defra-flood-nav {
    @include govuk-font($size: 16);
    margin-top: 15px;
    margin-left: -7.5px;
    margin-right: -7.5px;
    .defra-button-map-s,
    &__link {
        display: inline-block;
        margin-left: 7.5px;
        margin-right: 7.5px;
        margin-bottom: 10px;
    }
    &__link:visited {
        color: $govuk-link-colour;
    }
    &__link:hover {
        color: $govuk-link-hover-colour;
    }
    &__link:focus {
        color: $govuk-text-colour;
    }
}

