.defra-flood-meta {
    @include govuk-font($size: 16);
    color:$govuk-text-colour;
    position:relative;
    margin-top: 20px;
    &--border {
        padding-top:5px;
        border-top:1px solid $govuk-border-colour;
        margin-top: 25px;
    }
    &--p {
      margin-bottom: 10px;
    }
}
