.defra-flood-statistics {
    border-bottom:1px solid $govuk-border-colour;
    &__list {
        margin:0;
        @include mq ($from: tablet) {
            margin-left:-15px;
            margin-right:-15px;
        }
    }
    &__list:after {
        content:'';
        display:block;
        clear:both;
    }
    &__row {
        @include mq ($from: tablet) {
            width:33.33%;
            box-sizing: border-box;
            padding:0 15px;
            float:left;
        }
        @include govuk-responsive-padding(5, 'bottom');
    }
    &__key {
        border-top: 1px solid $govuk-border-colour;
        @include govuk-responsive-padding(4, 'top');
        @include govuk-font($size: 19);
    }
    &__value {
        @include govuk-font($size: 16);
        margin:0;
    }
    &__impact {
        @include govuk-font($size: 36, $weight: bold);
        @include govuk-responsive-margin(1, 'bottom');
        display: block;
    }
    &__impact--normal {
        color: govuk-colour('green');
    }
    &__impact--high {
        color: govuk-colour('red');
    }
}
