.defra-flood-meta {
    @include govuk-font($size: 16);
    color:$govuk-text-colour;
    @include govuk-responsive-margin(4, 'bottom');
    position:relative;
    &--border {
        padding-top:15px;
        border-top:1px solid $govuk-border-colour;
    }
    &--p {
      white-space: pre-line;
    }
}
