.defra-flood-statistics {
    border-top:1px solid $govuk-border-colour;
    border-bottom:1px solid $govuk-border-colour;
    &__list {
        margin:0;
        @include mq ($from: tablet) {
            margin-left:-15px;
            margin-right:-15px;
        }
        padding-bottom: 15px;
    }
    &__list:after {
        content:'';
        display:block;
        clear:both;
    }
    &__column {
        padding-top: 15px;
        @include mq ($from: tablet) {
            width:25%;
            box-sizing: border-box;
            padding-left: 15px;
            padding-right: 15px;
            float:left;
        }
    }
    &__key {
        @include govuk-font($size: 19);
        color: $govuk-secondary-text-colour;
    }
    &__value {
        @include govuk-font($size: 24, $weight: bold);
        margin:0;
        display: inline-block;
    }
    &__data-tip:focus {
        border-bottom: 0px;
        margin-bottom: 0px;
    }
    &__value-detail {
        @include govuk-font($size: 16);
        margin-top: 5px;
        display: block;
    }
}
