.defra-flood-status {
    padding-bottom:10px;
    @include mq ($from: tablet) {
        padding-bottom:15px;
    }
    svg {
        vertical-align: middle;
        width: 40px;
        height: 40px;
        @include mq ($from: tablet) {
            width: 50px;
            height: 50px;
        }
    }
    &--small svg {
        width: 30px;
        height: 30px;
        @include mq ($from: tablet) {
            width: 35px;
            height: 35px;
        }
    }
    &--full &-item__container {
        @include mq ($from: desktop) {
            width: 66.66%;
        }
    }
}
.defra-flood-status-item {
    @extend .govuk-inset-text;
    position: relative;
    padding: 0px;
    background-color: govuk-colour('light-grey');
    margin-top:0px;
    margin-bottom:10px;
    &:last-of-type {
        margin-bottom:5px;
    }
    &__container {
        position:relative;
        display: table;
        width: 100%;
        box-sizing: border-box;
    }
    &__text {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        padding:15px 15px 15px 0px;
        @include govuk-font($size: 19);
        strong {
            @include govuk-font($size: 19, $weight: bold);
        }
        @include mq ($from: tablet) {
            padding:20px 20px 20px 0px;
        }
    }
    &__text-secondary {
        display: block;
    }
    .defra-flood-status-item__text:first-child {
        padding:15px 20px 15px 20px;
    }
    .defra-flood-status-item__icon {
        display: table-cell;
        vertical-align: middle;
        padding:7.5px 10px;
        @include mq ($from: tablet) {
            padding:10px 12.5px;
        }
    }
    &:after {
        position: absolute;
        box-sizing: border-box;
        content: '';
        left: 0px;
        top: 0px;
        bottom: 0px;
        right: 0px;
        border: 1px solid transparent;
        pointer-events: none;
    }
}
.defra-flood-status-item--severe {
    background-color: govuk-tint(#e3000f, 93);
    border-color:#e3000f;
    &:after {
        color: govuk-tint(#e3000f, 93);
        border-color: currentColor;
    }
}
.defra-flood-status-item--warning {
    background-color:govuk-tint(#e3000f, 93);
    border-color:#e3000f;
    &:after {
        color: govuk-tint(#e3000f, 93);
        border-color: currentColor;
    }
}
.defra-flood-status-item--alert {
    background-color: govuk-tint(#f18700, 90);
    border-color:#f18700;
    &:after {
        color: govuk-tint(#f18700, 90);
        border-color: currentColor;
    }
}
.defra-flood-status-item--important {
    background-color: govuk-tint(govuk-colour('blue'), 90);
    border-color: govuk-colour('blue');
    &:after {
        color: govuk-tint(govuk-colour('blue'), 90%);
        border-color: currentColor;
    }
    svg {
        vertical-align: middle;
        color: white;
        width: 20px;
        height: 20px;
        margin: 0px 5px;
        @include mq ($from: tablet) {
            width: 25px;
            height: 25px;
        }
        > circle {
            color: transparent;
            fill: govuk-colour('black');
            stroke: currentColor;
            stroke-width: 2px;
        }
    }
}
.defra-flood-status-item--information {
    background-color: transparent;
    border-color: govuk-colour('mid-grey');
    &:after {
        color: govuk-colour('mid-grey');
        border-color: currentColor;
    }
    svg {
        vertical-align: middle;
        color: govuk-colour('dark-grey');
        width: 20px;
        height: 20px;
        margin: 0px 5px;
        @include mq ($from: tablet) {
            width: 25px;
            height: 25px;
        }
    }
}
/*
.defra-flood-status-item--removed {
    .defra-flood-status-item__icon:after {
        background-position: 100% 75%;
    }
}
*/
.defra-flood-status__text {
    @extend .govuk-body;
    @include govuk-responsive-margin(3, 'top');
    margin-bottom: 5px;
}
