.defra-flood-tabs {
    margin-bottom:0px;
    .govuk-tabs__list {
        display: none; 
    }
    .govuk-tabs__list-item {
        text-align: left;
    }
    .govuk-tabs__list-item--has-warning {
        padding-right: 40px;
    }
    .govuk-tabs__panel {
        margin-bottom:0px;
    }
    .govuk-tabs__tab {
        text-decoration: none;
        text-align: left;
    }
    > h3 {
        display: none;
    }
    .govuk-tabs__title {
        @include defra-visually-hidden();
    }
    border-bottom:1px solid $govuk-border-colour;
    margin-bottom:10px;
    @include mq ($from: tablet) {
        border-bottom:0px;
        margin-bottom:0px;
    }
    &__label {
        text-decoration: underline;
    }
    &__label-risk {
        display:block;
        @include govuk-font($size: 14);
        text-decoration: none;
    }
    &__icon {
        display: inline-block;
        text-indent: -5000px;
        margin: -3px -2px 0px 3px;
        vertical-align: middle;
        width:18px;
        height:18px;
        background-size: 100%;
        &--low {
            background-image: svg-url('<svg width="22" height="22" viewBox="0 0 22 22"><path d="M9.257,2.094C9.57,1.447 10.233,1 11,1C11.767,1 12.43,1.447 12.744,2.095L12.744,2.095L20.785,18.178L20.785,18.178C20.922,18.444 21,18.745 21,19.065C21,20.132 20.134,20.999 19.066,21L19.066,21L2.935,21L2.935,21C1.867,21 1,20.133 1,19.065C1,18.745 1.078,18.444 1.215,18.178L1.215,18.178L9.257,2.094L9.257,2.094Z" style="fill:#FFBF47;"/><path d="M19.066,22L19.061,22C19.061,22 19.061,22 19.064,22C19.064,22 2.935,22 2.935,22C2.935,22 2.935,21.818 2.935,21L2.082,21C2.263,21 2.587,21 2.935,22C1.315,22 0,20.685 0,19.065C0,18.586 0.115,18.134 0.319,17.734L0.32,17.731L8.362,1.647L8.364,1.643C8.842,0.67 9.844,0 11,0C12.157,0 13.158,0.67 13.636,1.643L13.638,1.648L21.68,17.731L21.681,17.734C21.885,18.134 22,18.586 22,19.065C22,20.684 20.686,21.999 19.067,22L19.068,22C19.065,22 19.066,22 19.066,22L19.066,22ZM3.789,21L19.066,21C20.134,20.999 21,20.132 21,19.065C21,18.745 20.922,18.444 20.785,18.178L12.744,2.095C12.43,1.447 11.767,1 11,1C10.233,1 9.57,1.447 9.257,2.094L1.215,18.178C1.078,18.444 1,18.745 1,19.065C1,20.133 1.867,21 2.935,21C2.935,21 3.789,21 3.789,21L3.789,21Z" style="fill:transparent;"/><circle cx="11" cy="16.067" r="1.276" style="fill:white;"/><path d="M11.999,7.857L10.001,7.857L10.168,14.099L11.832,14.099L11.999,7.857Z" style="fill:white;"/></svg>');
        }
        &--medium {
            background-image: svg-url('<svg width="22" height="22" viewBox="0 0 22 22"><path d="M9.257,2.094C9.57,1.447 10.233,1 11,1C11.767,1 12.43,1.447 12.744,2.095L12.744,2.095L20.785,18.178L20.785,18.178C20.922,18.444 21,18.745 21,19.065C21,20.132 20.134,20.999 19.066,21L19.066,21L2.935,21L2.935,21C1.867,21 1,20.133 1,19.065C1,18.745 1.078,18.444 1.215,18.178L1.215,18.178L9.257,2.094L9.257,2.094Z" style="fill:#F47738;"/><path d="M19.066,22L19.061,22C19.061,22 19.061,22 19.064,22C19.064,22 2.935,22 2.935,22C2.935,22 2.935,21.818 2.935,21L2.082,21C2.263,21 2.587,21 2.935,22C1.315,22 0,20.685 0,19.065C0,18.586 0.115,18.134 0.319,17.734L0.32,17.731L8.362,1.647L8.364,1.643C8.842,0.67 9.844,0 11,0C12.157,0 13.158,0.67 13.636,1.643L13.638,1.648L21.68,17.731L21.681,17.734C21.885,18.134 22,18.586 22,19.065C22,20.684 20.686,21.999 19.067,22L19.068,22C19.065,22 19.066,22 19.066,22L19.066,22ZM3.789,21L19.066,21C20.134,20.999 21,20.132 21,19.065C21,18.745 20.922,18.444 20.785,18.178L12.744,2.095C12.43,1.447 11.767,1 11,1C10.233,1 9.57,1.447 9.257,2.094L1.215,18.178C1.078,18.444 1,18.745 1,19.065C1,20.133 1.867,21 2.935,21C2.935,21 3.789,21 3.789,21L3.789,21Z" style="fill:transparent;"/><circle cx="11" cy="16.067" r="1.276" style="fill:white;"/><path d="M11.999,7.857L10.001,7.857L10.168,14.099L11.832,14.099L11.999,7.857Z" style="fill:white;"/></svg>');
        }
        &--high {
            background-image: svg-url('<svg width="22" height="22" viewBox="0 0 22 22"><path d="M9.257,2.094C9.57,1.447 10.233,1 11,1C11.767,1 12.43,1.447 12.744,2.095L12.744,2.095L20.785,18.178L20.785,18.178C20.922,18.444 21,18.745 21,19.065C21,20.132 20.134,20.999 19.066,21L19.066,21L2.935,21L2.935,21C1.867,21 1,20.133 1,19.065C1,18.745 1.078,18.444 1.215,18.178L1.215,18.178L9.257,2.094L9.257,2.094Z" style="fill:#d4351c;"/><path d="M19.066,22L19.061,22C19.061,22 19.061,22 19.064,22C19.064,22 2.935,22 2.935,22C2.935,22 2.935,21.818 2.935,21L2.082,21C2.263,21 2.587,21 2.935,22C1.315,22 0,20.685 0,19.065C0,18.586 0.115,18.134 0.319,17.734L0.32,17.731L8.362,1.647L8.364,1.643C8.842,0.67 9.844,0 11,0C12.157,0 13.158,0.67 13.636,1.643L13.638,1.648L21.68,17.731L21.681,17.734C21.885,18.134 22,18.586 22,19.065C22,20.684 20.686,21.999 19.067,22L19.068,22C19.065,22 19.066,22 19.066,22L19.066,22ZM3.789,21L19.066,21C20.134,20.999 21,20.132 21,19.065C21,18.745 20.922,18.444 20.785,18.178L12.744,2.095C12.43,1.447 11.767,1 11,1C10.233,1 9.57,1.447 9.257,2.094L1.215,18.178C1.078,18.444 1,18.745 1,19.065C1,20.133 1.867,21 2.935,21C2.935,21 3.789,21 3.789,21L3.789,21Z" style="fill:transparent;"/><circle cx="11" cy="16.067" r="1.276" style="fill:white;"/><path d="M11.999,7.857L10.001,7.857L10.168,14.099L11.832,14.099L11.999,7.857Z" style="fill:white;"/></svg>');
        }
    }
    button {
        display: none;
        @include mq ($from: tablet) {
            display: block;
        }
    }
}
.defra-flood-tabs-risk {
    display: block;
    position: absolute;
    text-indent: -5000px;
    height:8px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    border: 1px solid white;
    span {
        float:left;
        width:25%;
        height: 100%;
        text-indent: -5000px;
        background-color: govuk-colour('light-grey');
        border: 1px solid white;
        box-sizing: border-box;
    }
    &--very-low span:nth-child(1) {
        background-color: govuk-colour('light-green');
    }
    &--low span:nth-child(2) {
        background-color: govuk-colour('yellow');
    }
}
.defra-flood-tabs .govuk-tabs__list-item--selected {
    .defra-flood-tabs-risk {
        display: none;
    }
}
.js-enabled {
    .defra-flood-tabs .govuk-tabs__tab:active .defra-flood-tabs__label,
    .defra-flood-tabs .govuk-tabs__tab:focus .defra-flood-tabs__label,
    .govuk-tabs__list-item--selected .defra-flood-tabs__label {
        text-decoration: none;
    }
}
.js-enabled .defra-flood-tabs {
    > h3 {
        @include mq ($from: tablet) {
            display: block;
        }
    }
    .govuk-tabs__list {
        @include mq ($from: tablet) {
            display: block;
        }  
    }
    .govuk-tabs__tab time {
        white-space: nowrap;
        span {
            @include defra-visually-hidden();
        }
    }
    .govuk-tabs__panel {
        @include mq ($from: tablet) {
            @include govuk-responsive-margin(2, 'bottom')
        }
    }   
    .govuk-tabs__panel h3 {
        @include mq ($from: tablet) {
            @include defra-visually-hidden();
        }
    }
}