.defra-live {
  position: relative;
  border: 2px solid govuk-colour('blue');
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 15px;
  &__title {
    @extend .govuk-tag;
    @include govuk-font($size: 16);
    margin-top: 0px;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #1C70B8;
    color: white;
    word-spacing: 0.15em;

    // Add contrast-specific styles for high contrast mode
    @media (forced-colors: active) {
      background-color: Canvas; // Ensures light background in contrast mode
      border: 2px solid ButtonText; // Adds a visible border in high contrast
      color: ButtonText; // Uses the system's high-contrast text color
    }
  }  
  &__supplementary {
    @include govuk-font($size: 16);
    color: $govuk-secondary-text-colour;
    margin: 0;
  }
}