.defra-search {
    display:table;
    width:100%;
    &__input {
        @extend .govuk-input;
        display: table-cell;
        position: relative;
        z-index: 1;
        white-space: nowrap;
    }
    &__input::-webkit-search-decoration {
        -webkit-appearance: none;
    }
    &__input:focus {
        z-index: 2;
    }
    &__submit-container {
        display: table-cell;
        vertical-align: top;
        position: relative;
        white-space: nowrap;
        width:40px;
    }
    &__button {
        display: block;
        position:relative;
        width: 40px;
        height: 40px;
        margin:0px;
        padding:0px;
        box-shadow:none;
        text-indent:-5000px;
        background-color:govuk-colour('blue');
        border: 2px solid govuk-colour('blue');
        z-index: 1;
        cursor: pointer;
    }
    &__button:after {
        position:absolute;
        content:'';
        width:20px;
        height:20px;
        top:50%;
        left:50%;
        margin:-10px 0px 0px -10px;
        background-image: url('#{$govuk-images-path}icon-search.svg');
        background-position: 0% 0%;
        background-size:40px 20px;
        background-repeat: no-repeat;
    }
    &__button:hover {
        background-color: govuk-colour('light-blue');
        border-color: govuk-colour('light-blue');
    }
    &__button:focus,
    &__button:active {
        background-color: $govuk-focus-colour;
        border-color: $govuk-focus-colour;
        outline:0;
        z-index: 2;
    }
    &__button:focus:after,
    &__button:active:after {
        background-position: 100% 0%;
    }
}
.defra-search-summary {
    position:relative;
    border-bottom:1px solid govuk-colour('black');
    margin-bottom:10px;
    &__count {
        @extend .govuk-body;
        @include govuk-responsive-margin(1, 'bottom');
    }
    .defra-button-map-s {
        position:absolute;
        right:0px;
        top:2px;
        @include mq ($from: tablet) {
            top:3px;
        }
    }
}
