/* no-js / old-ie */
.noscript-iframe {
  display: block;
  margin-top: 30px;
}

.js-enabled .noscript-iframe {
  display: none;
}

// Turn off when Javascript is off
.nojs-hide {
  display: none;
}

.js-enabled .nojs-hide {
  display: block;
}

// Turn on when Javascript is off
.nojs-show {
  display: block;
}

.js-enabled .nojs-show {
  display: none;
}

// IE 6/7/8 Turn off when Javascript is turned on
.lte-ie8 {
  .ie-hide {
    display: none;
  }
  .ie-show {
    display: block;
  }
}

.ie-show {
  display: none;
}

/* General Hide / Show */
.show {
  display: block;
}
.hide {
  display: none;
}

.visible-mobile {
  @include mq ($from: tablet) {
    display: none!important;
  }
}

.hidden-mobile {
  @include mq ($until: tablet) {
    display: none!important;
  }
}

.no-wrap {
  white-space: nowrap;
}
