{% extends 'layout.html' %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            About water measurements
        </h1>
    </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">How river levels are measured</h2>
    <p>Point close to river bed called site datum, measurements are relative to this.</p>
    <h2 class="govuk-heading-m">Why some rivers levels are below zero</h2>
    <p>River bed can vary but measureing stick is fixed</p>
    <h2 class="govuk-heading-m">What is normal or typical range</h2>
    <p>Include low, normal or high</p>
    <h2 class="govuk-heading-m">How coatal and tidal levels are measured</h2>
    <p>Text</p>
    <h2 class="govuk-heading-m">How groundwater levels are measured</h2>
    <p>Text</p>
    <h2 class="govuk-heading-m">Why there may be a time lag before the last reading</h2>
    <p>Text</p>
    <h2 class="govuk-heading-m">How accurate are the forecasts</h2>
    <p>Text</p>
    <h2 class="govuk-heading-m">How accurate are historic flood impact levels</h2>
    <p>Text</p>
  </div>
  <div class="govuk-grid-column-one-third">
      <aside class="defra-related-items" role="complementary">
          <h2 class="govuk-heading-s" id="subsection-title">
              Related content
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
              <ul class="govuk-list govuk-!-font-size-16">
                  <li>
                      <a class="govuk-link" href="/what-to-do-in-a-flood">
                          What to do in a flood
                      </a>
                  </li>
                  <li>
                      <a class="govuk-link" href="/recovering-after-a-flood">
                          How to recover after a flood
                      </a>
                  </li>
                  <li>
                      <a class="govuk-link" href="/what-happens-after-a-flood">
                          What happens after a flood
                      </a>
                  </li>
              </ul>
          </nav>
      </aside>
  </div>
</div>
{% endblock %}
