{% extends 'layout.html' %}
{% block content %}
{% set metaNoIndex = true %}

{% include "partials/back-button.html" %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            How we measure river, sea and groundwater levels
        </h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <nav class="defra-contents govuk-!-margin-bottom-6" aria-labelledby="contents-title">
            <h2 class="defra-contents__title" id="contents-title">Contents</h2>
            <ol class="defra-contents__list">
                <li class="defra-contents__item"><a href="#river-levels">River levels</a></li>
                <li class="defra-contents__item"><a href="#sea-levels">Sea and groundwater levels</a></li>
                <li class="defra-contents__item"><a href="#updates">How often levels are updated</a></li>
                <li class="defra-contents__item"><a href="#what-normal-means">What 'low', 'normal' and 'high' mean</a>
                </li>
            </ol>
        </nav>
        <h2 class="govuk-heading-m" id="river-levels">River levels</h2>
        <div>
            <p>We usually measure the height of rivers relative to a fixed point on or close to the riverbed (local
                datum).</p>
            <p>We also take some measurements relative to average sea level. This is called ‘ordnance datum’ (mAOD).</p>
        </div>
        <h3 class="govuk-heading-s">Why a river level can be 0 metres or below</h3>
        <div>
            <p>Although we take measurements from a fixed point, erosion or silt deposits can cause the riverbed to
                change height. This does not affect the accuracy of the measurements.</p>
        </div>
        <h3 class="govuk-heading-s">How we forecast river levels</h3>
        <div>
            <p>River level forecasts on the service come directly from a computer model.</p>
            <p>Unlike the forecasts in our flood warnings, these are not refined by a flood forecaster.</p>
            <p>Always <a href="https://check-for-flooding.service.gov.uk/alerts-and-warnings">check for flood
                    warnings</a> if you're concerned about a river level forecast.</p>
            <p>The models combine real time rainfall and river level observations, along with rainfall and tidal
                forecasts. The models can be affected by the accuracy of these factors.</p>
            <p>Smaller catchments are more sensitive to small variations in rainfall intensity. This can also affect the
                accuracy of the modelled forecast.</p>
            <p>The nature of computer modelling also means that sometimes it does not represent the current state of the
                catchment well enough without being adjusted by a flood forecaster.</p>
        </div>
        <h3 class="govuk-heading-s">Why a forecast in a flood warning might be different to the service</h3>
        <div>
            <p>You might get a flood warning which includes forecasted river levels that are different to what's shown
                at the nearest measuring station on the service.</p>
            <p>This is because forecasted levels included in flood warnings might be adjusted by an Environment Agency
                flood forecaster. They are specially trained to interpret flood computer models and understand river
                catchments.</p>
            <p>This is why you should always check for flood warnings if you are in doubt about a sudden spike in
                forecasted river levels on the service.</p>
        </div>
        <h2 class="govuk-heading-m" id="sea-levels">Sea and groundwater levels</h2>
        <div>
            <p>We measure the height of the tide and groundwater in metres relative to average sea level. This is called
                ‘ordnance datum’ (mAOD).</p>
        </div>
        <h2 class="govuk-heading-m" id="updates">How often levels are updated</h2>
        <div>
            <p>The latest level is updated once or twice a day when there’s a low risk of flooding. It’s updated more
                frequently when the risk of flooding increases.</p>
        </div>
        <h2 class="govuk-heading-m" id="what-normal-means">What 'low', 'normal' and 'high' mean</h2>
        <div>
            <p>We calculate the ‘normal’ range using an average of past measurements and other local factors. Low,
                normal and high are shown when the latest level is below, within or above this range.</p>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <aside class="defra-related-items" role="complementary">
            <h2 class="govuk-heading-s" id="subsection-title">
                Related content
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                    <li>
                        <a class="govuk-link" href="/what-to-do-in-a-flood">
                            What to do in a flood
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" href="/recovering-after-a-flood">
                            How to recover after a flood
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" href="/what-happens-after-a-flood">
                            What happens after a flood
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
</div>
{% endblock %}
