{% extends 'layout.html' %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Accessibility statement for Check for flooding</h1>
      <p>This accessibility statement applies to content published on the check-for-flooding.service.gov.uk domain.</p>
      <p>This website is run by the Environment Agency. We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>change colours, contrast levels and fonts</li>
        <li>zoom in up to 300% without the text spilling off the screen</li>
        <li>navigate most of the website using just a keyboard</li>
        <li>navigate most of the website using speech recognition software</li>
        <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
      </ul>
      <p>We’ve also made the website text as simple as possible to understand.</p>
      <p><a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>
  
      <h2 class="govuk-heading-m">How accessible this website is</h2>
      <p>We know some parts of this website are not fully accessible:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>maps</li>
        <li>graphs</li>
      </ul>
  
      <h2 class="govuk-heading-m">Feedback and contact information</h2>
      <p>You can call Floodline, who will provide all of the information that’s on our website and tell you if you are currently at risk of flooding.</p>
      <p>Floodline provides a text relay service for people who are D/deaf, hearing impaired or have a speech impediment.</p>
      <p>Telephone: 0345 988 1188</br>Textphone: 0345 602 6340</p>
      <p>This is a 24 hour service.</p>
  
      <h2 class="govuk-heading-m">Reporting accessibility problems with this website</h2>
      <p>We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, email: enquiries@environment-agency.gov.uk.</p>
  
      <h2 class="govuk-heading-m">Enforcement procedure</h2>
      <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, contact the Equality Advisory and Support Service (EASS).</p>
  
      <h2 class="govuk-heading-m">Technical information about this website’s accessibility</h2>
      <p>The Environment Agency is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
  
      <h3 class="govuk-heading-s">Compliance status</h3>
      <p>This website is partially compliant with the Web Content Accessibility Guidelines version 2.1 AA standard, due to the non-compliances and exemptions listed below.</p>
  
      <h2 class="govuk-heading-m">Non-accessible content</h2>
      <p>The content listed below is non-accessible for the following reasons.</p>
  
      <h3 class="govuk-heading-s">Non-compliance with the accessibility regulations</h3>
      <p>Some river level pages include a forecast of the level, and the forecast data is in the downloadable 'height data CSV'. But once downloaded, the forecast data is soon out of date as the forecast is updated every 15 minutes. This fails WCAG 2.1 success criterion 1.1.1 (non-text content). We plan to have an alternative way to present the river level forecast in an accessible format by March 2022.</p>
      <p>Charts visually convey if a river level is rising, falling or stable. This fails WCAG 2.1 success criterion 1.1.1 (non-text content). We plan to have a text version of this real time data by March 2022.</p>
      <p>The close button on the chart label is not operable using the keyboard and neither is selecting an inactive threshold line. This fails WCAG 2.1 success criterion 2.1.1 (keyboard accessible). We plan to add close button to tabindex by March 2022.</p>
  
      <h3 class="govuk-heading-s">Content that’s not within the scope of the accessibility regulations</h3>
      <p>The website has the following content which is out of scope of the accessibility regulations:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>online maps and mapping services</li>
        <li>third party content which is out of our control, for example a corporate logo on the map the website uses</li>
      </ul>
  
      <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
      <p>This statement was prepared on 17 September 2021. It was last reviewed on 17 September 2021.</p>
      <p>This website was last tested 18 September 2020. The test was carried out by Digital Accessibility Centre (DAC).</p>
  
    </div>
  </div>
{% endblock %}
