{% extends 'layout.html' %}

{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "input/macro.njk" import govukInput %}

{% block content %}

{% if model.referer %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full" id="browserBackContainer"></div>
</div>
{% endif %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Flood alerts and warnings
        </h1>
    </div>
</div>

{% if model.error %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="defra-service-error govuk-!-margin-bottom-7">
      <h2 class="defra-service-error__title" id="error-summary-title">
        Sorry, there is currently a problem searching a location
      </h2>
      <p>Try again later, or use the list to find a warning or alert.</p>
    </div>
  </div>
</div>
{% endif %}
{% if model.station.agency_name %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p>Showing alerts and warnings within 5 miles of {{model.station.agency_name }}. <a href="/alerts-and-warnings">Show all alerts and warnings</a></p>
  </div>
</div>
{% endif %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group defra-search">
        <form method="post" autocomplete="off">
          <div class="govuk-form-group">
            <label class="govuk-label" for="location">Search a location</label>
              <div class="defra-search">
                <input class="defra-search__input" id="location" name="location" type="search" spellcheck="false" value="{% if model.placeName %}{{ model.placeName }}{% else %}{{ model.q }}{% endif %}">
                <div class="defra-search__submit-container">
                  <button class="defra-search__button">Search</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    
    <div class="govuk-grid-column-two-thirds">
        <div class="defra-search-summary" id="searchSummary">
            <h2 class="defra-search-summary__count">{{ model.countFloods }} result{% if model.countFloods != 1 %}s{% endif %}</h2>
            <span id="{{ model.map }}"></span>
        </div>
        {% if model.countFloods %}
        <ul class="defra-flood-list">
            {% for group in model.floods %}
                {% if group.count > 0 %}
                <li id="{{ group.severity.pluralisedHash }}" class="defra-flood-list__group">
                    <span class="defra-flood-list__group-title">
                        {{ group.count }} {% if group.count != 1 %}{{ group.severity.pluralisedTitle | lower }}{% else %}{{ group.severity.title | lower }}{% endif %}
                        <span>{{ group.severity.subTitle }}</span>
                    </span>
                    <ul class="defra-flood-list__items defra-flood-list__items--warnings">
                    {% for item in group.floods %}
                        {{ item.html | safe }}
                    {% endfor %}
                    </ul>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
        {% else %}

        {% if model.isEngland === false %}

          <p class="govuk-body govuk-!-margin-top-4">
            <strong>This service provides flood risk information for England only.</strong>    
          </p>
          <p>Flood risk information for Northern Ireland is available from <a href="https://www.nidirect.gov.uk/articles/check-the-risk-of-flooding-in-your-area">Northern Ireland Direct</a>.</p>
          <p>Flood risk information for Scotland is available from <a href="https://www.sepa.org.uk/environment/water/flooding/">the Scottish Environment Protection Agency</a>.</p>
          <p>Flood risk information for Wales is available from <a href="https://naturalresources.wales/flooding?lang=en">Natural Resources Wales</a>.</p>

        {% else %}
        <p class="govuk-body govuk-!-margin-top-4">
            <strong>No flood alerts or warnings{% if model.placeName or model.q %} near this location{% endif %}.</strong>
        </p>
        <p class="govuk-body">Improve your search results by:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>removing the filter</li>
            <li>searching a broader location</li>
            <li>double-checking your spelling</li>
        </ul>
        {% endif %}
        {% endif %}
    </div>
</div>

{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script>
  window.flood.model = {{ model.expose | dump(2) | safe }}
</script>
<script src="{{assetPath}}/js/templates.js"></script>
<script src="{{assetPath}}/js/alerts-and-warnings.js"></script>
{% endblock %}
