{% extends 'layout.html' %}

{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "input/macro.njk" import govukInput %}

{% block content %}

{% if model.referer %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full" id="browserBackContainer"></div>
</div>
{% endif %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Flood alerts and warnings
        </h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group defra-search">
            <form method="post">
                <label class="govuk-label govuk-!-padding-bottom-1" for="location">Filter by postcode or town</label>
                <input class="defra-input defra-input--search" id="location" name="location" type="text" value="{% if model.placeName %}{{ model.placeName }}{% else %}{{ model.q }}{% endif %}">
            </form>
        </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <div class="defra-search-summary" id="searchSummary">
            <h2 class="defra-search-summary__count">{{ model.countFloods }} result{% if model.countFloods != 1 %}s{% endif %}</h2>
        </div>
        {% if model.countFloods %}
        <ul class="defra-flood-list">
            {% for group in model.floods %}
                {% if group.count > 0 %}
                <li id="{{ group.severity.pluralisedHash }}" class="defra-flood-list__group">
                    <span class="defra-flood-list__group-title">
                        {{ group.count }} {% if group.count != 1 %}{{ group.severity.pluralisedTitle | lower }}{% else %}{{ group.severity.title | lower }}{% endif %}
                        <span>{{ group.severity.subTitle }}</span>
                    </span>
                    <ul class="defra-flood-list__items defra-flood-list__items--warnings">
                    {% for item in group.floods %}
                        {{ item.html | safe }}
                    {% endfor %}
                    </ul>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
        {% else %}
        <p class="govuk-body govuk-!-margin-top-4">
            <strong>No flood alerts or warnings{% if model.placeName or model.q %} near this location{% endif %}.</strong>
        </p>
        <p class="govuk-body">Improve your search results by:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>removing the filter</li>
            <li>searching a broader location</li>
            <li>double-checking your spelling</li>
        </ul>
        {% endif %}
    </div>
</div>

<div class="defra-map" id="map-live"></div>

{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script>
  window.flood.model = {{ model.expose | dump(2) | safe }}
</script>
<script src="{{assetPath}}/js/templates.js"></script>
<script src="{{assetPath}}/js/alerts-and-warnings.js"></script>
{% endblock %}
