{% extends 'layout.html' %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Flood risk</span>
        <h1 class="govuk-heading-xl">Give your consent before using the flood information service prototype</h1>
        <p>Thank you for taking part in our research. We’d like you to look at a prototype
         service we’re working on. You can use it in exactly the same way and for the
         same reasons you would use the real service.</p>

        <p>This prototype uses real data to provide a picture of flood risk in any area you select.</p>
        

        <p>We’d like to know about your experience as you use it. Tell us about it using 
        the feedback button you should see on the right hand side of your screen, or 
        by <a href="mailto:floodresearch@environment-agency.gov.uk">emailing us</a>. What makes your experience good, or not so good? What 
        frustrates you? What’s missing? How does it make you feel?</p>

        <p>Be honest. We want to understand what the service needs to look like and 
        what it needs to do. Everything we learn will be used to streamline the design 
        and improve the usability of the service.</p>

        <h3 class="govuk-heading-m">Before you start</h3>
        
        <p>By proceeding you are consenting to our use of <a href="https://www.gov.uk/help/cookies">cookies</a>. These are small 
        files we place onto your computer to collect information about how you browse the service.</p>

        <p>Find out more about cookies on GOV.UK and <a href="https://ico.org.uk/for-the-public/online/cookies/">how to manage cookies</a>. 
        You can also learn more about how we use cookies and related 
        technologies by reading our <a href="/privacy-policy">privacy policy</a> and the <a href="https://www.hotjar.com/legal/policies/privacy">Hotjar privacy policy</a>.</p>
    
        <p>Select ‘Consent and go to prototype' to proceed.</p>

        <a href="/start-page" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          Consent and go to prototype
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
           <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>

        <h3 class="govuk-heading-m">Provide feedback</h3>

        <p>It’s important that we learn more about your experience using this prototype. You can contact us by emailing <a href="mailto:floodresearch@environment-agency.gov.uk">floodresearch@environment-agency.gov.uk</a>.</p>

        <p>You can also leave comments using the feedback button located on the right hand edge of the screen.</p>
        
        <h3 class="govuk-heading-m">Use the live service instead</h3>

        <p class="govuk-body">If you don't want to use this prototype you can view the <a href="https://flood-warning-information.service.gov.uk/warnings">live flood information service at anytime</a>.</p>
      </div>
    </div>
</div>
{% endblock %}
