{% extends 'layout.html' %}
{% from "table/macro.njk" import govukTable %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Flood information service</span>
        <h1 class="govuk-heading-xl">Cookies</h1>
          <div class="govuk-govspeak">
            <p>Cookies are small files put onto your device when you visit and browse a website. They’re used to:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>measure how you use the website so it can be improved to suit your needs</li>
                <li>remember the notifications you've seen so you're not shown them again</li>
              </ul>
            <p>Cookies aren't used to identify you.</p>
            <p>You can delete cookies from your device. <a href="https://ico.org.uk/for-the-public/online/cookies">Find out how to manage cookies</a>.</p>
            <h2 class="govuk-heading-m">The cookies we use</h2>
                <h3 class="govuk-heading-s">Introductory message cookie</h3>
                <p>When you first visit these pages, you may see a cookie message appear at the top of the screen. Once you’ve seen the message, we store a cookie on your device so your browser does not show it again.</p>
                <table class="govuk-table">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Cookie name</th>
                      <th scope="col" class="govuk-table__header govuk-!-width-one-half">What it does</th>
                      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">How long it stays on your device</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td scope="row" class="govuk-table__cell">seen_cookie_message</td>
                      <td class="govuk-table__cell">Stops the browser showing the cookie message after the first showing</td>
                      <td class="govuk-table__cell">1 month</td>
                    </tr>
                    </tbody>
                </table>
                <h3 class="govuk-heading-s">Google Analytics cookies</h3>
                  <p>We use Google Analytics to collect information about how people use our services. This information helps us to make improvements.</p>
                  <p>Google Analytics cookies collect and store information about:</p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>the pages you visit</li>
                      <li>how long you spend on each page</li>
                      <li>how you got to the service</li>
                      <li>what you click on while you’re using the service</li>
                    </ul>
                    <table class="govuk-table">
                      <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Cookie name</th>
                          <th scope="col" class="govuk-table__header govuk-!-width-one-half">What it does</th>
                          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">How long it stays on your device</th>
                      </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                          <td class="govuk-table__cell">_ga</td>
                          <td class="govuk-table__cell">Helps us count how many people visit GOV.UK by tracking if you’ve visited before.</td>
                          <td class="govuk-table__cell">2 years</td>
                      </tr>
                      <tr class="govuk-table__row">
                          <td class="govuk-table__cell">_gid</td>
                          <td class="govuk-table__cell">Helps us count how many people visit GOV.UK by tracking if you’ve visited before.</td>
                          <td class="govuk-table__cell">24 hours</td>
                      </tr>
                      <tr class="govuk-table__row">
                          <td class="govuk-table__cell">_gat</td>
                          <td class="govuk-table__cell">Manages the rate at which page view requests are made.</td>
                          <td class="govuk-table__cell">10 minutes</td>
                      </tr>
                      <tr class="govuk-table__row">
                          <td class="govuk-table__cell">_utma</td>
                          <td class="govuk-table__cell">Like _ga, this lets us know if you’ve visited before, so we can count how many of our visitors are new to GOV.UK or to a certain page</td>
                          <td class="govuk-table__cell">2 years</td>
                      </tr>
                      <tr class="govuk-table__row">
                          <td class="govuk-table__cell">_utmb</td>
                          <td class="govuk-table__cell">This works with _utmc to calculate the average length of time you spend on GOV.UK</td>
                          <td class="govuk-table__cell">30 minutes</td>
                      </tr>
                      <tr class="govuk-table__row">
                          <td class="govuk-table__cell">_utmc</td>
                          <td class="govuk-table__cell">This works with _utmb to calculate when you close your browser</td>
                          <td class="govuk-table__cell">Until you close your browser</td>
                      </tr>
                      <tr class="govuk-table__row">
                          <td class="govuk-table__cell">_utmz</td>
                          <td class="govuk-table__cell">This tells us how you reached GOV.UK (for example from another website or a search engine)</td>
                          <td class="govuk-table__cell">6 months</td>
                      </tr>
                      </tbody>
                    </table>
                    <p>You can <a href="https://tools.google.com/dlpage/gaoptout/">opt out of Google Analytics cookies</a>.</p>
                    <h3 class="govuk-heading-s">Quick feedback cookies</h3>
                    <p>We install these cookie when we’re using a ‘was this useful’ button to evaluate new content. The cookie stops the question appearing if you’ve already answered it.</p>
                    <table class="govuk-table">
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Cookie name</th>
                          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">What it does</th>
                          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">How long it stays on your device</th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">quick-feedback</td>
                          <td class="govuk-table__cell">Tells us you’ve chosen Yes or No so we don’t ask the question again.</td>
                          <td class="govuk-table__cell">24 hours</td>
                        </tr>
                      </tbody>
                    </table>
                  <h3 class="govuk-heading-s">Making secure connections to websites</h3>
                  <p>Your browser uses cookies to make secure connections to websites with a ‘https’ URL. There are different versions for different levels of security.</p>
                  <table class="govuk-table">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Cookie name</th>
                        <th scope="col" class="govuk-table__header govuk-!-width-one-half">What it does</th>
                        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">How long it stays on your device</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">TLSVersion</td>
                        <td class="govuk-table__cell">Tells us the highest version of TLS your browser uses so we can decide which versions to keep supporting</td>
                        <td class="govuk-table__cell">Until you close your browser</td>
                    </tr>
                    </tbody>
                </table>
                <h3 class="govuk-heading-s">JavaScript detection</h3>
                <p>We measure how many people visiting our pages are using JavaScript. We tell you if you don’t have it installed or if your version is out of date.</p>
          </div> 
        </div>
                <div class="govuk-grid-column-one-third">
                  <div class="related">
                      <aside class="govuk-related-items">
                          <h3 class="govuk-heading-s">Related content</h3>
                          <nav role="navigation">
                              <ul class="govuk-list">
                                  <li><a href="/privacy-policy">Privacy policy</a></li>
                                  <li><a href="/terms-conditions">Terms and conditions</a></li>
                              </ul>
                          </nav>
                      </aside>
                  </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}
