{% extends 'layout.html' %}

{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "input/macro.njk" import govukInput %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form method="post">
        {% if model.locationInput.errorMessage %}
          {{ govukErrorSummary(model.errorSummary) }}
        {% endif %}
        {{ govukInput(model.locationInput) }}
        <button type="submit" class="govuk-button">Continue</button>
      </form>
      <p><a href="/">Check for flooding in England</a></p>
      <p><a data-journey-click="National:station list:National-view station list" href="/river-and-sea-levels">Find
        a river, sea, groundwater or rainfall level</a></p>
    </div>
  </div>
{% endblock %}
