{% extends 'layout.html' %}

{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "input/macro.njk" import govukInput %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% if model.locationInput.errorMessage %}
    {{ govukErrorSummary(model.errorSummary) }}
    {% endif %}

    <h1 class="govuk-heading-xl">Where do you want to check?</h1>
    <form method="post">
      {{ govukInput(model.locationInput) }}
      <button type="submit" class="govuk-button">Continue</button>
    </form>
    <p><a href="/">Or check for flooding in all of England</a></p>
  </div>
</div>
{% endblock %}
