{% extends 'layout.html' %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Flood risk</span>
        <h1 class="govuk-heading-xl">What to do in a flood</h1>

        <ol class="govuk-list govuk-list--number">
          <li><a href="/what-to-do-in-a-flood/what-the-flood-warnings-mean">What the flood warnings mean</a></li>
          <li><a href="/what-to-do-in-a-flood/getting-a-flood-alert">What to do if you get a flood alert</a></li>
          <li><a href="/what-to-do-in-a-flood/getting-a-flood-warning">What to do if you get a flood warning</a></li>
          <li>What to do if you get a severe flood warning</li>
        </ol>

        <h3 class="govuk-heading-m">4. What to do if you get a severe flood warning</h3>
        <p>A severe flood warning means there is danger to life: you must act now.</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>call 999 if you’re in immediate danger</li>
          <li>follow advice from the emergency services and evacuate if you’re told to do so</li>
          <li>make sure you have an emergency kit including a torch, spare batteries, mobile phone and charger, warm clothes, important numbers like your home insurance, water, food, first aid kit and any medicines and babycare items you may need</li>
          <li>alert neighbours and offer help if it's safe to do so</li>
          <li>avoid driving or walking through flood water: just 30cm (1 foot) of fast flowing water could move your car and even shallow moving water can knock you off your feet</li>
          <li>keep your family and pets away from floodwater – it may contain heavy debris, sharp objects, open manhole covers, sewage and chemicals</li>
          <li>wash your hands if you’ve been in contact with flood water which may contain toxic substances</li>
        </ul>

      </div>
    </div>
</div>
{% endblock %}
