{% extends 'layout.html' %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Flood risk</span>
        <h1 class="govuk-heading-xl">What to do in a flood</h1>

        <ol class="govuk-list govuk-list--number">
            <li><a href="/what-to-do-in-a-flood/what-the-flood-warnings-mean">What the flood warnings mean</a> </li>
            <li>What to do if you get a flood alert</li>
            <li><a href="/what-to-do-in-a-flood/getting-a-flood-warning">What to do if you get a flood warning</a></li>
            <li><a href="/what-to-do-in-a-flood/getting-a-severe-flood-warning">What to do if you get a severe flood warning</a></li>
        </ol>
        
        <h3 class="govuk-heading-m">2. What to do if you get a flood alert</h3>
        <p>A flood alert means you need to prepare: flooding is possible.</p>
        <p>If you haven’t already done so, you should:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://flood-warning-information.service.gov.uk/long-term-flood-risk">check your flood risk</a></li>
            <li><a href="https://www.gov.uk/sign-up-for-flood-warnings">sign up for flood warnings</a></li>
            <li>keep up to date with the <a href="https://flood-warning-information.service.gov.uk/warnings">latest situation</a> - call Floodline on 0345 988 1188 or follow @EnvAgency and #floodaware on Twitter for the latest flood updates</li>
            <li>have a bag ready with vital items like insurance documents and medications in case you need to leave your home</li>
            <li>check you know how to turn off your gas, electricity and water mains supplies</li>
            <li>plan how you'll move family and pets to safety</li>
        </ul>

      </div>
    </div>
</div>
{% endblock %}
