{% extends 'layout.html' %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Flood risk</span>
        <h1 class="govuk-heading-xl">What to do in a flood</h1>

        <ol class="govuk-list govuk-list--number">
            <li><a href="/what-to-do-in-a-flood/what-the-flood-warnings-mean">What the flood warnings mean</a> </li>
            <li><a href="/what-to-do-in-a-flood/getting-a-flood-alert">What to do if you get a flood alert</a></li>
            <li>What to do if you get a flood warning</li>
            <li><a href="/what-to-do-in-a-flood/getting-a-severe-flood-warning">What to do if you get a severe flood warning</a></li>
        </ol>

        <h3 class="govuk-heading-m">3. What to do if you get a flood warning</h3>
        <p>A flood warning means you need to act: flooding is expected. You should do all the actions for a flood alert, but also:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>move vehicles to higher ground if it’s safe to do so</li>
            <li>move family and pets to safety</li>
            <li>move important items upstairs or to a safe place in your property, starting with cherished items and valuables, then furniture and furnishings</li>
            <li>turn off gas, electricity and water supplies if it’s safe to do so; never touch an electrical switch if you’re standing in water</li>
            <li>if you have property protection products such as flood barriers, or air brick covers, use them now</li>
            <li>keep track of the <a href="https://flood-warning-information.service.gov.uk/warnings">latest situation</a></li>
        </ul>

      </div>
    </div>
</div>
{% endblock %}
