{% extends 'layout.html' %}

{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "input/macro.njk" import govukInput %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Enter a location in England</h1>
    {% if errorMessage %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: errorMessage,
          href: "#location"
        }
      ]
    }) }}
    {% endif %}
    <form method="post">
      {% if errorMessage %}
      {{ govukInput({
        label: {
          text: "Enter postcode, town or county"
        },
        errorMessage: {
          "text": errorMessage
        },
        id: "location",
        name: "location",
        value: value,
        attributes: {
          autocomplete: "off",
          autocorrect: "off",
          autocapitalize: "off",
          spellcheck: "false"
        },
        classes: "govuk-!-width-one-half"
      }) }}
      {% else %}
      {{ govukInput({
        label: {
          text: "Enter postcode, town or county"
        },
        id: "location",
        name: "location",
        attributes: {
          autocomplete: "off",
          autocorrect: "off",
          autocapitalize: "off",
          spellcheck: "false"
        },
        classes: "govuk-!-width-one-half"
      }) }}
      {% endif %}
      <button type="submit" class="govuk-button">Continue</button>
    </form>
  </div>
</div>
{% endblock %}