{% extends 'layout.html' %}
{% block content %}

<!-- ** Prefix meta title with search term -->

{% if model.referer %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full" id="browserBackContainer"></div>
</div>
{% endif %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Historic flood impacts
        </h1>
        <!--
        <p class="govuk-!-margin-bottom-7">Find historic flood impacts where current river levels have reached or exceed the recorded level.</p>
        -->
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group defra-search">
            <form method="post">
                <label class="govuk-label govuk-!-padding-bottom-1" for="location">Search by location</label>
                <input class="defra-input defra-input--search" id="location" name="location" type="text" value="{% if model.placeName %}{{ model.placeName }}{% else %}{{ model.q }}{% endif %}">
            </form>
        </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <div class="defra-search-summary" id="searchSummary">
            <h2 class="defra-search-summary__count">{{ model.countActiveImpacts }} impact{% if model.countActiveImpacts > 1 %}s{% endif %} (level exceeded)</h2>
        </div>
        {% if model.countActiveImpacts %}
        <ul class="defra-flood-list">
            {% for impact in model.activeImpacts %}
            <li class="defra-flood-list__item defra-flood-list__item--impact">
                <span class="defra-flood-list__item-title">
                    {{ impact.description }}
                </span>
                <dl class="defra-flood-list__item-meta">
                    <div>
                        <dt>Source</dt>
                        <dd><a href="/station/{{ impact.rloiid }}?t={{ impact.impactid }}">{{ impact.gauge }}</a></dd>
                    </div>
                    <div>
                        <dt>Level (historic/current)</dt>
                        <dd>{{ impact.value | round(2) }}m/{{ impact.telemetrylatest | round(2) }}m</dd>
                    </div>
                </dl>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="govuk-body govuk-!-margin-top-4">
            <strong>No historic impacts found.</strong>    
        </p>
        <p class="govuk-body">Improve your search results by:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>searching a broader location</li>
            <li>double-checking your spelling</li>
        </ul>
        {% endif %}
    </div>
</div>

<div class="defra-map" id="map-live"></div>

{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script src="{{assetPath}}/javascripts/ol.js"></script>
  <script src="{{assetPath}}/javascripts/components/maps.js"></script>
  <script src="{{assetPath}}/javascripts/components/maps-styles.js"></script>
  <script src="{{assetPath}}/javascripts/components/maps-layers.js"></script>
  <script src="{{assetPath}}/javascripts/components/map-container.js"></script>
  <script src="{{assetPath}}/javascripts/components/maps/live.js"></script>
  <script src="{{assetPath}}/javascripts/templates.js"></script>
  <script src="{{ assetPath }}/nunjucks-slim.min.js"></script>
  <script>nunjucks.configure()</script>
<script>
  window.flood.model = {{ model | dump(2) | safe }}
</script>
<script src="{{assetPath}}/javascripts/pages/impacts.js"></script>
{% endblock %}
