{% extends "template.njk" %}
{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{% from "footer/macro.njk" import govukFooter %}
{% from "warning-text/macro.njk" import govukWarningText %}
{% from "cookie-banner/macro.njk" import govukCookieBanner %}

{% set metaTitle = (pageTitle or model.pageTitle or 'Check for flooding') + ' - GOV.UK' %}
{% set metaDescription = model.metaDescription | default('Check your risk of flooding. View the latest flood warnings and alerts, get a flood forecast for the next 5 days, and check the latest river, sea, groundwater and rainfall levels.') %}
{% set metaCanonical = model.metaCanonical %}
{% set metaFeedback = model.feedback %}
{% set liveServiceText = ( liveServiceText or 'use the current service') %}
{% set liveServicePath = ( liveServicePath or '/warnings') %}

{% block pageTitle %}
  {{ metaTitle }}
{% endblock %}

{% block head %}
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{fullUrl}}" />
  <meta property="og:title" content="{{metaTitle}}" />
  <meta property="og:description" content="{{metaDescription}}" />
  <meta name="description" content="{{metaDescription}}" />
  <meta name="google-site-verification" content="y6LbLfoXyHHDG2k5BAGCzMw_f4l9Y4MdCsX5SELenE8" />
  <!-- Stage: {{ env }} {{ stage }} -->
  <!-- Application version: {{ appVersion }} -->

  <link href="{{ assetPath }}/stylesheets/application.css" rel="stylesheet" />

 

  {% if metaCanonical %}
    <link rel="canonical" href="{{fullUrl}}"/>
  {% endif %}

  <script>
    if (window.location.hash === '#webchat' && window.matchMedia('(max-width: 640px)').matches) {
      document.body.classList.add('wc-hidden')
    }
  </script>

{% endblock %}

{% block header %}

{%  include "partials/cookie-banner.html" %}

  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    serviceName: serviceName,
    serviceUrl: "/find-location"
  }) }}

{% endblock %}

{% block beforeContent %}


  <!-- If dummy warning data is being used -->
  {% if isDummyData %}
    {{ govukWarningText({
      html: 'Dummy data is currently active on this service, please view the <a href="https://flood-warning-information.service.gov.uk/warnings">production service</a> for up to date warnings data',
      iconFallbackText: "Warning"
    }) }}
  {% endif %}

  <!-- If external http calls are being mocked -->
  {% if isMockExternalHttp %}
    {{ govukWarningText({
      html: 'External Http requests are currently being mocked on this service,  please view the <a href="https://flood-warning-information.service.gov.uk/warnings">production service</a> for up to date warnings data',
      iconFallbackText: "Warning"
    }) }}
  {% endif %}

  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="https://defragroup.eu.qualtrics.com/jfe/form/SV_8uMAuaH3kbJl965?Source={{fullUrl}}">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

{% endblock %}

{% block content %}
{% endblock %}


{% block bodyEnd %}

{# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
    <script src="{{ assetPath }}/js/all.js"></script>
    <script>window.GOVUKFrontend.initAll()</script>
    <script src="{{ assetPath }}/js/core.js"></script>
    {% if webchat.enabled %}
    <script src="{{ assetPath }}/js/webchat.js"></script>
    {% endif %}
{% endblock %}

{% block footer %}
  {% if metaFeedback %}
    {% include "./partials/feedback.html" %}
  {% endif %}


  {{ govukFooter({
    meta: {
      items: [
        {
          href: "/accessibility-statement",
          text: "Accessibility statement"
        },
        {
          href: "/cookies",
          text: "Cookies"
        },
        {
          href: "/privacy-notice",
          text: "Privacy notice"
        },
        {
          href: "/terms-and-conditions",
          text: "Terms and conditions"
        },
        {
          href: "https://www.gov.uk/government/organisations/environment-agency",
          text: "Built by the Environment Agency"
        }
      ]
    }
  }) }}
{% endblock %}
