{% extends "template.njk" %}
{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{% from "footer/macro.njk" import govukFooter %}

{% set pageUrl = fullUrl %}
{% set pageTitle = model.pageTitle | default('Check flood risk - GOV.UK') %}
{% set pageDescription = model.metadata.description | default('Check your risk of flooding: get current flood warnings, river and sea levels, check the 5-day forecast or use flood risk maps') %}
{% set pageKeywords = model.metadata.keywords | default('floods,gov.uk,england') %}

{% block head %}
  <meta http-equiv="refresh" content="900"/>
  <meta property="fb:app_id" content="{{fbAppId}}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{pageUrl}}" />
  <meta property="og:title" content="{{pageTitle}}" />
  <meta property="og:description" content="{{pageDescription}}" />
  <meta property="keywords" content="{{pageKeywords}}" />
  <meta property="description" content="{{pageDescription}}" />
  <meta name="google-site-verification" content="HjuKUejT64a0rBdUxxtbnIKNB4_cZ3X3hlXOxk4_OX8" />

  <!--[if !IE 8]><!-->
    <link href="{{ assetPath }}/stylesheets/application.css" rel="stylesheet" />
  <!--<![endif]-->

  {# For Internet Explorer 8, you need to compile specific stylesheet #}
  {# see https://github.com/alphagov/govuk-frontend/blob/master/docs/installation/supporting-internet-explorer-8.md #}
  <!--[if IE 8]>
    <link href="{{ assetPath }}/govuk-frontend/all-ie8.css" rel="stylesheet" />
  <![endif]-->

  {# For older browsers to allow them to recognise HTML5 elements such as `<header>` #}
  <!--[if lt IE 9]>
    <script src="/html5-shiv/html5shiv.js"></script>
  <![endif]-->

  <!-- Hotjar Tracking Code for https://flood-private-beta.aws.defra.cloud/warnings -->
  <script>
    (function (h, o, t, j, a, r) {
      h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) }
        ;
      h._hjSettings =
  
        { hjid: 1036786, hjsv: 6 }
        ;
      a = o.getElementsByTagName('head')[0];
      r = o.createElement('script'); r.async = 1;
      r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
      a.appendChild(r);
    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
  </script>
  <!-- Env: {{env}} -->
  <!-- Application version: {{appVersion}} -->
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    containerClasses: "govuk-width-container",
    serviceName: serviceName,
    serviceUrl: "/"
  }) }}

{% endblock %}

{% block pageTitle %}
  {{ model.pageTitle }}
{% endblock %}

{% block beforeContent %}

    {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a prototype being used for research purposes only. You can <a class="govuk-link" href="https://flood-warning-information.service.gov.uk">view the main flood information service at any time</a>.'
  }) }}
  {#{{ govukBackLink({
    href: "javascript:window.history.go(-1)",
    text: "Back"
  }) }}
  #}
{% endblock %}

{% block content %}
{% endblock %}

{% block bodyEnd %}
  
  <details>
    <summary>DEBUG</summary>
    <pre>{{ model | dump(2) | safe }}</pre>
  </details>
  
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="{{ assetPath }}/all.js"></script>
  <script src="{{ assetPath }}/javascripts/core.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "https://www.gov.uk/help",
          text: "Help"
        },
        {
          href: "/cookies",
          text: "Cookies"
        },
        {
          href: "/privacy-policy",
          text: "Privacy policy"
        },
        {
          href: "/terms-conditions",
          text: "Terms and conditions"
        },
        {
          href: "https://www.gov.uk/contact",
          text: "Contact"
        },
        {
          href: "/privacy-policy",
          text: "Privacy policy"
        },
        {
          href: "/roadmap",
          text: "Roadmap"
        },
        {
          href: "https://www.gov.uk/cymraeg",
          text: "Cymraeg"
        },
        {
          href: "https://www.gov.uk/government/organisations/environment-agency",
          text: "Built by the Environment Agency"
        }
      ]
    }
  }) }}
{% endblock %}