{% extends 'layout.html' %}
{% block content %}

<!-- if model.referer -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a href="{{ model.referer }}" class="govuk-back-link govuk-!-margin-bottom-7">Back</a>
  </div>
</div>
<!-- endif -->

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            River and sea levels
        </h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group defra-search">
            <label class="govuk-label" for="search">Enter river, postcode or town</label>
            <input class="govuk-input defra-search__input" id="search" name="search" type="text" value="River Caldew">
            <button type="submit" class="govuk-button defra-search__button">Search</button>
        </div>
    </div>
</div>

<!--
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="defra-search-summary govuk-!-margin-top-6">
            <p class="govuk-body">No river levels found</p>
        </div>
    </div>
</div>
-->

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="defra-search-summary govuk-!-margin-top-6">
            <h2 class="defra-search-summary__count">7 levels</h2>
            <button class="defra-search-summary__button-map">View map</button>
            <div class="app-map">
                <div class="app-map__container">
                    <div class="map" id="map-live">
                        <div class="map__container">
                            <div class="map__container-inner"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <table class="defra-table-flood govuk-!-margin-top-4">
            <caption class="govuk-visually-hidden">Results</caption>
            <thead class="defra-table-flood__head">
                <tr class="defra-table-flood__row" role="row">
                    <th class="defra-table-flood__header" role="columnheader" scope="col">
                        <span class="govuk-visually-hidden">Location</span>
                    </th>
                    <th class="defra-table-flood__header" role="columnheader" scope="col">
                        Level
                    </th>
                    <th class="defra-table-flood__header" role="columnheader" scope="col">
                        Updated
                    </th>
                </tr>
            </thead>
            <tbody class="defra-table-flood__body">
                <tr class="defra-table-flood__row" role="row">
                    <th class="defra-table-flood__group-header" role="rowheader" scope="row" colspan="3">
                        Sea levels
                    </th>
                </tr>
                <tr class="defra-table-flood__row" role="row">
                    <th class="defra-table-flood__header" role="rowheader" scope="row">
                        <a href="">Silloth</a>
                    </th>
                    <td class="defra-table-flood__cell" role="cell">
                        <span aria-hidden="true">Level:</span>
                        0.25m
                    </td>
                    <td class="defra-table-flood__cell" role="cell">
                        <span aria-hidden="true">Updated:</span>
                        <time datetime="">21 Nov at 11:00pm</time>
                    </td>
                </tr>
           </tbody>
            <tbody class="defra-table-flood__body">
                <tr class="defra-table-flood__row" role="row">
                    <th class="defra-table-flood__group-header" role="rowheader" scope="row" colspan="3">
                        River Caldew
                    </th>
                </tr>
                <tr class="defra-table-flood__row" role="row">
                    <th class="defra-table-flood__header" role="rowheader" scope="row">
                        <a href="">Sebergham</a>
                        <span class="govuk-visually-hidden"> (normal)</span>
                    </th>
                    <td class="defra-table-flood__cell" role="cell">
                        <span aria-hidden="true">Level:</span>
                        1.20m
                    </td>
                    <td class="defra-table-flood__cell" role="cell">
                        <span aria-hidden="true">Updated:</span>
                        <time datetime="">4:30am</time>
                    </td>
                </tr>
                <tr class="defra-table-flood__row" role="row">
                    <th class="defra-table-flood__header" role="rowheader" scope="row">
                        <a href="">Cummersdale</a>
                    </th>
                    <td class="defra-table-flood__cell" role="cell" colspan="2">
                        <span class="defra-table-flood__error-text">Error message</span>
                    </td>
                </tr>
                <tr class="defra-table-flood__row" role="row">
                    <th class="defra-table-flood__header" role="rowheader" scope="row">
                        <a href="">Denton Holme</a>
                        <span class="govuk-visually-hidden"> (normal)</span>
                    </th>
                    <td class="defra-table-flood__cell" role="cell">
                        <span aria-hidden="true">Level:</span>
                        0.45m
                    </td>
                    <td class="defra-table-flood__cell" role="cell">
                        <span aria-hidden="true">Updated:</span>
                        <time datetime="">4:30am</time>
                    </td>
                </tr>
           </tbody>
           <tbody class="defra-table-flood__body">
                <tr class="defra-table-flood__row" role="row">
                    <th class="defra-table-flood__group-header" role="rowheader" scope="row" colspan="3">
                        River Eden
                    </th>
                </tr>
                <tr class="defra-table-flood__row" role="row">
                    <th class="defra-table-flood__header" role="rowheader" scope="row">
                        <a href="">Linstock</a>
                        <span class="govuk-visually-hidden"> (high)</span>
                    </th>
                    <td class="defra-table-flood__cell" role="cell">
                        <span aria-hidden="true">Level:</span>
                        1.05m
                    </td>
                    <td class="defra-table-flood__cell" role="cell">
                        <span aria-hidden="true">Updated:</span>
                        <time datetime="">Yesterday at 9:00pm</time>
                    </td>
                </tr>
                <tr class="defra-table-flood__row" role="row">
                    <th class="defra-table-flood__header" role="rowheader" scope="row">
                        <a href="">Sands Centre, Carlisle</a>
                        <span class="govuk-visually-hidden"> (normal)</span>
                    </th>
                    <td class="defra-table-flood__cell" role="cell">
                        <span aria-hidden="true">Level:</span>
                        1.00m
                    </td>
                    <td class="defra-table-flood__cell" role="cell">
                        <span aria-hidden="true">Updated:</span>
                        <time datetime="">4:30am</time>
                    </td>
                </tr>
                <tr class="defra-table-flood__row" role="row">
                    <th class="defra-table-flood__header" role="rowheader" scope="row">
                        <a href="">Sheepmount</a>
                        <span class="govuk-visually-hidden"> (normal)</span>
                    </th>
                    <td class="defra-table-flood__cell" role="cell">
                        <span aria-hidden="true">Level:</span>
                        0.95m
                    </td>
                    <td class="defra-table-flood__cell" role="cell">
                        <span aria-hidden="true">Updated:</span>
                        <time datetime="">4:30am</time>
                    </td>
                </tr>
           </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script src="{{assetPath}}/javascripts/ol.js"></script>
  <script src="{{assetPath}}/javascripts/components/maps.js"></script>
  <script src="{{assetPath}}/javascripts/components/maps-styles.js"></script>
  <script src="{{assetPath}}/javascripts/components/maps-layers.js"></script>
  <script src="{{assetPath}}/javascripts/components/map-container.js"></script>
  <script src="{{assetPath}}/javascripts/components/maps/live.js"></script>
  <script src="{{assetPath}}/javascripts/templates.js"></script>
  <script src="{{ assetPath }}/nunjucks-slim.min.js"></script>
  <script>nunjucks.configure()</script>
<script>
  window.flood.model = {{ model | dump(2) | safe }}
</script>
<script src="{{assetPath}}/javascripts/pages/levels.js"></script>
{% endblock %}
