{% extends 'layout.html' %}
{% block content %}

<!-- ** Prefix meta title with search term -->

<!-- if model.referer -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a href="{{ model.referer }}" class="govuk-back-link govuk-!-margin-bottom-7">Back</a>
  </div>
</div>
<!-- endif -->

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            River and sea levels
        </h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <div class="govuk-form-group defra-search">
            <label class="govuk-label" for="search">Enter river name, postcode or town</label>
            <input class="govuk-input defra-search__input" id="search" name="search" type="text" value="{{ model.place.name }}">
            <button type="submit" class="govuk-button defra-search__button">Search</button>
        </div>
    </div>
</div>

{% if model.levels %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="defra-search-summary">
            <h2 class="defra-search-summary__count">8 levels</h2>
            <button class="defra-search-summary__button-map">View on map</button>
            <div class="app-map">
                <div class="app-map__container">
                    <div class="map" id="map-live">
                        <div class="map__container">
                            <div class="map__container-inner"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <ul class="defra-flood-list">
            {% for name, group in model.levels %}
            <li class="defra-flood-list__group">
                <span class="defra-flood-list__group-title">
                    {{ name }} <span class="govuk-visually-hidden">at:</span>
                </span>
                <dl class="defra-flood-list__items defra-flood-list__items--levels"><!-- Optional modifier 'defra-flood-list__items--has-relation' -->
                    {% for station in group %}
                    <div class="defra-flood-list__item{% if station.state %} defra-flood-list__item--{{ station.state }}{% endif %}">
                        <dt class="defra-flood-list__item-title">
                            <a href="/station/{{station.rloi_id}}">{{ station.external_name }}</a>
                        </dt>
                        <dd class="defra-flood-list__item-desc">
                            {{ station.valueHtml | safe }}
                        </dd>
                    </div>
                    {% endfor %}
                </dl>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% else %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-!-margin-top-6">
            <p class="govuk-body">
                <strong>No river, sea or groundwater levels found.</strong>    
            </p>
            <p class="govuk-body">There are approximatley 2200 water level measuring stations in England. These are located mostly along main rivers and the coast.</p>
            <p class="govuk-body">Improve your search results by:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>searching a broader location</li>
                <li>double-checking your spelling</li>
            </ul>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script src="{{assetPath}}/javascripts/ol.js"></script>
  <script src="{{assetPath}}/javascripts/components/maps.js"></script>
  <script src="{{assetPath}}/javascripts/components/maps-styles.js"></script>
  <script src="{{assetPath}}/javascripts/components/maps-layers.js"></script>
  <script src="{{assetPath}}/javascripts/components/map-container.js"></script>
  <script src="{{assetPath}}/javascripts/components/maps/live.js"></script>
  <script src="{{assetPath}}/javascripts/templates.js"></script>
  <script src="{{ assetPath }}/nunjucks-slim.min.js"></script>
  <script>nunjucks.configure()</script>
<script>
  window.flood.model = {{ model | dump(2) | safe }}
</script>
<script src="{{assetPath}}/javascripts/pages/levels.js"></script>
{% endblock %}
