{% extends 'layout.html' %}
{% block content %}

<!-- if model.referer -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a href="{{ model.referer }}" class="govuk-back-link govuk-!-margin-bottom-7">Back</a>
  </div>
</div>
<!-- endif -->

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            River and sea levels
        </h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group defra-search">
            <label class="govuk-label" for="search">Enter river, postcode or town</label>
            <input class="govuk-input defra-search__input" id="search" name="search" type="text" value="River Caldew">
            <button type="submit" class="govuk-button defra-search__button">Search</button>
        </div>
    </div>
</div>

<!--
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="defra-search-summary govuk-!-margin-top-6">
            <p class="govuk-body">No river levels found</p>
        </div>
    </div>
</div>
-->

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="defra-search-summary govuk-!-margin-top-6">
            <h2 class="defra-search-summary__count">8 levels</h2>
            <button class="defra-search-summary__button-map">View map</button>
            <div class="app-map">
                <div class="app-map__container">
                    <div class="map" id="map-live">
                        <div class="map__container">
                            <div class="map__container-inner"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <ul class="defra-flood-list govuk-!-margin-top-6">
            <li>
                <span class="defra-flood-list__group-title">
                    Sea level <span class="govuk-visually-hidden">at:</span>
                </span>
                <ul class="defra-flood-list__levels">
                    <li>
                        <span class="defra-flood-list__title">
                            <a href="">Silloth</a>
                        </span>
                        <span class="defra-flood-list__meta">0.25m on <time datetime="2018-11-21 11:00">21 Nov at 11:00pm</time></span>
                    </li>
                </ul>
            </li>
            <li>
                <span class="defra-flood-list__group-title">
                    River Caldew <span class="govuk-visually-hidden">at:</span>
                </span>
                <ul class="defra-flood-list__levels defra-flood-list__levels--has-relation">
                    <li>
                        <span class="defra-flood-list__title defra-flood-list__title--high">
                            <a href="">Cummersdale</a>
                        </span>
                        <span class="govuk-visually-hidden">, high</span>
                        <span class="defra-flood-list__meta">0.65m at <time datetime="2018-11-23 16:30">4:30pm</time></span>
                    </li>
                    <li>
                        <span class="defra-flood-list__title defra-flood-list__title--normal">
                            <a href="">Denton Holme</a>
                        </span>
                        <span class="govuk-visually-hidden">, normal</span>
                        <span class="defra-flood-list__meta">0.45m at <time datetime="2018-11-23 16:30">4:30pm</time></span>
                    </li>
                    <li>
                        <span class="defra-flood-list__title defra-flood-list__title--normal">
                            <a href="">Skew Bridge, Carlisle</a>
                        </span>
                        <span class="govuk-visually-hidden">, normal</span>
                        <span class="defra-flood-list__meta">0.35m at <time datetime="2018-11-23 16:30">4:30pm</time></span>
                    </li>
                </ul>
            </li>
            <li>
                <span class="defra-flood-list__group-title">
                    River Eden <span class="govuk-visually-hidden">at:</span>
                </span>
                <ul class="defra-flood-list__levels defra-flood-list__levels--has-relation">
                    <li>
                        <span class="defra-flood-list__title defra-flood-list__title--normal">
                            <a href="">Great Corby</a>
                        </span>
                        <span class="govuk-visually-hidden">, normal</span>
                        <span class="defra-flood-list__meta">0.35m at <time datetime="2018-11-23 16:30">4:30pm</time></span>
                    </li>
                    <li>
                        <span class="defra-flood-list__title">
                            <a href="">Linstock</a>
                        </span>
                        <span class="govuk-visually-hidden">.</span>
                        <span class="defra-flood-list__meta">Error message</span>
                    </li>
                    <li>
                        <span class="defra-flood-list__title defra-flood-list__title--normal">
                            <a href="">Sheepmount</a>
                        </span>
                        <span class="govuk-visually-hidden">, normal</span>
                        <span class="defra-flood-list__meta">0.30m at <time datetime="2018-11-23 16:30">4:30pm</time></span>
                    </li>
                    <li>
                        <span class="defra-flood-list__title defra-flood-list__title--low">
                            <a href="">Sands Centre, Carlisle</a>
                        </span>
                        <span class="govuk-visually-hidden">, normal</span>
                        <span class="defra-flood-list__meta">0.35m <time datetime="2018-11-22 16:00">yesterday at 4:00pm</time></span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script src="{{assetPath}}/javascripts/ol.js"></script>
  <script src="{{assetPath}}/javascripts/components/maps.js"></script>
  <script src="{{assetPath}}/javascripts/components/maps-styles.js"></script>
  <script src="{{assetPath}}/javascripts/components/maps-layers.js"></script>
  <script src="{{assetPath}}/javascripts/components/map-container.js"></script>
  <script src="{{assetPath}}/javascripts/components/maps/live.js"></script>
  <script src="{{assetPath}}/javascripts/templates.js"></script>
  <script src="{{ assetPath }}/nunjucks-slim.min.js"></script>
  <script>nunjucks.configure()</script>
<script>
  window.flood.model = {{ model | dump(2) | safe }}
</script>
<script src="{{assetPath}}/javascripts/pages/levels.js"></script>
{% endblock %}
