{% extends 'layout.html' %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      We couldn't find '{{ location }}', England
    </h1>
    <p class="govuk-body">If you searched for a place in England, you should:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>check the spelling</li>
      <li>enter a broader location</li>
    </ul>
    <p class="govuk-body"><a href="{{ href if href else '/' }}">Go back to search a location</a></p>
    <p class="govuk-body">If you want to search for a place outside England, you should go to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://www.sepa.org.uk/environment/water/flooding/">Scottish Environment Protection Agency</a></li>
      <li><a href="https://www.nidirect.gov.uk/articles/check-the-risk-of-flooding-in-your-area">Northern Ireland Direct</a></li>
      <li><a href="https://naturalresources.wales/flooding">Natural Resources Wales</a></li>
    </ul>
  </div>
</div>
{% endblock %}
