{% extends 'layout.html' %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <nav class="defra-flood-nav">
      <a href="/find-location" class="defra-flood-nav__link">Check another location</a>
    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
      Check for flooding in {{ model.location }}
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
   
    <div class="defra-flood-status govuk-!-margin-bottom-1">
      {% if model.hasActiveFloods %}
      <div class="defra-flood-status-item defra-flood-status-item--{{model.highestSeverity.hash}}">
        <span class="defra-flood-status-item__icon">
          <span class="govuk-visually-hidden">{{model.highestSeverity.title}}</span>
        </span>
        <div class="defra-flood-status-item__text">
          <strong>
              {% if model.highestSeverity.id === 3 %}
              {{model.highestSeverity.subTitle}}
              {% else %}
              Some {{model.highestSeverity.subTitle | lower}}
              {% endif %}
          </strong>
        </div>
      </div>
      {% else %}
      <div class="defra-flood-status-item">
        <div class="defra-flood-status-item__text">
          No flood warnings or alerts currently in place in this area. 
          {% if model.hasHighLevels %}
          However some <a href="/river-and-sea-levels?q={{ model.q }}">river and sea levels</a> are currently high.
          {% endif %}
        </div>
      </div>
      {% endif %}
    </div>
    
    {% if model.hasFloods %}
    <p class="govuk-body">
      {{ model.floodSummary | safe }}
    </p>
    {% endif %}

    <p class="defra-flood-meta defra-flood-meta--border govuk-!-margin-top-6 govuk-!-margin-bottom-6">
      <time datetime="{{model.dateFormatted}}">{{model.dateFormatted}}</time>
    </p>

    <p><a href="https://www.gov.uk/sign-up-for-flood-warnings">Get flood warnings by phone, text or email</a></p>

    <!-- River and sea levels -->
    <h2 class="govuk-heading-m">Latest river, sea and groundwater levels</h2>
    <p>Most measuring stations are along main rivers and the coast. These levels can help you understand your flood risk now and over the next few days.</p>
    <p><a href="/river-and-sea-levels?q={{ model.location }}">Find a river, sea or groundwater level in this area</a></p>
    <!-- end river and sea levels -->

    {% if model.hasActiveImpacts %}
    <p class="govuk-body">
      Historic records show <a href="/historic-impacts?q={{ model.q }}">{{ model.activeImpacts.length }} flood impact{% if model.activeImpacts.length > 1 %}s{% endif %}</a> in this area at current river levels.
    </p>
    {% endif %}

    {% if not model.hasLevels %}
      <p class="govuk-body">
        <a href="/river-and-sea-levels">View river and sea levels in the wider area</a>.
      </p>
    {% endif %}

    <h2 class="govuk-heading-m">Report a flood</h2>
    <p class="govuk-body">Flooding can also be caused by surface water, burst water mains or overflowing drains. You can <a href="https://www.gov.uk/report-flood-cause">report a flood or possible cause of flooding</a>.</p>

    {% include "partials/context-footer.html" %}
    
  </div>
  <div class="govuk-grid-column-one-third">
    {% include "partials/related-content.html" %}
  </div>
</div>

{% endblock %}

{% block bodyEnd %}
  {{ super() }}
{% endblock %}