{% extends 'layout.html' %}

{% block content %}

{% if model.referer %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full" id="browserBackContainer"></div>
</div>
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      The service could not find that location
    </h1>
    <p class="govuk-body">This might be because:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the service does not recognise what you searched - check the spelling or enter a broader location</li>
      <li>you searched for a place that's outside of England</li>
    </ul>
    <p class="govuk-body"><a href="/find-location">Check for flooding in England</a></p>
    <p class="govuk-body">To check for flooding in:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Scotland <a href="https://www.sepa.org.uk/environment/water/flooding/">visit the Scottish Environment Protection Agency website</a></li>
      <li>Northern Ireland <a href="https://www.nidirect.gov.uk/articles/check-the-risk-of-flooding-in-your-area">visit the Northern Ireland Direct website</a></li>
      <li>Wales <a href="https://naturalresources.wales/flooding">visit the Natural Resources Wales website</a></li>
    </ul>
  </div>
</div>
{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script src="{{assetPath}}/js/find-location.js"></script>
{% endblock %}
