{% extends 'layout.html' %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <nav class="defra-flood-nav">
      <a href="/find-location" class="defra-flood-nav__link">Check another location</a>
      <a href="/" class="defra-flood-nav__link">Check for flooding in all of England</a>
    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
      Check for flooding in {{ model.location }}
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
   
    <div class="defra-flood-status govuk-!-margin-bottom-1">
      {% if model.hasActiveFloods %}
        {% if model.bannerSevereMainLink %}
        <div class="defra-flood-status-item defra-flood-status-item--severe">
          <span class="defra-flood-status-item__icon">
            <span class="govuk-visually-hidden">{{model.severitySevereTitle}}</span>
          </span>
          <div class="defra-flood-status-item__text">
            <strong>
              <a href="{{ model.bannerSevereMainLink }}">{{ model.bannerSevereMainText }}</a>
            </strong>
            <span class="defra-flood-status-item__text-secondary">{{ model.bannerSevereSub }}</span>
          </div>
        </div>
        {% endif %}
        {% if model.bannerMainLink%}
        <div class="defra-flood-status-item defra-flood-status-item--{{model.severity}}">
          <span class="defra-flood-status-item__icon">
            <span class="govuk-visually-hidden">{{model.severityTitle}}</span>
          </span>
          <div class="defra-flood-status-item__text">
            <strong>
              <a href="{{ model.bannerMainLink }}">{{ model.bannerMainText }}</a>
            </strong>
            <span class="defra-flood-status-item__text-secondary">{{ model.bannerSub }}</span>
          </div>
        </div>
        {% endif %}
      {% else %}
      <div class="defra-flood-status-item">
        <div class="defra-flood-status-item__text">
          There are no flood warnings or alerts in this area{% if model.hasHighLevels %} but some <a href="/river-and-sea-levels?q={{ model.q }}">river and sea levels</a> are high{% endif %}.
        </div>
      </div>
      {% endif %}
    </div>
    
    {% if model.hasFloods %}
      {% if model.alerts  %}
      <p class="govuk-body">
        <a href="{{ model.alertsSummaryLink }}">{{ model.alertsSummaryLinkText }}</a> {{ model.alertsSummaryText }} also in the wider area, where some flooding is possible. 
      </p>
      {% endif %}
      {% if model.removed  %}
      <p class="govuk-body">
        <a href="{{ model.removedLink }}">{{ model.removedLinkText }}</a> {{ model.removedText }}
      </p>
      {% endif %}
    {% else %}
      <p>This service tells you your risk of flooding from rivers, the sea and groundwater. <a href="https://www.gov.uk/find-local-council">Contact your local council about surface water flooding</a> (also known as flash flooding).</p>
    {% endif %}

    {% if model.hasActiveFloods %}
      <span id="map"></span>
    {% endif %}

    <p class="defra-flood-meta defra-flood-meta--border govuk-!-margin-top-6 govuk-!-margin-bottom-6">
      <time datetime="{{model.dateFormatted}}">{{model.dateFormatted}}</time>
    </p>

    
    <!-- River and sea levels -->
    <h2 class="govuk-heading-m">Check river, sea and groundwater levels</h2>
    <p>Most measuring stations are along main rivers and the coast. These levels can help you understand your flood risk now and over the next few days.</p>
    <p><a href="/river-and-sea-levels?q={{ model.location }}">Find a river, sea or groundwater level in this area</a></p> 
    <!-- end river and sea levels -->
    
    <p><a href="https://www.gov.uk/sign-up-for-flood-warnings">Get flood warnings by phone, text or email</a></p>
    {% include "partials/context-footer.html" %}
    
  </div>
  <div class="govuk-grid-column-one-third">
    {% include "partials/related-content.html" %}
  </div>
</div>

{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script>
    window.flood.model = {{ model.expose | dump(2) | safe }}
  </script>
  <script src="{{assetPath}}/js/templates.js"></script>
  <script src="{{assetPath}}/js/location.js"></script>
{% endblock %}