{% extends 'layout.html' %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Sorry, there is a problem with this page</h1>
            <p>Try again later or check the <a href="/national">latest flood risk situation in England</a>.</p>
            <p>For river and sea flooding, call the 24-hour Floodline service.</p>
            <p>Telephone: 0345 988 1188<br>Type talk: 0345 602 6340 (for the hard of hearing)<br><a href="https://gov.uk/call-charges">Find out more about call charges</a>.</p>  
            <p><a href="https://www.gov.uk/find-local-council">Contact your local council</a> if you are not sure of the source of flooding.</p>
      </div>
    </div>
</div>
{% endblock %}
