{% extends 'layout.html' %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <nav class="govuk-!-margin-bottom-7">
      <p>
        <a href="/">Change location</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/national">National view</a>
      </p>
    </nav>
    <h1 class="govuk-heading-xl">
      Flood risk: {{ model.location }}
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Flood alerts or warnings in force -->
    <div class="defra-flood-status">
      {% if model.hasActiveFloods %}
      <div class="defra-flood-status-item defra-flood-status-item--{{model.highestSeverity.hash}}">
        <span class="defra-flood-status-item__icon">
          <span class="govuk-visually-hidden">{{model.highestSeverity.title}}</span>
        </span>
        <div class="defra-flood-status-item__text">
          <strong>
            {{model.highestSeverity.subTitle}}
          </strong>
        </div>
      </div>
      <p class="govuk-body">Summary...</p>
      {% else %}
      <!-- No alerts or warnings in force -->
      <div class="defra-flood-status-item">
        <div class="defra-flood-status-item__text">
          No flood warnings or alerts currently in place in this area.
        </div>
      </div>
    </div>
    {% endif %}

    <p class="defra-updated">
      Updated at <time datetime="{{model.timestamp}}">{{ model.timestamp | formatDate }}</time>
    </p>

    {% if ( model.activeImpacts | length > 0 ) %}
    <p class="govuk-body">Historic records show {{ model.activeImpacts.length }} flood impact(s) in this area when river levels reached their present height.</p>
    <div id="map-list-impacts" class="defra-map-list govuk-!-margin-bottom-4">
      <div id="impact-detail" class="govuk-details__text govuk-details__text--defra-details-flood">
        <ul class="defra-list-flood">
          {% for impact in model.activeImpacts %}
          <li class="defra-list-flood__item">
            {{ impact.description }}
            <div class="defra-list-flood__meta">
              Source: <a href="/station/{{ impact.rloiid }}?i={{ impact.impactid }}">{{ impact.gauge }}</a>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}

    {% if model.rivers %}
    <p class="govuk-body">
      {% if model.hasHighLevels %}
        {% if model.hasActiveFloods %}
        <a href="/river-and-sea-levels?q=">View river and sea levels in this area</a>.
        {% else %}
        However some <a href="/river-and-sea-levels?q=">river and sea levels in this area</a> are currently high. 
        {% endif %}
      {% else %}
      River and sea levels are regularly checked by a network of monitoring stations. These levels can help you understand flood risk now and in the next few days. <a href="/river-and-sea-levels?q=">View river and sea levels in this area</a>.
      {% endif %}
    </p>
    {% endif %}

    <p class="govuk-body">If you live near a river or the coast you may be able to <a href="https://www.gov.uk/sign-up-for-flood-warnings">get flood warnings by phone, text or email</a>. This service is free.</p>

    <h2 class="govuk-heading-m">Report a flood</h2>
    <p class="govuk-body">Flooding can also be caused by surface water, burst water mains or overflowing drains. You can <a href="https://www.gov.uk/report-flood-cause">report a flood or possible cause of flooding</a>.</p>

    <h2 class="govuk-heading-m">Other ways to check your current flood risk</h2>
    <p class="govuk-body"><a href="https://www.gov.uk/find-local-council">Contact your local council</a> if you are not sure of the source of flooding.</p>
    <p class="govuk-body">For river and sea flooding, call the 24-hour Floodline service.</p>
    <p class="govuk-body">
      Telephone: 0345 988 1188<br />
      Type talk: 0345 602 6340 (for the hard of hearing)<br />
      <a class="govuk-link" href="https://gov.uk/call-charges">Find out more about call charges</a>.
    </p>
  </div>
  <div class="govuk-grid-column-one-third">
    <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->
    <aside class="defra-related-items" role="complementary">
      <h2 class="govuk-heading-s" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="govuk-link" href="/plan-ahead-for-flooding">
              How to plan ahead for flooding
            </a>
          </li>
          <li>
            <a class="govuk-link" href="/what-to-do-in-a-flood/what-the-flood-warnings-mean">
              What to do in a flood
            </a>
          </li>
          <li>
            <a class="govuk-link" href="/recovering-after-a-flood">
              How to recover after a flood
            </a>
          </li>
          <li>
            <a class="govuk-link" href="#">
              View long term flood risk information
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>

<div class="defra-app-map">
  <div class="defra-app-map__container">
    <div class="map" id="map-live">
      <div class="map__container">
        <div class="map__container-inner"></div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script src="{{assetPath}}/javascripts/ol.js"></script>
  <script src="{{assetPath}}/javascripts/components/maps.js"></script>
  <script src="{{assetPath}}/javascripts/components/maps-styles.js"></script>
  <script src="{{assetPath}}/javascripts/components/maps-layers.js"></script>
  <script src="{{assetPath}}/javascripts/components/map-container.js"></script>
  <script src="{{assetPath}}/javascripts/components/maps/live.js"></script>
  <script src="{{assetPath}}/javascripts/templates.js"></script>
  <script src="{{ assetPath }}/nunjucks-slim.min.js"></script>
  <script>nunjucks.configure()</script>
  <script>
    window.flood.model = {{ model | dump(2) | safe }}
  </script>
  <script src="{{assetPath}}/javascripts/components/map-list.js"></script>
  <script src="{{assetPath}}/javascripts/pages/location.js"></script>
{% endblock %}