{% extends 'layout.html' %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">This service provides flood warning information for England only</h1>

        <p>Flood warning information for Northern Ireland is available from <a href="https://www.nidirect.gov.uk/articles/check-the-risk-of-flooding-in-your-area">Northern Ireland Direct.</a></p>
        <p>Flood warning information for Scotland is available from <a href="https://www.sepa.org.uk/environment/water/flooding/">the Scottish Environment Protection Agency</a>.</p>
        <p>Flood warning information for Wales is available from <a href="https://naturalresources.wales/flooding?lang=en">Natural Resources Wales</a>.</p>

      </div>
    </div>
</div>
{% endblock %}