{% extends 'layout.html' %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
      <span class="govuk-caption-xl">Flood risk</span>England
    </h1>
    <div class="defra-search-link govuk-!-margin-top-2">
      <p>
        <a href="/">
          <span class="defra-search-link__icon"></span>Check flood risk for a specific location
        </a>
      </p>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="defra-warning-overview govuk-!-margin-top-0">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-4 govuk-!-margin-top-6">
        Current flood warnings and alerts
      </h2>

      {% for group in model.groups %}
        <div class="defra-warning-overview__section">
          <h3 class="defra-warning-overview__section-title">
            <span class="defra-warning-overview__icon defra-warning-overview__icon--{{ group.severity.id }}"></span>
            {{ group.title }}
            <span class="govuk-caption-m">{{ group.severity.tagline }}</span>
          </h3>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% if model.floods.length %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div id="warnings" class="govuk-!-margin-bottom-4">
        <details class="govuk-details govuk-!-margin-top-2 govuk-!-margin-bottom-4">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              View list of flood warnings
            </span>
          </summary>
          <div class="govuk-details__text">
            {% for group in model.groups %}
              {% if group.floods %}
                <h3 class="govuk-heading-s govuk-!-margin-bottom-1">{{ group.severity.pluralisedTitle }}</h3>
                <ul class="govuk-list govuk-list--warning">
                  {% for flood in group.floods %}
                    <li><a href="/target-area/{{flood.code}}">{{ flood.description }}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endfor %}
          </div>
        </details>
      </div>
    </div>
  </div>
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "partials/map.html" %}
    <p class="govuk-body-s govuk-!-margin-top-4">
      <span class="govuk-body--caption">
        <time class="form-hint" title="{{model.timestamp | formatDate}}"
          datetime="{{model.timestamp}}">Last updated {{ model.timestamp | formatDate }}</time>
      </span>
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-inset-text govuk-!-margin-top-2 govuk-!-margin-bottom-0">
      <p>In river and coastal flood risk areas, you can <a href="https://www.gov.uk/sign-up-for-flood-warnings">get flood warnings by phone, text or email</a>. This service is free.</p>
    </div>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-6">

<section class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m govuk-!-margin-top-6">Next 5 days</h2>
    <p>{{ model.outlook | safe }}</p>
  </div>
  <div class="govuk-grid-column-full">
    <div class="app-map">
      <div class="app-map__container" id="map-outlook-details">
        <figure class="map map--large map--outlook-control-open map--embedded" id="map-outlook">
          <div class="map__container">
            <div class="map__container-inner">
              {% include "./partials/outlook-key.html" %}
              <div class="map__outlook-control">
                <div class="map__outlook-control__inner">
                  {% for day in model.days %}
                    <div class="map__outlook-control__day">
                      <button class="map__outlook-control__button"
                        aria-selected="{{ "true" if not day.idx else "false" }}"
                        data-day="{{day.idx}}">{{ day.date | formatDate('ddd D') }}
                        <span class="map__outlook-control__icon map__outlook-control__icon--risk-level-{{day.level}}"></span>
                      </button>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <figcaption class="govuk-visually-hidden">Map showing 5 day forecast</figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>

<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-6">

<section class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m govuk-!-margin-top-6">Long term</h2>
    <p>Many areas are vulnerable to flooding in the future. You can <a href="https://flood-warning-information.service.gov.uk/long-term-flood-risk">learn more about the long term flood risk for any location in England</a>.</p>
  </div>
</section>

<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-4">

<section class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m govuk-!-margin-top-6">Other ways to check your current flood risk</h2>
    <p class="govuk-body">
      <strong class="govuk-!-font-weight-bold">Floodline</strong><br>
      Telephone: 0345 988 1188<br>
      24-hour service<br>
      <a class="govuk-link" href="#">Learn more about call charges</a>.
    </p>
  </div>
</section>

{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script src="{{assetPath}}/javascripts/ol.js"></script>
<script src="{{assetPath}}/javascripts/components/maps.js"></script>
<script src="{{assetPath}}/javascripts/components/maps-styles.js"></script>
<script src="{{assetPath}}/javascripts/components/maps-layers.js"></script>
<script src="{{assetPath}}/javascripts/components/map-container.js"></script>
<script src="{{assetPath}}/javascripts/components/map.js"></script>
<script>
  window.flood.model = {{ model | dump(2) | safe }}
</script>
<script src="{{assetPath}}/javascripts/pages/national.js"></script>
{% endblock %}