{% extends 'layout.html' %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <nav class="govuk-!-margin-bottom-7">
      <p class="govuk-body">
        <a href="/">Check flood risk near you</a>
      </p>
    </nav>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      Flood risk for England
    </h1>
    <p class="defra-updated govuk-!-margin-bottom-7">
      Updated at <time class="form-hint" datetime="{{model.timestamp}}">{{ model.timestamp | formatDate("h:mm a dddd Do MMMM YYYY") }}</time>
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="defra-flood-status">
      {% if not model.hasActiveFloods %}
      <div class="defra-flood-status-item">
        <div class="defra-flood-status-item__text">
          There are currently no flood warnings or alerts in force.
        </div>
      </div>
      {% endif %}
      {% for group in model.floods %}
      {% if group.count > 0 %}
      {% if group.severity.id < 4 %}
      <div class="defra-flood-status-item defra-flood-status-item--{{ group.severity.hash }}">
        <span class="defra-flood-status-item__icon"></span>
        <div class="defra-flood-status-item__text">
          <strong>
            <a href="/alerts-and-warnings{% if group.severity.id === model.highestSeverityId %}{% else %}#{{ group.severity.pluralisedHash }}{% endif %}">
              {{ group.title | lower }}
            </a>
          </strong>
          <span>{{ group.severity.subTitle }}</span>
        </div>
      </div>
      {% else %}
      <p class="defra-flood-status__text">
        <a href="/alerts-and-warnings#{{ group.severity.pluralisedHash }}">{{ group.title | lower }}</a> {{ group.severity.subTitle }}
      </p>
      {% endif %}
      {% endif %}
      {% endfor %}
    </div>

    <h2 class="govuk-heading-m govuk-!-padding-top-3 govuk-!-margin-bottom-1" id="outlook">Flood forecast for the next 5 days</h2>
    <p class="defra-updated govuk-!-margin-bottom-4">
      <time title="{{model.outlook.timestampOutlook | formatDate}}" datetime="{{ model.outlook.timestampOutlook }}">Updated at {{ model.outlook.timestampOutlook | formatDate }}</time>
    </p>
    <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-padding-bottom-4">
      {{ model.outlook.full | safe }}
    </p>
    {% if model.outlook.hasOutlookConcern %}
    <div class="defra-map" id="map-outlook"></div>
    {% endif %}

    {% include "partials/other-flood-risk-check.html" %}

  </div>
  <div class="govuk-grid-column-one-third">
    <aside class="defra-related-items" role="complementary">
      <h2 class="govuk-heading-s" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="govuk-link" href="/plan-ahead-for-flooding">
              How to plan ahead for flooding
            </a>
          </li>
          <li>
            <a class="govuk-link" href="/what-to-do-in-a-flood">
              What to do in a flood
            </a>
          </li>
          <li>
            <a class="govuk-link" href="/recovering-after-a-flood">
              How to recover after a flood
            </a>
          </li>
          <li>
            <a class="govuk-link" href="#">
              View long term flood risk information
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>

{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script>
  window.flood.model = {{ model | dump(2) | safe }}
</script>
<script src="{{assetPath}}/js/templates.js"></script>
<script src="{{assetPath}}/js/national.js"></script>
{% endblock %}