{% extends 'layout.html' %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            How to plan ahead for flooding
        </h1>
    </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Sign up for flood warnings</h2>
    <p class="govuk-text">In many flood risk areas, you can <a href="https://www.gov.uk/sign-up-for-flood-warnings">sign up for flood warnings</a>. These warn of the risk of flooding from rivers, the sea and groundwater. You’ll be alerted by phone, email or text when flooding is expected. Flood warnings and alerts are not available in all areas.</p>
    <h2 class="govuk-heading-m">Know what to do</h2>
    <p class="govuk-text">The best way to protect yourself from flooding is to know what to do in advance.</p>
    <p class="govuk-text govuk-!-margin-bottom-1">We issue 3 levels of flood warning:</p>
    <h3 class="govuk-heading-s">
        <img class="defra-flood-heading-image" src="/assets/images/symbol-flood-alert.svg" width="46" height="46" alt="Flood alert symbol"/>
        Flood alert - Prepare
    </h3>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-1">
      <li>prepare a bag that includes medicines and insurance documents</li>
      <li>check flood warnings</li>
    </ul>
    <h3 class="govuk-heading-s">
        <img class="defra-flood-heading-image" src="/assets/images/symbol-flood-warning.svg" width="46" height="46" alt="Flood warning symbol"/>
        Flood warning - Act
    </h3>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-1">
      <li>turn off gas, water and electricity</li>
      <li>move things upstairs or to safety</li>
      <li>move family, pets and car to safety</li>
    </ul>
    <h3 class="govuk-heading-s">
        <img class="defra-flood-heading-image" src="/assets/images/symbol-flood-warning-severe.svg" width="46" height="46" alt="Severe flood warning symbol"/>
        Severe flood warning - Survive
    </h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>call 999 if in immediate danger</li>
      <li>follow advice from emergency services</li>
      <li>keep yourself and your family safe</li>
    </ul>
    <p class="govuk-text">Save a copy of <a href="https://flood-warning-information.service.gov.uk/public/pdf/flood_warnings.pdf">this simple flood plan (PDF, 139KB)</a> so you’ll know what to do when there’s a flood warning in your area.</p>
    <p class="govuk-text">You can also use templates to make your own personal flood plan for:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://www.gov.uk/government/publications/personal-flood-plan">your household</a></li>
      <li><a href="https://www.gov.uk/government/publications/flood-plan-guidance-for-communities-and-groups">your local community or group</a></li>
      <li><a href="https://www.gov.uk/government/publications/preparing-your-business-for-flooding">your business</a></li>
    </ul>
    <p class="govuk-text">You should prepare a bag of essential items to take with you if you have to leave your home. Keep this in a safe place. You could include things like spare medication, glasses, clothing, important documents and contact details such as the number of your insurance company.</p>
    <p class="govuk-text">Create a checklist of things to do to protect your family, such as turning off the electricity and gas to prevent a fire.</p>
    <h2 class="govuk-heading-m">Know how to turn off your gas, electricity and water</h2>
    <p class="govuk-text">If you leave your home during a flood you’ll need to turn off your mains water, gas and electricity if it’s safe to do so. You should find out in advance how to do this.</p>
    <p class="govuk-text">The location of water stopcocks, gas shut-off valves and electrical master switches varies between properties. The gas shut-off valve is usually beside the meter. The mains electricity cut-off is usually a big red switch on your fuse box. If you can’t find your water stopcock, ask someone with practical experience or a plumber to help you.</p>
    <h2 class="govuk-heading-m">Protect your property</h2>
    <p class="govuk-text">You can make changes to your property that will help you to get back to normal more quickly after a flood and reduce the damage flooding can do.</p>
    <p class="govuk-text">To reduce flood damage you can take steps such as laying tiles instead of carpets, moving electrical sockets higher up the wall and fitting non-return valves to stop flood water entering your property through the drains. Bluepages lists suppliers of flood products and services.</p>
    <p class="govuk-text">For more information on advance measures, get the National Flood Forum’s property protection guides for property owners or for local authorities and professionals.</p>
    <p class="govuk-text">Simple maintenance like keeping drains and gullies clear of debris will also help to protect your property.</p>
    <h2 class="govuk-heading-m">Check your insurance</h2>
    <p class="govuk-text">Make sure you have insurance to protect your home or business. If you have buildings and contents insurance, check if flood damage is included.</p>
    <p class="govuk-text">If you rent your home, it’s your responsibility to protect your belongings.</p>
    <p class="govuk-text">If you’re finding it difficult to get your property insured for flooding, the <a href="https://nationalfloodforum.org.uk/">National Flood Forum</a> may be able to help.</p>
    <p class="govuk-text">The <a href="https://www.floodre.co.uk/">Flood Re scheme</a> works with some insurance providers to reduce the cost of insuring certain homes against flooding.</p>
    <h2 class="govuk-heading-m">Bookmark flood forecasting websites</h2>
    <p class="govuk-text">Keeping a list of useful web pages can save time when you want to check:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the weather</li>
      <li>flood warnings</li>
      <li>local river and sea levels</li>
    </ul>
    <h2 class="govuk-heading-m">Find out where you’ll get help</h2>
    <p class="govuk-text">Areas prone to flooding may already have flood groups and community hubs where you can find food, clothing, shelter and advice during a flood. Some areas have community flood wardens - volunteers who monitor a specific local area and inform its residents when flooding is likely.</p>
    <p class="govuk-text">Visit the <a href="https://nationalfloodforum.org.uk/">National Flood Forum</a>or call them on 01299 403 055 for help in finding local support. You can also try searching for local flood groups on social media.</p>
    <h3 class="govuk-heading-m">If you live near a watercourse</h3>
    <p class="govuk-text">There is specific guidance If you own property or live beside:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://www.gov.uk/guidance/owning-a-watercourse">a river</a></li>
      <li><a href="https://www.canalrivertrust.org.uk/enjoy-the-waterways/safety-on-our-waterways/water-safety-during-flooding">a canal</a></li>
    </ul>
  </div>
  <div class="govuk-grid-column-one-third">
      <div class="defra-related-items">
          <h2 class="govuk-heading-s" id="subsection-title">
              Related content
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
              <ul class="govuk-list govuk-!-font-size-16">
                  <li>
                      <a class="govuk-link" href="/what-to-do-in-a-flood">
                          What to do in a flood
                      </a>
                  </li>
                  <li>
                      <a class="govuk-link" href="/recovering-after-a-flood">
                          How to recover after a flood
                      </a>
                  </li>
                  <li>
                      <a class="govuk-link" href="/what-happens-after-a-flood">
                          What happens after a flood
                      </a>
                  </li>
              </ul>
          </nav>
        </div>
  </div>
</div>
{% endblock %}
