{% extends 'layout.html' %}

{% block content %}

<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Privacy notice</h1>
   </div>
</div>
<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Controller and Data Protection Officer contact details</h2>
      <p>The Environment Agency is the controller for the personal data we process under the UK General Data Protection Regulation (UK GDPR) and <a href="https://www.gov.uk/data-protection">Data Protection Act 2018</a> (DPA 2018).
         Our contact details are available on <a href="https://www.gov.uk/government/organisations/environment-agency/about/personal-information-charter#contact-our-data-protection-officer">GOV.UK</a>.
      </p>
      <p>Our <a
            href="https://www.gov.uk/government/organisations/environment-agency/about/personal-information-charter">personal
            information charter</a> explains: </p>
      <ul class="govuk-list govuk-list--bullet">
         <li>how to contact our Data Protection Officer</li>
         <li>what we do with your personal information (personal data) in general</li>
         <li>your rights and how to complain to the Information Commissioner's Office</li>
      </ul>

      <h2 class="govuk-heading-m">What personal data we collect</h2>
      <p>We collect several pieces of personal data from you. The lawful basis we rely on for processing your personal
         data is your consent under article 6(1)(a) of the UK GDPR.</p>
      <p>To withdraw your consent for processing at any time, <a
            href="https://www.gov.uk/government/organisations/environment-agency/about/personal-information-charter#contact-us">contact
            us</a>.</p>

      <h3 class="govuk-heading-s">Cookies</h3>
      <p>We obtain your personal data by placing small files called cookies onto your computer to collect information
         about how you use our GOV.UK service. Find out more about <a
            href="https://check-for-flooding.service.gov.uk/cookies">cookies and how to manage them</a>.</p>

      <h3 class="govuk-heading-s">Feedback form</h3>
      <p>When you submit feedback through our feedback form, we collect:</p>
      <ul class="govuk-list govuk-list--bullet">
         <li>your Internet Protocol (IP) address, and details about which <a
               href="https://www.gov.uk/support/browsers">web browser</a> and version you use</li>
         <li>your email address if you include it</li>
      </ul>

      <h3 class="govuk-heading-s">Webchat</h3>
      <p>When you use webchat, we collect:</p>
      <ul class="govuk-list govuk-list--bullet">
         <li>your name</li>
         <li>your IP address and details about which web browser and version you use</li>
         <li>your email address, and other personal data, if you include it</li>
      </ul>

      <h2 class="govuk-heading-m">What we do with your personal data</h2>
      <p>We use your personal data to:</p>
      <ul class="govuk-list govuk-list--bullet">
         <li>improve the service by monitoring how it's used and analysing feedback</li>
         <li>invite you to take part in user research, if you ask us to</li>
      </ul>
      <p>We do not use your personal information to make an automated decision or for automated profiling.</p>

      <h2 class="govuk-heading-m">Where your personal information is stored and processed</h2>
      <p>We store and process your personal data on secure servers in the <a href="https://www.gov.uk/eu-eea">European
            Economic Area (EEA)</a>.</p>
      <p>Your data will not be transferred outside the European Economic Area.</p>


      <h2 class="govuk-heading-m">How long we keep your personal data</h2>
      <p>We keep your personal data for 24 months. We may retain anonymised feedback longer than this.</p>

      <h2 class="govuk-heading-m">Changes to this notice</h2>
      <p>We may change this privacy notice. In that case, the 'last updated' date at the bottom of this page will also
         change. Any changes to this privacy notice will immediately apply to you and your data.</p>
      <p>If these changes affect how your personal data is processed, we'll take reasonable steps to let you know.</p>

      <p>This notice was last updated on 03 January 2024.</p>
   </div>
</div>

{% endblock %}