{% extends 'layout.html' %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Personal information charter</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>
      We are the Environment Agency and this information charter sets out the standards you can expect from us when we collect, hold or use your personal information.
      We are a data controller – a data controller determines how and why personal data is processed.
      We will follow all applicable UK and EU data protection laws in how we treat your personal information.
    </p>

    <nav class="defra-contents">
      <h2 class="govuk-heading-m">Contents</h2>
      <ul class="defra-contents__list">
        <li class="defra-contents__item">
            <a href="#your-rights">
                Your rights
            </a>
        </li>
        <li class="defra-contents__item">
            <a href="#privacy-notes">
                Privacy notices
            </a>
        </li>
        <li class="defra-contents__item">
            <a href="#storing-and-processing-your-data">
                Storing and processing your data
            </a>
        </li>
        <li class="defra-contents__item">
            <a href="#sharing-your-data">
                Sharing your data
            </a>
        </li>
        <li class="defra-contents__item">
            <a href="#how-to-contact-us">
                How to contact us
            </a>
        </li>
        <li class="defra-contents__item">
            <a href="#how-to-contact-the-data-protection-officer">
                How to contact the Data Protection Officer
            </a>
        </li>
        <li class="defra-contents__item">
            <a href="#independent-advice-on-data-protection-and-privacy">
                Independent advice on data protection and privacy
            </a>
        </li>
        <li class="defra-contents__item">
            <a href="#changes-to-this-personal-information-charter">
                Changes to this personal information charter
            </a>
        </li>
      </ul>
    </nav>
    
    <h2 id="your-rights" class="govuk-heading-m">Your rights</h2>
    <p>When we collect, hold, use or otherwise process your personal information, you have a right to be told:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>what the data is being used for</li>
        <li>why we’re legally able to process your data (also called the ‘lawful basis for processing’)</li>
        <li><a href="#storing-and-processing-your-data">how long we will keep your data</a></li>
        <li><a href="#sharing-your-data">who we will share it with</a></li>
        <li>whether it will be <a href="#storing-and-processing-your-data">transferred or accessed outside the UK or EU</a>, and what legal protection it will have</li>
        <li>who our <a href="#how-to-contact-the-data-protection-officer">Data Protection Officer</a> is</li>
        <li>about any rights you have, including the <a href="#storing-and-processing-your-data">right to access your information</a> or to object to its being used</li>
        <li>about your right to complain to the <a href="#independent-advice-on-data-protection-and-privacy">Information Commissioner</a> if you feel that your personal information has been mishandled</li>
    </ul>
    <p>You are also entitled to have your personal information:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>protected and kept secure</li>
        <li>kept accurate and up to date</li>
        <li>not used for purposes which are incompatible with those for which it was collected</li>
        <li>kept only for as long as it is needed for the purpose for which it was collected (unless it must be kept as part of the historic record)</li>
    </ul>
    <p>You have other rights under the General Data Protection Regulation (GDPR) and the Data Protection Act 2018 (DPA 2018). These are listed in full on the Information Commissioner’s website at:</p>

    <a href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/">https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/</a>

    <p class="govuk-body govuk-!-margin-top-3">See the <a href="#how-to-contact-us">‘How to contact us’</a> section to find out how to exercise any of your rights under data protection legislation, or for any queries.</p>

    <h2 id="privacy-notes" class="govuk-heading-m">Privacy notices</h2>
    <p>When we provide a service that requires processing of personal information, we will also provide a detailed privacy notice for that service. This will give you the information that you have a <a href="#your-rights">right to be told</a> under data protection legislation.   </p>
    <p>See the <a href="#how-to-contact-us">‘How to contact us’</a> section if you need assistance with accessing a privacy notice for a particular service.</p>

    <h2 id="storing-and-processing-your-data" class="govuk-heading-m">Storing and processing your data</h2>
    <p>We will only keep your personal data for as long as necessary, in line with statutory, regulatory, legal or security requirements, or based on historic value. Details will be on the relevant <a href="#privacy-notes">privacy notice</a>.</p>
    <p>We will store and dispose of your information securely and protect it to make sure only the people that need to have access to it. </p>
    <p>We will only use your personal data in ways that are compatible with the purpose(s) set out in the relevant privacy notice. This includes contacting you to improve our service and to request consent to use your data for a new purpose.</p>
    <p>We may be under an obligation to publish data on a public register, this will be made clear on the privacy notice for the services that this applies to.</p>
    <p>In most cases your personal data will be stored and processed inside the European Economic Area (EEA). When your data will be transferred outside the EEA, we will inform you and let you know what safeguards are in place.</p>

    <h2 id="sharing-your-data" class="govuk-heading-m">Sharing your data</h2>
    <p>We may share your data with other organisations working on our behalf. We will let you know when we are going to share your personal data and who with. We will ask for your permission if required. Details will be on the relevant <a href="#privacy-notes">privacy notice</a>.</p>
    <p>We will not make your personal data available for commercial use without your specific permission.</p>
    <p>We may have to release personal data under the Environmental Information Regulations 2004 and the Freedom of Information Act 2000. </p>
    <p>We will share your data if we are required to do so by law – for example, by court order, or to prevent fraud or other crime. </p>

    <h2 id="sharing-your-data" class="govuk-heading-m">Processing personal data for law enforcement purposes</h2>
    <p>We process personal data for the prevention and detection of crime, and the prosecution and apprehension of offenders under Part 3 of the DPA 2018. This is part of our role as an environmental regulator.</p>

    <h2 id="how-to-contact-us" class="govuk-heading-m">How to contact us</h2>
    <p>If you are already in touch with one of our teams, you can direct your query through your normal contact. </p>
    <p>This includes requests to exercise any of your rights under data protection legislation, including to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>get a copy of the personal data we have about you</li>
      <li>correct inaccurate or incomplete personal data we have about you</li>
      <li>request that we delete your personal data, or stop using it</li>
      <li>restrict how we can use your personal data</li>
    </ul>
    <p>
      Otherwise, use the following details for any of the above or any other general queries:
    </p>
    <p>
      Email
      <br />
      <a href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a>
      <br />
      Telephone
      <br />
      03708 506 506
    </p>

    <h2 id="how-to-contact-the-data-protection-officer" class="govuk-heading-m">How to contact our Data Protection Officer</h2>
    <p>Contact our Data Protection Officer (DPO) with any concerns about how we handle your personal information.</p>
    <p>The DPO is responsible for independent advice and monitoring of the Environment Agency’s use of personal information.</p>

    <div class="address">
      <p>
        Data Protection Officer
        <br>Environment Agency
        <br>Horizon House
        <br>Deanery Road
        <br>Bristol
        <br>BS1 5AH
      </p>
      <p>
        Email
        <br />
        <a href="mailto:dataprotection@environment-agency.gov.uk">dataprotection@environment-agency.gov.uk</a>
      </p>
    </div>

    <h2 id="independent-advice-on-data-protection-and-privacy" class="govuk-heading-m">Independent advice on data protection and privacy</h2>

    <p>Contact the Information Commissioner for independent advice about data protection, privacy and data-sharing issues.</p>
    <div class="address">
      <p>
        Information Commissioner's Office
        <br>Wycliffe House
        <br>Water Lane
        <br>Wilmslow
        <br>Cheshire
        <br>SK9 5AF
      </p>
      <p>
        Email
        <br />
        <a href="mailto:casework@ico.org.uk">casework@ico.org.uk </a>
        <br />
        Contact form
        <br />
        <a href="https://ico.org.uk/global/contact-us/email/">
           https://ico.org.uk/global/contact-us/email/
        </a>
      </p>
      <p>
        Telephone<br />
        0303 123 1113
        <br />
        Textphone <br />
        01625 545860
      </p>
    </div>

    <h2 id="changes-to-this-personal-information-charter" class="govuk-heading-m">Changes to this personal information charter</h2>
    <p>We keep our Personal Information Charter under regular review. This Personal Information Charter was last updated on 10 July 2018.</p>
  </div>

  <div class="govuk-grid-column-one-third">
    <aside class="defra-related-items" role="complementary">
      <h2 class="govuk-heading-s" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="/cookies">Cookies</a>
          </li>
          <li>
            <a href="/terms-and-conditions">Terms and conditions</a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>

{% endblock %}
