{% extends 'layout.html' %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Personal information charter</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>
      We are the Environment Agency and this information charter sets out the standards you can expect from us when we collect, hold or use your personal information.
      We are a data controller – a data controller determines how and why personal data is processed.
      We will follow all applicable UK and EU data protection laws in how we treat your personal information.
    </p>

    <h2 class="govuk-heading-m">Contents</h2>

    <ul class="govuk-list">
      <li>
          <a href="#your-rights">
              Your rights
          </a>
      </li>
      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
          <a class="gem-c-contents-list__link" href="#privacy-notes">
              Privacy notices
          </a>
      </li>
      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
          <a class="gem-c-contents-list__link" href="#storing-and-processing-your-data">
              Storing and processing your data
          </a>
      </li>
      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
          <a class="gem-c-contents-list__link" href="#sharing-your-data">
              Sharing your data
          </a>
      </li>
      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
          <a class="gem-c-contents-list__link" href="#how-to-contact-us">
              How to contact us
          </a>
      </li>
      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
          <a class="gem-c-contents-list__link" href="#how-to-contact-the-data-protection-officer">
              How to contact the Data Protection Officer
          </a>
      </li>
      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
          <a class="gem-c-contents-list__link" href="#independent-advice-on-data-protection-and-privacy">
              Independent advice on data protection and privacy
          </a>
      </li>
      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
          <a class="gem-c-contents-list__link" href="#changes-to-this-personal-information-charter">
              Changes to this personal information charter
          </a>
      </li>
    </ul>
    

    <h2 class="govuk-heading-m">Your rights</h2>
    <p>When we collect, hold, use or otherwise process your personal information, you have a right to be told:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>what the data is being used for</li>
        <li>why we’re legally able to process your data (also called the ‘lawful basis for processing’)</li>
        <li><a href="#storing-and-processing-your-data">how long we will keep your data</a></li>
        <li><a href="#sharing-your-data">who we will share it with</a></li>
        <li>whether it will be <a href="#storing-and-processing-your-data">transferred or accessed outside the UK or EU</a>, and what legal protection it will have</li>
        <li>who our <a href="#how-to-contact-the-data-protection-officer">Data Protection Officer</a> is</li>
        <li>about any rights you have, including the <a href="#storing-and-processing-your-data">right to access your information</a> or to object to its being used</li>
        <li>about your right to complain to the <a href="#independent-advice-on-data-protection-and-privacy">Information Commissioner</a> if you feel that your personal information has been mishandled</li>
    </ul>
    <p>You are also entitled to have your personal information:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>protected and kept secure</li>
        <li>kept accurate and up to date</li>
        <li>not used for purposes which are incompatible with those for which it was collected</li>
        <li>kept only for as long as it is needed for the purpose for which it was collected (unless it must be kept as part of the historic record)</li>
    </ul>
    <p>You have other rights under the General Data Protection Regulation (GDPR) and the Data Protection Act 2018 (DPA 2018). These are listed in full on the Information Commissioner’s website at:</p>
   
    
    <p>See the <a href="#how-to-contact-us">‘How to contact us’</a> section to find out how to exercise any of your rights under data protection legislation, or for any queries.</p>

  

  </div>

  <div class="govuk-grid-column-one-third">
    <aside class="defra-related-items" role="complementary">
      <h2 class="govuk-heading-s" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="/cookies">Cookies</a>
          </li>
          <li>
            <a href="/terms-conditions">Terms and conditions</a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>

{% endblock %}
