{% extends 'layout.html' %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Privacy notice</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        <p>These are the standards you can expect from the Environment Agency when we collect, hold or use your
          personal information when you use our service.</p>

        <p>We do this in line with data protection law, including the <a href="https://www.gov.uk/government/publications/guide-to-the-general-data-protection-regulation">General
            Data Protection Regulation (GDPR)</a> and the <a href="https://www.gov.uk/data-protection">Data
            Protection Act (DPA) 2018</a> .</p>

        <p>We are a data controller – this means we determine how and why your personal data is processed.
          You can learn more from our <a href="./privacy-policy">personal information charter.</a> </p>

        <h2 class="govuk-heading-m">Which data we collect</h2>
        <p>When you use our GOV.UK service, we place small files called cookies onto your computer to collect
          information about how you use it.
          You can <a href="./cookies">find out more about cookies and how to manage them</a>.</p>

        <p>When you submit feedback through our GOV.UK service, we collect:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>your email address if you include it</li>
          <li>your Internet Protocol (IP) address, and details of which version of which <a href="https://www.gov.uk/support/browsers">web browser</a> you use</li>
        </ul>

        <p>We are lawfully allowed to process your personal data because you consent to us doing so. You have
          the right to withdraw this consent at any time by contacting us:</p>
        <p>Email: <a href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a></p>
        <p>Telephone: 03708 506 506</p>

        <h2 class="govuk-heading-m">Why we collect your data</h2>

        <p>We collect data to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>improve the service by monitoring how it’s used and analysing feedback</li>
          <li>respond to any feedback you provide, if you ask us to</li>
        </ul>
        <p>We will not share or disclose your personal data to any party outside the Environment Agency without
          your consent
          unless we are lawfully able to do so. </p>

        <h2 class="govuk-heading-m">How long we retain your data</h2>
        <p>After 24 months we delete all personal data. We may retain anonymised feedback longer than this.</p>

        <h2 class="govuk-heading-m">Keeping your data secure</h2>
        <p>We have procedures and security features in place to keep your data secure once we receive it. It’s
          stored on secure servers in the <a href="https://www.gov.uk/eu-eea">European Economic Area</a>
          (EEA).</p>

        <h2 class="govuk-heading-m">Any data you send is at your own risk</h2>
        <p>Sending information over the internet is generally not completely secure, and we can’t guarantee the
          security of your data while it’s in transit.</p>

        <h2 class="govuk-heading-m">Your rights</h2>
        <p>You have rights under the General Data Protection Regulation (GDPR), including the right to <a href="https://www.gov.uk/data-protection">access
            your data</a> and the right to complain to the <a href="https://ico.org.uk/">Information
            Commissioner’s Office</a>.</p>
        <p>You have the right to withdraw consent. You can <a href="https://flood-warning-information.service.gov.uk/privacy-policy#how-to-contact-us">contact
            us</a> to do this.</p>
        <p>You can find out more about your rights in our <a href="./privacy-policy">personal Information
            charter</a>.</p>

        <h2 class="govuk-heading-m">Links to other websites</h2>
        <p>GOV.UK contains links to other websites. This privacy policy only applies to GOV.UK and doesn’t
          cover other government services and transactions that we link to. These services, such as <a href="https://www.gov.uk/government/publications/introducing-govuk-verify">GOV.UK
            Verify</a>, have their own terms, conditions and privacy policies.</p>
        <p>If you go to another website directly from this one, read its privacy policy to find out what it
          does with your information.</p>

        <h2 class="govuk-heading-m">Following a link to GOV.UK from another website</h2>
        <p>If you come to GOV.UK from another website, we may receive information from the other website. We
          don’t use this data. You should read the privacy policy of the website you came from to find out
          more about this.</p>


  </div>

  <div class="govuk-grid-column-one-third">
    <aside class="defra-related-items" role="complementary">
      <h2 class="govuk-heading-s" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="/cookies">Cookies</a>
          </li>
          <li>
            <a href="/terms-and-conditions">Terms and conditions</a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>

{% endblock %}
