{% extends 'layout.html' %}

{% block pageTitle %}
{{ model.title }} - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Rainfall at {{ model.stationName }} gauge
    <!-- <span class="govuk-caption-m">Measured {{ model.timeElapsed }}</span> -->
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav aria-label="Related levels" class="govuk-!-margin-top-0">
      <span id="map"></span>
      <a class="defra-link-s" href="/river-sea-groundwater-rainfall-levels?place={{ model.nearby }}">
        Nearby levels
      </a>
    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="defra-flood-statistics govuk-!-margin-top-2">
      <p class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-0">
        Recent rainfall up to {{ model.latestTimeFormatted }}, {{ model.latestDayFormatted }}<span class="defra-toggletip" data-label="More information" data-toggletip-content="We get readings more often as the risk of flooding increases"></span>
      </p>
      <dl class="defra-flood-statistics__list" aria-label="Recent totals">
        <div class="defra-flood-statistics__column-one-third"> 
          <dt class="defra-flood-statistics__key">
            1 hour
          </dt>
          <dd class="defra-flood-statistics__value">
            {{ model.telemetryRainfall.latest1hr }}mm
            <!--<span class="defra-flood-statistics__value-detail">upto {{ model.time }}</span>-->
          </dd>
        </div>
        <div class="defra-flood-statistics__column-one-third"> 
          <dt class="defra-flood-statistics__key" aria-describedby="total-description">
            6 hours
          </dt>
          <dd class="defra-flood-statistics__value">
            {{ model.telemetryRainfall.latest6hr }}mm
            <!--<span class="defra-flood-statistics__value-detail">upto {{ model.time }}</span>-->
          </dd>
        </div>
        <div class="defra-flood-statistics__column-one-third"> 
          <dt class="defra-flood-statistics__key" aria-describedby="total-description">
            24 hours
          </dt>
          <dd class="defra-flood-statistics__value">
            {{ model.telemetryRainfall.latest24hr }}mm
            <!--<span class="defra-flood-statistics__value-detail">upto {{ model.time }}</span>-->
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-4">Rainfall over the last 5 days in millimetres</h2>
    <div id="bar-chart" class="defra-bar-chart"></div>
    <a href="" class="defra-button-download-s govuk-!-margin-bottom-2 govuk-!-margin-top-2">
      Download rainfall for the last 5 days CSV (123KB)
    </a>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "partials/social.html" %}
    {% include "partials/context-footer.html" %}
    {% include "partials/related-content.html" %}
  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script>
  window.flood = {
    model: {
      id: {{ model.rainfallStation.station_reference | dump | safe }},
      centroid: {{ model.station.centroid | dump | safe }},
      bingApiKey: {{ model.bingApiKey | dump | safe }},
      telemetry: {{ model.telemetryRainfall | dump | safe }}
    }
  }
</script>
<script src="/public/javascripts/rainfall.js"></script>
{% endblock %}