{% extends 'layout.html' %}

{% block content %}

{% if model.referer %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a href="{{ model.referer }}" class="govuk-back-link govuk-!-margin-bottom-7">Back</a>
  </div>
</div>
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {% if model.gridRef %}
      <span class="govuk-caption-xl">Rainfall measured at grid reference</span>
      {{ model.gridRef }}
      {% else %}
      <span class="govuk-caption-xl">Rainfall measured at </span>
      {{ model.name }}
      {% endif %}
    </h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-tabs" data-module="tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#six-hours">
            6 hours
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#one-day">
            1 day
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#four-weeks">
            4 weeks
          </a>
        </li>
      </ul>
      <section class="govuk-tabs__panel" id="six-hours">
        <figure class="defra-bar-chart">
          <figcaption class="defra-bar-chart__caption">
            Rainfall (latest 6 hours)
          </figcaption>
          <div class="defra-bar-chart__inner">
            <table class="defra-bar-chart__table">
              <thead>
                <tr>
                  <th scope="col">15 minute period</th>
                  <th scope="col">Measurement</th>
                </tr>
              </thead>
              <tbody>
                {% for column in model.graphMinutes.columns %}
                <tr>
                  <td class="{% if column.isTick %}defra-bar-chart__h-tick{% else %}govuk-visually-hidden{% endif %}" style="width:{{ column.hWidthPercentile * 4 }}%;left:{{ column.hPercentile - (column.hWidthPercentile * 1.5) }}%">
                    <span class="govuk-body-s">
                      <time datetime="{{ column.timestamp }}">{{ column.period }}</time>
                    </span>
                  </td>
                  <td class="{% if column.value %}defra-bar-chart__h-value{% else %}govuk-visually-hidden{% endif %}" style="width:{{ column.hWidthPercentile }}%;left:{{ column.hPercentile }}%;height:{{ column.vPercentile }}%">
                    <span class="defra-bar-chart__h-value-inner">{{ column.value }}mm</span>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot aria-hidden="true">
                <tr class="defra-bar-chart__v-axis">
                  {% for i in range(0, model.graphMinutes.vTicksCount) -%}
                  <td class="defra-bar-chart__v-tick" style="bottom:{{ i * model.graphMinutes.vTickPercentile }}%">
                    <span class="defra-bar-chart__v-tick-label">{{ i * model.graphMinutes.vTickValue }}mm</span>
                  </td>
                  {%- endfor %}
                  {% if model.graphMinutes.threshold %}
                  <!-- <td class="defra-bar-chart__v-threshold" style="bottom:{{ model.graphMinutes.thresholdPercentile }}%">
                    <span class="govuk-visually-hidden">{{ model.graphMinutes.threshold }}mm</span>
                  </td> -->
                  {% endif %}
                </tr>
              </tfoot>
            </table>
            <div class="defra-bar-chart__legend" style="bottom:{{ model.graphMinutes.thresholdPercentile }}%">
              <div class="defra-bar-chart__legend--inner">
                <!--
                Average daily rainfall for January<span class="govuk-visually-hidden"> is {{ model.graphMinutes.threshold }}mm.</span>
                -->
                <!-- Heavy rainfall level<span class="govuk-visually-hidden"> is defined here as above {{ model.graphMinutes.threshold }}mm in 15 minutes.</span> -->
              </div>
            </div>
          </div>
        </figure>
      </section>
      <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="one-day">
        <figure class="defra-bar-chart">
          <figcaption class="defra-bar-chart__caption">
            Hourly rainfall (latest 24 hours)
          </figcaption>
          <div class="defra-bar-chart__inner">
            <table class="defra-bar-chart__table">
              <thead>
                <tr>
                  <th scope="col">Hourly period</th>
                  <th scope="col">Measurement</th>
                </tr>
              </thead>
              <tbody>
                {% for column in model.graphHours.columns %}
                <tr>
                  <td class="{% if column.isTick %}defra-bar-chart__h-tick{% else %}govuk-visually-hidden{% endif %}" style="width:{{ column.hWidthPercentile * 4 }}%;left:{{ column.hPercentile - (column.hWidthPercentile * 1.5) }}%">
                    <span class="govuk-body-s">
                      <time datetime="{{ column.timestamp }}">{{ column.period }}</time>
                    </span>
                  </td>
                  <td class="{% if column.value %}defra-bar-chart__h-value{% else %}govuk-visually-hidden{% endif %}" style="width:{{ column.hWidthPercentile }}%;left:{{ column.hPercentile }}%;height:{{ column.vPercentile }}%">
                    <span class="defra-bar-chart__h-value-inner">{{ column.value }}mm</span>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot aria-hidden="true">
                <tr class="defra-bar-chart__v-axis">
                  {% for i in range(0, model.graphHours.vTicksCount) -%}
                  <td class="defra-bar-chart__v-tick" style="bottom:{{ i * model.graphHours.vTickPercentile }}%">
                    <span class="defra-bar-chart__v-tick-label">{{ i * model.graphHours.vTickValue }}mm</span>
                  </td>
                  {%- endfor %}
                  {% if model.graphHours.threshold %}
                  <td class="defra-bar-chart__v-threshold" style="bottom:{{ model.graphHours.thresholdPercentile }}%">
                    <span class="govuk-visually-hidden">{{ model.graphHours.threshold }}mm</span>
                  </td>
                  {% endif %}
                </tr>
              </tfoot>
            </table>
            <div class="defra-bar-chart__legend" style="bottom:{{ model.graphHours.thresholdPercentile }}%">
              <div class="defra-bar-chart__legend--inner">
                <!--
                Average daily rainfall for January<span class="govuk-visually-hidden"> is {{ model.graphHours.threshold }}mm.</span>
                -->
                Heavy rainfall level<span class="govuk-visually-hidden"> is defined here as above {{ model.graphHours.threshold }}mm in 15 minutes.</span>
              </div>
            </div>
          </div>
        </figure>
      </section>
      <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="four-weeks">
        <figure class="defra-bar-chart">
          <figcaption class="defra-bar-chart__caption">
            Daily rainfall (latest 4 weeks)
          </figcaption>
          <div class="defra-bar-chart__inner">
            <table class="defra-bar-chart__table">
              <thead>
                <tr>
                  <th scope="col">Day</th>
                  <th scope="col">Measurement</th>
                </tr>
              </thead>
              <tbody>
                {% for column in model.graphDays.columns %}
                <tr>
                  <td class="{% if column.isTick %}defra-bar-chart__h-tick{% else %}govuk-visually-hidden{% endif %}" style="width:{{ column.hWidthPercentile * 4 }}%;left:{{ column.hPercentile - (column.hWidthPercentile * 1.5) }}%">
                    <span class="govuk-body-s">
                      <time datetime="{{ column.timestamp }}">{{ column.period }}</time>
                    </span>
                  </td>
                  <td class="{% if column.value %}defra-bar-chart__h-value{% else %}govuk-visually-hidden{% endif %}" style="width:{{ column.hWidthPercentile }}%;left:{{ column.hPercentile }}%;height:{{ column.vPercentile }}%">
                    <span class="defra-bar-chart__h-value-inner">{{ column.value }}mm</span>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot aria-hidden="true">
                <tr class="defra-bar-chart__v-axis">
                  {% for i in range(0, model.graphDays.vTicksCount) -%}
                  <td class="defra-bar-chart__v-tick" style="bottom:{{ i * model.graphDays.vTickPercentile }}%">
                    <span class="defra-bar-chart__v-tick-label">{{ i * model.graphDays.vTickValue }}mm</span>
                  </td>
                  {%- endfor %}
                  {% if model.graphDays.threshold %}
                  <td class="defra-bar-chart__v-threshold" style="bottom:{{ model.graphDays.thresholdPercentile }}%">
                    <span class="govuk-visually-hidden">{{ model.graphDays.threshold }}mm</span>
                  </td>
                  {% endif %}
                </tr>
              </tfoot>
            </table>
            <div class="defra-bar-chart__legend" style="bottom:{{ model.graphDays.thresholdPercentile }}%">
              <div class="defra-bar-chart__legend--inner">
                <!--
                Average daily rainfall for January<span class="govuk-visually-hidden"> is {{ model.graphDays.threshold }}mm.</span>
                -->
                Heavy rainfall level<span class="govuk-visually-hidden"> is defined here as above {{ model.graphDays.threshold }}mm in 15 minutes.</span>
              </div>
            </div>
          </div>
        </figure>
      </section>
    </div>
  </div>
</div>

<section class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <details class="govuk-details govuk-!-margin-bottom-1">
          <summary class="govuk-details__summary" id="summary-express" aria-controls="details-content-how-measured" aria-expanded="false" role="button" data-journey-click="lfw:station:how-measured">
            <span class="govuk-details__summary-text">
              How is rainfall measured?
            </span>
          </summary>
          <div class="govuk-details__text" id="details-content-how-measured" aria-hidden="true">

              <p>The Environment Agency uses a network of rainfall measuring stations across the country. Information from these is fed into our system to provide a picture of:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>how much rain has fallen</li>
                <li>where the rain has fallen</li>
                <li>at what rate the rain has fallen</li>
              </ul>
          </div>
        </details>
        <details class="govuk-details govuk-!-margin-bottom-1">
          <summary class="govuk-details__summary" aria-controls="details-content-when-measured" aria-expanded="false" role="button" data-journey-click="lfw:station:when-measured">
            <span class="govuk-details__summary-text">
              How might rainfall affect flood risk?
            </span>
          </summary>
          <div class="govuk-details__text" id="details-content-when-measured" aria-hidden="true">
            <p>
              Heavy rainfall is closely linked to flood risk - especially surface water flooding.
              Many factors can contribute to flooding including river levels, ground saturation levels, tides and wind.
              The government 's <a href="https://flood-warning-information.service.gov.uk/warnings">live flood warning service</a> assesses all these factors when issuing flood warnings and alerts in England.
            </p>
            <p>As a guide, 50mm in 24 hours is considered heavy rainfall.</p>
          </div>
        </details>
  </div>
</section>

{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script src="{{ assetPath }}/nunjucks-slim.min.js"></script>
<script>nunjucks.configure()</script>
<script>
  window.flood.model = {{ model | dump(2) | safe }}
</script>
<script src="{{assetPath}}/js/pages/rain-gauge.js"></script>
{% endblock %}
