{% extends 'layout.html' %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="" onclick="window.history.back();return false" class="govuk-back-link govuk-!-margin-bottom-7">Back</a>
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Rain gauge at</span>
      {{ model.name }}
    </h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-tabs" data-module="tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#six-hours">
            6 hours
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#twenty-four-hours">
            24 hours
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#thirty-days">
            30 days
          </a>
        </li>
      </ul>
      <section class="govuk-tabs__panel" id="six-hours">
        <figure class="defra-bar-chart">
          <figcaption class="defra-bar-chart__caption">
            Rainfall measured at 15 minute intervals over the last 6 hours
          </figcaption>
          <div class="defra-bar-chart__inner">
            <table class="defra-bar-chart__table">
              <thead>
                <tr>
                  <th scope="col">15 minute period</th>
                  <th scope="col">Measurement</th>
                </tr>
              </thead>
              <tbody>
                {% for record in model.fifteen %}
                <tr>
                  <td class="{% if record.isTick %}defra-bar-chart__h-tick{% else %}govuk-visually-hidden{% endif %}" style="width:{{ record.hWidthPercentile * 4 }}%;left:{{ record.hPercentile - (record.hWidthPercentile * 1.5) }}%">
                    <span class="govuk-body-s">
                      <time datetime="{{ record.timestamp }}">{{ record.period }}</time>
                    </span>
                  </td>
                  <td class="{% if record.value %}defra-bar-chart__h-value{% else %}govuk-visually-hidden{% endif %}" style="width:{{ record.hWidthPercentile }}%;left:{{ record.hPercentile }}%;height:{{ record.vPercentile }}%">
                    <span class="defra-bar-chart__h-value-inner">{{ record.value }}mm</span>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot aria-hidden="true">
                <tr class="defra-bar-chart__v-axis">
                  {% for i in range(0, model.vAxisFifteen.vTicksCount) -%}
                  <td class="defra-bar-chart__v-tick" style="bottom:{{ i * model.vAxisFifteen.vTickPercentile }}%">
                    <span class="defra-bar-chart__v-tick-label">{{ i * model.vAxisFifteen.vTickValue }}mm</span>
                  </td>
                  {%- endfor %}
                  {% if model.fifteenThreshold %}
                  <td class="defra-bar-chart__v-tick defra-bar-chart__v-tick--threshold" style="bottom:{{ model.fifteenThresholdPercentile }}%">
                    <span class="govuk-visually-hidden">{{ model.fifteenThreshold }}mm</span>
                  </td>
                  {% endif %}
                </tr>
              </tfoot>
            </table>
            <div class="defra-bar-chart__legend" style="bottom:{{ model.fifteenThresholdPercentile }}%">
              <div class="defra-bar-chart__legend--inner">
                <!--
                Average daily rainfall for January<span class="govuk-visually-hidden"> is {{ model.fifteenThreshold }}mm.</span>
                -->
                Heavy rainfall level<span class="govuk-visually-hidden"> is defined here as above {{ model.fifteenThreshold }}mm in 15 minutes.</span>
              </div>
            </div>
          </div>
        </figure>
      </section>
      <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="twenty-four-hours">
        <p class="govuk-body">24 hours</p>
      </section>
      <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="thirty-days">
        <p class="govuk-body">30 days</p>
      </section>
    </div>
  </div>
</div>
{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script src="{{ assetPath }}/nunjucks-slim.min.js"></script>
<script>nunjucks.configure()</script>
<script>
  window.flood.model = {{ model | dump(2) | safe }}
</script>
<script src="{{assetPath}}/javascripts/pages/rain-gauge.js"></script>
{% endblock %}
