{% extends 'layout.html' %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            How to recover after a flood
        </h1>
    </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Contact your insurance company</h2>
    <p class="govuk-text">If you’ve been flooded, contact your insurance company and follow their advice. If you haven’t got insurance, the <a href="http://www.nationalfloodforum.org.uk">National Flood Forum</a> can offer help and support on 01299 403055.</p>
    <h2 class="govuk-heading-m">Find your local flood action group or flood warden</h2>
    <p class="govuk-text">If there’s been a serious flood, your local authority may have chosen a place like the town hall as a ‘flood hub’ from which to organise recovery efforts. You may also have a nearby flood warden or flood action group. Contact the <a data-journey-click="PRR:recovering-after-a-flood_Find your local flood action group or flood warden:National Flood Forum" href="http://www.nationalfloodforum.org.uk">National Flood Forum</a> for help in finding local support.</p>
    <h2 class="govuk-heading-m">Check if you can return home</h2>
    <p class="govuk-text">If you’ve had to leave your home, check with the emergency services that it’s safe before you return.</p>
    <p class="govuk-text">Your home or business may also need a safety inspection by the utility companies before you can turn the water, gas and electricity back on.</p>
    <h2 class="govuk-heading-m">Cleaning and repairing your home</h2>
    <p class="govuk-text">Take advice from specialists before starting repairs to your property. Most of the repair work after flooding will need to be undertaken by professionals appointed by your insurers.</p>
    <p class="govuk-text">Flood water may contain harmful substances like sewage, chemicals and animal waste which could make you unwell. If you come into contact with flood water, wash your hands thoroughly.</p>
    <p class="govuk-text">When cleaning your home after a flood always wear gloves, a face mask and sturdy footwear. Find out <a href="https://www.gov.uk/government/publications/floods-how-to-clean-up-your-home-safely">how to clean up your home safely</a> after a flood.</p>
    <p class="govuk-text">Before you start cleaning, take photographs to document damage and record the flood water height. Ask your insurer before discarding items that cannot be cleaned, like mattresses and carpets.</p>
    <p class="govuk-text">If you use heaters or dehumidifiers to dry out your property, make sure there’s good ventilation. Never use petrol or diesel-powered generators indoors – their exhaust gases are potentially lethal.</p>
    <p class="govuk-text">If you have any questions about recovering from a flood, such as disposing of used sandbags or damaged furniture, contact <a data-journey-click="PRR:recovering-after-a-flood_Cleaning and repairing your home:your local authority" href="https://www.gov.uk/find-local-council">your local authority</a>. They should help with collecting large flood-damaged items. They’ll tell you where to put them and when they may be collected.</p>
    <h2 class="govuk-heading-m">Protect your property from future floods</h2>
    <p class="govuk-text">To reduce flood damage you could take measure such as laying tiles instead of carpets, moving electrical sockets higher up the walls and fitting non-return valves.</p>
    <p class="govuk-text">Suppliers of flood products and services can be found on the <a href="http://bluepages.org.uk">Bluepages</a>.</p>
    <p class="govuk-text">Read the National Flood Forum's advice on <a href="https://nationalfloodforum.org.uk/about-flooding/reducing-your-risk/protecting-your-property">how to protect your property from flooding in the future</a>.</p>
    <h2 class="govuk-heading-m">Stay healthy</h2>
    <p class="govuk-text">You can find general advice about <a href="https://www.gov.uk/government/publications/flooding-questions-and-answers-about-health">staying healthy after a flood</a>.</p>
    <p class="govuk-text">If you notice a change in the colour, taste or smell of your tap water, stop using it and phone your water company.</p>
    <p class="govuk-text">You can get support from <a href="https://www.gov.uk/health-protection-team">your local health protection team</a> to prevent and reduce the effect of diseases.</p>
    <p class="govuk-text">Don’t eat food that’s touched flood water. If your electricity is off, don’t eat fresh food from a fridge after 4 hours or from a freezer after 24 hours.</p>
    <p class="govuk-text">The Food Standards Agency offers detailed <a href="https://www.food.gov.uk/business-guidance/food-safety-after-a-flood">food safety advice</a> for flood victims.</p>
    <h2 class="govuk-heading-m">Get help</h2>
    <p class="govuk-text">The Environment Agency has specially trained Flood Support Officers across the country who provide information and advice during and after floods. Call Floodline (24-hour service) on 0345 988 1188 or type-talk (for the hard of hearing) on 0345 602 6340 to find out if they’re active in your area.</p>
    <h2 class="govuk-heading-m">Get emotional support</h2>
    <p class="govuk-text">Having a flooded home is very stressful. If you need emotional support, contact family and friends, your doctor or an organisation like the <a data-journey-click="PRR:recovering-after-a-flood_Get emotional support:Red Cross" href="http://www.redcross.org.uk">Red Cross</a> or the <a data-journey-click="PRR:recovering-after-a-flood_Get emotional support:Samaritans" href="https://www.samaritans.org">Samaritans</a>.</p>
    <p class="govuk-text">The UK Health Security Agency offers a <a href="https://www.gov.uk/government/publications/flooding-health-advice-mental-health-following-floods">guide to mental wellbeing</a> after a flood.</p>
    <h2 class="govuk-heading-m">Apply for financial aid</h2>
    <p class="govuk-text">You may be able to get financial aid for flood recovery. Apply to <a href="https://www.gov.uk/find-local-council">your local council</a>.</p>
  </div>
  <div class="govuk-grid-column-one-third">
      <div class="defra-related-items">
          <h2 class="govuk-heading-s" id="subsection-title">
              Related content
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
              <ul class="govuk-list govuk-!-font-size-16">
                  <li>
                      <a class="govuk-link" href="/plan-ahead-for-flooding">
                          How to plan ahead for flooding
                      </a>
                  </li>
                  <li>
                      <a class="govuk-link" href="/what-to-do-in-a-flood">
                          What to do in a flood
                      </a>
                  </li>
                  <li>
                      <a class="govuk-link" href="/what-happens-after-a-flood">
                          What happens after a flood
                      </a>
                  </li>
              </ul>
          </nav>
      </div>
  </div>
</div>
{% endblock %}
