{% extends 'layout.html' %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      River, sea, groundwater and rainfall levels
    </h1>

    <div class="defra-search govuk-form-group govuk-!-margin-bottom-2">
      <form method="post" action="/river-and-sea-levels">
        <label class="govuk-label defra-search__label" for="location">Search river, town or postcode </label>
        <div class="defra-search__container">
          <input class="defra-search__input" id="location" name="location" type="search" spellcheck="false" value="{{ model.q }}">
          <div class="defra-search__submit-container">
            <button class="defra-search__button">
              <svg aria-hidden="true" focusable="false" width="20" height="20" viewBox="0 0 20 20" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><rect x="0" y="0" width="50" height="50" style="fill:none;"/><path d="M12.316,14.791c-1.242,0.79 -2.716,1.248 -4.296,1.248c-4.426,0 -8.02,-3.593 -8.02,-8.019c0,-4.426 3.594,-8.02 8.02,-8.02c4.426,0 8.019,3.594 8.019,8.02c0,1.58 -0.458,3.054 -1.248,4.296l5.209,5.209l-2.475,2.475l-5.209,-5.209Zm-4.296,-12.771c3.311,0 6,2.688 6,6c0,3.311 -2.689,6 -6,6c-3.312,0 -6,-2.689 -6,-6c0,-3.312 2.688,-6 6,-6Z" style="fill:currentColor;"/></svg>
              <span class="govuk-visually-hidden">Search</span>
            </button>
          </div>
        </div>
      </form>
    </div>
    <span id="map"></span>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m govuk-!-margin-top-8">Locations matching '{{ model.q }}'</h2>
    <p>More than one match was found for your location. Choose the correct location from the following options:</p>
    {% if model.rivers.length %}
    <h3 class="govuk-heading-s">Rivers</h3>
    <ul class="govuk-list" id="rivers-list">
      {% for river in model.rivers %}
        <li><a href="/river-and-sea-levels/river/{{ river.river_id }}">{{ river.qualified_name | toMarked(model.q) | safe}}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% if model.place %}
      <h3 class="govuk-heading-s">Levels near</h3>
      <ul class="govuk-list" id="places-list">
        <li><a href="/river-and-sea-levels?q={{model.place.address}}&includeTypes=place">{{ model.place.address | toMarked(model.q) | safe }}</a></li>
    </ul>
    {% endif %}
    <p>Alternatively try searching again</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "partials/context-footer.html" %}
    {% include "partials/related-content.html" %}
  </div>
</div>

{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script>
  window.flood.model = {{ model.clientModel | dump(2) | safe }}
</script>
<script src="{{assetPath}}/js/templates.js"></script>
<script src="{{assetPath}}/js/river-and-sea-levels.js"></script>
{% endblock %}
