{% extends 'layout.html' %}
{% block content %}

<!-- ** Prefix meta title with search term -->

{% if model.referer %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full" id="browserBackContainer"></div>
</div>
{% endif %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            River and sea levels
        </h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <!--
        <div class="govuk-form-group defra-search">
            <form method="post">
                <label class="govuk-label govuk-!-padding-bottom-1" for="location">Search by location or river</label>
                <input class="defra-input defra-input--search" id="location" name="location" type="text" value="{% if model.placeName %}{{ model.placeName }}{% else %}{{ model.q }}{% endif %}">
            </form>
        </div>
        -->
        <div class="govuk-form-group">
            <form method="post" autocomplete="off">
                <fieldset class="govuk-fieldset" aria-describedby="search-type">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                        Search
                        </h2>
                    </legend>
                    <span id="search-type" class="govuk-visually-hidden">
                        Select one option.
                    </span>
                    <div class="govuk-radios govuk-radios--conditional govuk-radios--small" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" {% if model.type == 'location' %}checked{% endif %} id="search-type-conditional" name="search-type" type="radio" value="location" data-aria-controls="conditional-search-type-conditional" aria-expanded="true" checked>
                            <label class="govuk-label govuk-radios__label" for="search-type-conditional">
                                Location
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-search-type-conditional">
                            <div class="govuk-form-group">
                                <label class="govuk-visually-hidden" for="location">
                                    Postcode, town or county
                                </label>
                                <div class="defra-search">
                                    <input class="defra-search__input" id="location" name="location" type="text" spellcheck="false" value="{% if model.type == 'location' %}{% if model.placeName %}{{ model.placeName }}{% else %}{{ model.q }}{% endif %}{% endif %}">
                                    <div class="defra-search__submit-container">
                                        <button class="defra-search__button">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" {% if model.type == 'river' %}checked{% endif %} id="search-type-conditional-2" name="search-type" type="radio" value="river" data-aria-controls="conditional-search-type-conditional-2">
                            <label class="govuk-label govuk-radios__label" for="search-type-conditional-2">
                                River
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-search-type-conditional-2">
                            <div class="govuk-form-group">
                                <label class="govuk-visually-hidden" for="river">
                                    River name
                                </label>
                                <div class="defra-search">
                                    <input class="defra-search__input" id="river" name="river" type="text" value="{% if model.type == 'river' %}{{ model.q }}{% endif %}" spellcheck="false">
                                    <div class="defra-search__submit-container">
                                        <button class="defra-search__button">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <div class="defra-search-summary " id="searchSummary">
            <h2 class="defra-search-summary__count">{{ model.countLevels }} level{% if model.countLevels != 1 %}s{% endif %}</h2>
        </div>
        {% if model.countLevels %}
        <ul class="defra-flood-list">
            {% for name, group in model.levels %}
            <li class="defra-flood-list__group">
                <span class="defra-flood-list__group-title">
                    {{ name }} <span class="govuk-visually-hidden">at:</span>
                </span>
                <dl class="defra-flood-list__items defra-flood-list__items--levels defra-flood-list__items--has-relation"><!-- Optional modifier 'defra-flood-list__items--has-relation' -->
                    {% for station in group %}
                    <div class="defra-flood-list__item{% if station.state %} defra-flood-list__item--{{ station.state }}{% endif %}">
                        <dt class="defra-flood-list__item-title">
                        {% if station.region === 'Wales' %}
                            <a href="https://rloi.naturalresources.wales/ViewDetails?station={{station.rloi_id}}{% if station.qualifier == 'd' %}/downstream{% endif %}">
                            {% else %}
                            <a href="/station/{{station.rloi_id}}{% if station.qualifier == 'd' %}/downstream{% endif %}">
                            {% endif %}
                                {{ station.external_name }}
                                {% if station.qualifier == 'd' %}
                                (downstream)
                                {% endif %}
                            </a>
                        </dt>
                        <dd class="defra-flood-list__item-desc">
                            {{ station.valueHtml | safe }}
                        </dd>
                    </div>
                    {% endfor %}
                </dl>
            </li>
            {% endfor %}
        </ul>
        <!--
        <nav>
            <div class="govuk-body pagination__summary">Showing 101 - 150 of 2200 levels</div>
            <ul class="pagination">
                <li class="pagination__item">
                    <a class="pagination__link" href="#0" aria-label="Previous page"><span aria-hidden="true" role="presentation">&laquo;</span> Previous</a>
                </li>
                <li class="pagination__item">
                    <a class="pagination__link" href="#0" aria-label="Page 1">1</a>
                </li>
                <li class="pagination__item">
                    <a class="pagination__link" href="#0" aria-label="Page 2">2</a>
                </li>
                <li class="pagination__item">
                    <a class="pagination__link current" href="#0" aria-current="true" aria-label="Page 3, current page">3</a>
                </li>
                <li class="pagination__item">
                    <a class="pagination__link" href="#0" aria-label="Page 4">4</a>
                </li>
                <li class="pagination__item">
                    <a class="pagination__link" href="#0" aria-label="Next page">Next <span aria-hidden="true" role="presentation">&raquo;</span></a>
                </li>
            </ul>
        </nav>
        -->
        {% else %}
        <p class="govuk-body govuk-!-margin-top-4">
            <strong>No river, sea or groundwater levels found.</strong>    
        </p>
        <p class="govuk-body">There are approximatley 2200 water level measuring stations in England. These are located mostly along main rivers and the coast.</p>
        <p class="govuk-body">Improve your search results by:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>searching a broader location</li>
            <li>double-checking your spelling</li>
        </ul>
        {% endif %}
    </div>
</div>

<div class="defra-map" id="map-live"></div>

{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script>
  window.flood.model = {{ model | dump(2) | safe }}
</script>
<script src="{{assetPath}}/js/templates.js"></script>
<script src="{{assetPath}}/js/river-and-sea-levels.js"></script>
{% endblock %}
