{% extends 'layout.html' %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Roadmap</h1>
        <p>The GOV.UK flood information service is live and fully supported. It helps individuals and businesses
          prepare for,
          respond to and recover from flooding.</p>
        <p>We are working to refresh and simplify the flood warning and information service. Here is our plan (often
          referred
          to as a roadmap) describing the things we are working on and when we hope to have them ready for you to use.
          This
          could change.</p>
        <p>You can <a href="mailto:floodresearch@environment-agency.gov.uk">contact us</a> for more detail about these
          features, or to suggest something else you’d like the flood warning and information service to provide.</p>

        <h2 class="govuk-heading-l">December 2018</h2>
        <p>We have: </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>built and established an online prototype designed to gather in-use feedback and metrics from a invited
            group
            of users across the key winter period</li>
          <li>refreshed designs for a new flood risk summary page, user dashboard and location search function, as well
            as
            completing content refinements for GOV.UK guidance pages</li>
        </ul>

        <h2 class="govuk-heading-l">December 2018 to March 2019</h2>
        <p>We will: </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>continue to test design prototypes, particularly around more meaningful local impact information, such as
            likely landmark or road flooding</li>
          <li>enable you to tailor risk assessment by location – you’ll not only be able to see when your property is
            threatened, but also get warnings when you’re away from your home or business</li>
          <li>use <a href="https://www.notifications.service.gov.uk/">GOV.UK Notify </a> to send flood warnings by text
            message to people who<a href="https://www.gov.uk/sign-up-for-flood-warnings"> register to receive flood
              warnings</a></li>
          <li>improve the content of our <a href="https://www.gov.uk/sign-up-for-flood-warnings">sign up for flood
              warnings
            </a> service based on user feedback</li>
          <li>begin to simplify the flood warning service for users</li>
        </ul>
        <p><a href="mailto:floodresearch@environment-agency.gov.uk">contact us</a> to take part in our research.</p>

        <h2 class="govuk-heading-l">April 2019 to July 2019</h2>
        <p>We will research, develop and test new features, including:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>rainfall forecasting data</li>
          <li>rain gauge data</li>
          <li>historic flood information</li>
          <li>GPS user location</li>
        </ul>

        <p>You will also see Met Office weather warnings used within the flood warning and information service.</p>
        <p>We will also be exploring how to use <a href="https://www.notifications.service.gov.uk/">GOV.UK Notify</a>
          to send
          letters to people who <a href="https://www.gov.uk/sign-up-for-flood-warnings">register to receive flood
            warnings</a>.
          As part of this, we will also improve our <a href="https://www.gov.uk/sign-up-for-flood-warnings">targeted
            flood
            warning service</a>, designed for large organisations such as the emergency services and utility companies.</p>

        <h2 class="govuk-heading-l">August 2019 to November 2019</h2>
        <p>You will be able to see online how much rain has fallen in your area and more easily <a href="https://www.gov.uk/report-flood-cause">report
            flooding to the Environment Agency.</a></p>
        <p>We’ll also increase the update frequency of <a href="https://www.gov.uk/report-flood-cause">river level
            forecasting stations</a>.</p>
        <p>Online, you will see historic flood data and an increase in the number of river level forecasting locations.</p>

        <h2 class="govuk-heading-l">December 2019 to March 2020</h2>
        <p>We will provide online information about community flood groups and you’ll be able to personalise your alert
          preferences.</p>
        <p>And there will be better social media integration with Facebook and Twitter.</p>

        <h2 class="govuk-heading-l">April 2020</h2>
        <p>Our service refresh will be completed.</p>
      </div>
    </div>
  </main>
</div>
{% endblock %}
