{% extends 'layout.html' %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Flood risk</span>
        <h1 class="govuk-heading-xl">This phone number has been automatically opted-in to receive flood warnings</h1>   
        <p>In England, the Environment Agency sends flood warnings to phone numbers registered in areas at risk of flooding from rivers or the sea. The service is anonymous and free.</p>
        
        <h3 class="govuk-heading-m">Why did we send you this message?</h3>
        <p>We have a legal duty to warn people who may be at risk of flooding so they can take action to protect themselves, their family and property.</p>
        <p>This phone number was automatically added to the list of numbers to which we send flood warnings. This is because it was registered in an area that’s at risk of flooding in the future and that may have flooded in the past.</p>
        
        <h3 class="govuk-heading-m">How did we get your number?</h3>
        <p>We tell phone companies about areas at risk of flooding. They send us a list of the phone numbers registered in those areas.</p>
        <p>They do not give us the names or addresses associated with those numbers. We store the numbers securely, in line with our personal information charter.</p>

        <h3 class="govuk-heading-m">Do I need to do anything?</h3>
        <p>You can fully register or stop receiving flood warnings.</p>

        <h3 class="govuk-heading-m">Fully register your details</h3>
        <p>Fully register your details now to get the best experience of the flood warnings service. The service is free.</p>
        <p>You can register more than one telephone number. You can also choose to be sent:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>flood warnings, which indicate that flooding is expected</li>
          <li>flood alerts, which indicate that flooding is possible</li>
          <li>warnings and alerts by text message, recorded voice message, or email</li>
          <li>warnings and alerts about more than one location</li>
        </ul>

        <h3 class="govuk-heading-m">Stop receiving flood warnings</h3>
        <p>To opt out of the service, you can do any of the following.</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>send an email to <a href="mailto:floodresearch@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a> including your telephone number</li>
          <li>text ‘REMOVE’ to 60006, using the phone which received the original text</li>
          <li>call Floodline on 0345 988 1188 <a href="https://www.gov.uk/call-charges">(Call charges may apply)</a></li>
        </ul>

        <p>Your number will be removed from the service and you will no longer receive warnings of potential floods.</p>

        <h3 class="govuk-heading-m">If you do nothing</h3>
        <p>Your phone will automatically receive local flood warnings whenever they are issued.</p>

        <h3 class="govuk-heading-m">If you receive a flood warning or alert</h3>

        <h3 class="govuk-heading-m">Prepare</h3>

        <ul class="govuk-list govuk-list--bullet">
          <li>Prepare a bag that contains medicines and insurance documents</li>
          <li>Get information and advice from the flood information service</li>
        </ul>

        <h3 class="govuk-heading-m">Act</h3>

        <ul class="govuk-list govuk-list--bullet">
          <li>Turn off gas, water and electricity</li>
          <li>Move things upstairs or to safety</li>
          <li>Move family, pets and cars to safety</li>
        </ul>

        <h3 class="govuk-heading-m">Survive</h3>

        <ul class="govuk-list govuk-list--bullet">
          <li>Call 999 if in immediate danger</li>
          <li>Listen to emergency services and evacuate if told to do so</li>
        </ul>

        <h3 class="govuk-heading-m">Flooding can happen anywhere</h3>

        <p>Flooding puts lives at risk and causes millions of pounds worth of damage every year. Even if you haven’t seen it at your home or business premises, this doesn’t mean flooding won’t happen.</p>
        <p>You can find out the likelihood of a property flooding in the future.</p>

        <h3 class="govuk-heading-m">Learn about your local flood risk</h3>
        <p>Get more information about the flood risk in your area, including:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>details of any current flood alerts or warnings</li>
          <li>advice about preparing for a flood and help during or after a flood</li>
          <li>the latest river and sea levels</li>
          <li>how to get insurance, even if you’ve been flooded before</li>
        </ul>

        <p>Contact the Environment Agency</p>

        <p>For current flood warnings in force please call our 24-hour Floodline on:</p>
        <p>Telephone: 0345 988 1188</p>
        <p>Type talk: 0345 602 6340 (for the hard of hearing)</p>
        <p><a href="https://www.gov.uk/call-charges">Find out more about call charges.</a></p>

        <h3 class="govuk-heading-m">How useful was this information?</h3>
        <p>Your <a href="https://flood-warning-information.service.gov.uk/feedback">feedback</a> will help us improve this service</p>

      </div>
    </div>
</div>
{% endblock %}
