{% extends 'layout.html' %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Check if a location in England is at risk of flooding now</h1>
        <p>Use this service to check:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>if flood alerts or warnings are in place</li>
          <li>latest river and sea levels and forecast levels</li>
          <!--<li>latest rainfall measurements</li>-->
        </ul>
        <div class="govuk-inset-text">
          This service is for England only. <a href="https://www.nidirect.gov.uk/articles/check-the-risk-of-flooding-in-your-area">Northern Ireland,</a>  <a href="https://www.sepa.org.uk/environment/water/flooding/">Scotland</a> and <a href="https://naturalresources.wales/flooding?lang=en">Wales</a>  have their own flood risk information services.
        </div>
        <a href="/" role="button" draggable="false" class="govuk-button govuk-button--start">
          Start now
        </a>

        <h2 class="govuk-heading-m">The national picture, at a glance</h2>
        <p>You can also <a href="/national">check the latest flood risk situation for England</a>, <a href="/national#outlook">check the 5-day flood risk outlook</a>, or <a href="/river-and-sea-levels">find a river or sea level</a> measuring station.</p>

        {% include "partials/other-flood-risk-check.html" %}

      </div>
    </div>
</div>
{% endblock %}
