
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% extends "layout.html" %}

{% block pageTitle %}
  Check if a place in England is at risk of flooding now - GOV.UK
{% endblock %}

{% block content %}

  {{ govukBreadcrumbs({
    classes: 'govuk-!-margin-bottom-7',
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Check if a place in England is at risk of flooding now</h1>
      <p class="govuk-body">Use this service to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>view flood warnings in force near you</li>
        <li>monitor current and forecast river levels</li>
        <li>get the flood risk outlook</li>
      </ul>
      <div class="govuk-inset-text">
        Check the risk of flooding if you are in <a href="http://www.sepa.org.uk/">Scotland</a>, <a href="https://naturalresources.wales/flooding?lang=en">Wales</a> or <a href="http://www.nidirect.gov.uk/">Northern
          Ireland</a>
      </div>

      <a href="/" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-4">
        Start now
      </a>

      <p class="govuk-body govuk-!-margin-bottom-7">
        <a class="govuk-link" href="/national">Flood risk for England</a>
      </p>

      <h2 class="govuk-heading-m">Get flood warnings by text, phone or email</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">
        <a class="govuk-link" href="https://www.gov.uk/sign-up-for-flood-warnings">Sign up for flood warnings</a>
      </p>

      <!--
      <h2 class="govuk-heading-m">Buying or selling a house or getting home insurance?</h2>
      <p class="govuk-body"><a class="govuk-link" href="#">Get an indication of flood risk for areas in England</a>.</p>
      <p class="govuk-body"><a class="govuk-link" href="#">Request a properties flood history</a> (if available).</p>
      -->

      <h2 class="govuk-heading-m">Other ways to find out if there is a risk of flooding</h2>
      <p class="govuk-body">
        <strong class="govuk-!-font-weight-bold">Floodline</strong><br />
        Telephone: 0345 988 1188<br />
        24-hour service<br />
        <a class="govuk-link" href="#">Learn more about call charges</a>.
      </p>

    </div>

    <div class="govuk-grid-column-one-third">
      <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->
      <aside class="app-related-items" role="complementary">

        <h2 class="govuk-heading-m" id="subsection-title">Subsection</h2>

        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">Related link</a>
            </li>
            <li>
              <a href="#">Related link</a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">More <span class="govuk-visually-hidden">in Subsection</span></a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

  </div>

{% endblock %}
