{% extends 'layout.html' %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Check for flooding</h1>
        <p>Use this service to check:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>if there are flood alerts or warnings in your area</li>
          <li>river, sea and groundwater levels</li>
        </ul>
        <div class="govuk-inset-text">
          You need to use a different service if you live in <a href="https://naturalresources.wales/flooding?lang=en">Wales</a>, <a href="https://www.sepa.org.uk/environment/water/flooding/">Scotland</a> or <a href="https://www.nidirect.gov.uk/articles/check-the-risk-of-flooding-in-your-area">Northern Ireland</a>.
        </div>

        <a href="/find-location" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
          Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
          </svg>
        </a>

        <h2 class="govuk-heading-m">Before you start</h2>
        <p>This service tells you the risk of flooding from rivers, the sea and groundwater. <a href="https://www.gov.uk/find-local-council">Contact your local council about surface water flooding</a> (also known as flash flooding).</p>
        <h2 class="govuk-heading-m">Check by phone</h2>
        <p><strong>Floodline</strong></p>
        <ul class="govuk-list govuk-!-margin-bottom-0">
          <li>Telephone: 0345 988 1188</li>
          <li>Textphone: 0345 602 6340</li>
        </ul>
        <p>24 hour service</p>
        <p><a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
      </div>

      <div class="govuk-grid-column-one-third">
        <aside class="defra-related-items" role="complementary">
          <h2 class="govuk-heading-s" id="subsection-title">
            Related content
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a class="govuk-link" href="https://www.gov.uk/prepare-for-flooding">
                  Prepare for flooding
                </a>
              </li>
              <li>
                <a class="govuk-link" href="https://www.gov.uk/help-during-flood">
                  Get help during a flood
                </a>
              </li>
            </ul>
          </nav>
        </aside>
      </div>

    </div>
</div>
{% endblock %}
