{% extends 'layout.html' %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav {% if model.referer %}id="browserBackContainer"{% endif %}>
      {% if model.station.isMulti %}
      {% if model.station.isDownstream %}
      <a href="/station/{{ model.station.id }}" class="defra-river-nav-link">Upstream</a>
      {% else %}
      <a href="/station/{{ model.station.id }}/downstream" class="defra-river-nav-link">Downstream</a>
      {% endif %}
      {% endif %}
      {% if model.station.riverNavigation and model.station.riverNavigation.navigable %}
      <a href="/river-and-sea-levels?river-id={{model.station.riverNavigation.river_id}}" class="defra-river-nav-link">{{ model.station.riverNavigation.river_name }}</a>
      {% endif %}
    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {% if model.station.isGroundwater %}Groundwater{% elif model.station.isCoastal %}Sea{% else %} {{ model.station.river }} {% endif %}
      level {% if model.station.isMulti %} {% if model.station.isDownstream %}Downstream{% else %}Upstream{% endif %}{% endif %} at {{ model.station.name }}
    </h1>
  </div>
</div>

{# if station is suspended #}
{% if model.status === 'suspended' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="defra-service-error govuk-!-margin-bottom-7">
      <h2 class="defra-service-error__title" id="error-summary-title">
        This measuring station is currently offline
      </h2>
      <p class="govuk-body govuk-!-margin-bottom-0">
        We are working to get it back online. You can <a href="/river-and-sea-levels">check another river or sea level</a>.
      </p>
    </div>
  </div>
</div>

{# if station is closed #}
{% elif model.status === 'closed' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="defra-service-error govuk-!-margin-bottom-7">
      <h2 class="defra-service-error__title" id="error-summary-title">
        This measuring station is closed
      </h2>
      <p class="govuk-body govuk-!-margin-bottom-0">
        No data is available. You can <a href="/river-and-sea-levels">check another river or sea level</a>.
      </p>
    </div>
  </div>
</div>

{% else %}

{# Latest Status #}
{% if model.telemetry.length > 0 %}
{% if model.station.isActive and not model.recentValue.err %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-visually-hidden">Station summary</h2>
    <div class="defra-flood-statistics">
      <dl class="defra-flood-statistics__list">
      {# if station has hasPercentiles, this should exclude Coastal #}
        {% if model.station.hasPercentiles %}
        <div class="defra-flood-statistics__row"> 
          <dt class="defra-flood-statistics__key">Status</dt>
          <dd class="defra-flood-statistics__value">
            <strong class="defra-flood-statistics__impact defra-flood-statistics__impact{% if model.station.state === 'Normal' %}--normal{% elif model.station.state === 'High' %}--high{% endif %}">
              {{ model.station.state }}
            </strong>
              {{ model.station.stateInformation}} <span class="govuk-visually-hidden">level here</span>
          </dd>
        </div>
        {% endif %}

        <div class="defra-flood-statistics__row">
          <dt class="defra-flood-statistics__key">Height</dt>
          <dd class="defra-flood-statistics__value">
            <strong class="defra-flood-statistics__impact">
            {{ (model.station.recentValue._).toFixed(2) }}m
            </strong>
              at <time datetime="">{{ model.station.recentValue.formattedTime }}</time> {{ model.station.recentValue.dateWhen }}
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>

{% else %}

{# if latest mesurement is in error #}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="defra-service-error govuk-!-margin-bottom-3">
      <h2 class="defra-service-error__title" id="error-summary-title">
        Sorry, there is a problem with the latest measurement
      </h2>
      <p class="govuk-body govuk-!-margin-bottom-0">
        The latest measurement is unreliable. This could be due to something like very low river levels, or a fault with the measuring equipment.
      </p>
    </div>
  </div>
</div>
{% endif %}

{% else %}

<div class="defra-service-error govuk-!-margin-bottom-3">
  <h2 class="defra-service-error__title" id="error-summary-title">Sorry, there is currently a problem with the data</h2>
  <p class="govuk-body govuk-!-margin-bottom-0">There is no recent data.</p>
</div>

{% endif %}
{% endif %}

{# Graph and Thresholds #}
{% if model.station.isActive and model.telemetry.length > 0 %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <figure class="defra-line-chart" aria-hidden="true" hidden>
      <figcaption class="govuk-heading-m govuk-!-margin-bottom-7">Height over the last 5 days {% if model.isFfoi %}and the 36 hour forecast{% endif %}</figcaption>
      <div id="line-chart" class="defra-line-chart__container" role="presentation"></div>
    </figure>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <figure class="defra-line-chart" aria-hidden="true" hidden>
      <figcaption class="defra-line-chart__caption">Water level measured over the last 5 days {% if model.isFfoi %}and the 36 hour forecast{% endif %}</figcaption>
      <div id="line-chart" class="defra-line-chart__container" role="presentation"></div>
    </figure>
  </div>
</div>

{# Impacts and thresholds #}
{% if model.thresholds.length > 0 %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-margin-top-6">How levels here could affect nearby areas</h2>
    <dl class="defra-flood-impact-list govuk-!-margin-bottom-0">
      {% for band in model.thresholds %}
      {% for threshold in band.values %} 
      <div class="defra-flood-impact-list__row {% if threshold.type == 'latest' %} defra-flood-impact-list__row--current {% elif threshold.isExceeded === true %} defra-flood-impact-list__row--exceeded{% endif %}">
        <dt class="defra-flood-impact-list__key">
          {{ threshold.value }}m
        </dt>
        <dd class="defra-flood-impact-list__value" data-id="{{ threshold.id }}" data-level="{{ threshold.value }}" data-name="{{ threshold.shortname }}">
          <div class="defra-flood-impact-list__container">
            {{ threshold.description }}
            <span class="defra-flood-impact-list__action"></span>
          </div>
          {# {% if station is ffoi and warning is active %}
          <span class="defra-flood-impact-list__( can change )warning" title="(can change)Flood warning has been issued">!</span>
          {% endif %} #}
        </dd>
      </div>
      {% endfor %}
      {% endfor %}
    </dl> 
  </div>
</div>
  {% if model.station.hasImpacts %}
    <p class="govuk-body-s govuk-!-margin-top-3 govuk-!-margin-bottom-0">Past impacts might not happen at the same level if flood defences have been put in place since then.</p>
  {% endif %}
{% endif %}
{% endif %}



{# Station Details #}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <details class="govuk-details govuk-!-margin-top-6" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          View technical information for this measuring station
        </span>
      </summary>
      <div class="govuk-details__text">
        <dl class="govuk-summary-list govuk-summary-list--no-border govuk-summary-list--defra-flood-station govuk-!-font-size-16">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Grid reference
            </dt>
            <dd class="govuk-summary-list__value">NY 12345 12345</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Site datum
            </dt>
            <dd class="govuk-summary-list__value">
              {{ model.station.stageDatum }}<abbr title="metres above ordnance datum">mAOD</abbr>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Station name
            </dt>
            <dd class="govuk-summary-list__value">
              {{ model.station.name }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Normal range
            </dt>
            <dd class="govuk-summary-list__value">
          {% if model.station.hasPercentiles %}
              {{ model.station.percentile95 }}m to {{ model.station.percentile5 }}m
          {% endif %}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Station ID
            </dt>
            <dd class="govuk-summary-list__value">
              {{ model.station.id }}
            </dd>
          </div>
        </dl>
      </div>
    </details>
{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script>
  window.flood.model = {{ model | dump(2) | safe }}
</script>
<script src="{{assetPath}}/js/station.js"></script>
{% endblock %}
