{% extends 'layout.html' %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full" {% if model.referer %}id="browserBackButton"{% endif %}>
    {% if model.station.isRiver %}
    <a href="/river-and-sea-levels?r={river-name}" class="defra-river-nav-link">
      {{ model.station.river }}
    </a>
    {% endif %}
    <!--
    <a href="" class="defra-river-nav-link">
      <svg role="presentation" focusable="false" class="defra-river-nav__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="15" viewBox="0 0 13 15">
        <path fill="currentColor" d="m6.5,0l-6.5,6.5l1.4,1.5l4,-4l0,10.7l2,0l0,-10.7l4.3,4l1.3,-1.6l-6.5,-6.4z"></path>
      </svg>
      <span>Upstream</span>
    </a>
    <a href="" class="defra-river-nav-link">
        <svg role="presentation" focusable="false" class="defra-river-nav__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="15" viewBox="0 0 13 15">
          <path fill="currentColor" d="m6.5,0l-6.5,6.5l1.4,1.5l4,-4l0,10.7l2,0l0,-10.7l4.3,4l1.3,-1.6l-6.5,-6.4z" transform="rotate(180,6.5,7.5)"></path>
        </svg>
        <span>Downstream</span>
    </a>
    -->
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl{% if model.station.isMulti %} govuk-!-margin-bottom-2{% endif %}">
      {% if model.station.isGroundwater %}Groundwater{% elif model.station.isCoastal %}Sea{% else %}River{% endif %}
      level at {{ model.station.name }}
      {% if model.station.isRiver %}({{ model.station.river }}){% endif %}
      {% if model.station.isMulti %}- {% if model.station.isDownstream %}Downstream{% else %}Upstream{% endif %}{% endif %}
    </h1>
    {% if model.station.isMulti %}
    <nav class="govuk-body govuk-!-margin-bottom-7">
    {% if model.station.isDownstream %}
    <a href="?direction=u">View upstream level</a>
    {% else %}
    <a href="?direction=d">View downstream level</a>
    {% endif %}
    </nav>
    {% endif %}
  </div>
</div>

{% if model.station.isActive and not model.recentValue.err %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third"> 
    <p role="text" class="govuk-!-margin-bottom-6">
      <span class="govuk-caption-m">Latest level</span>
      <strong class="defra-flood-heading-l{% if model.station.level == 'High' %} defra-flood-heading-l--warning{% endif %} govuk-!-margin-bottom-1">{{ model.station.level }}</strong>
      <span class="govuk-body">
        {% if model.station.hasPercentiles %}
        {{ (model.station.recentValue._).toFixed(2) }}m
        (typical {{ model.station.percentile95 }}m - {{ model.station.percentile5 }}m)
        {% endif %}
       </span>
    </p>
  </div>
  <!--
    <div class="station-data__item">
      <span class="station-data__icon"></span>
      <div class="station-data__copy">
        <span class="station-data__item-name">Current trend</span>
        <strong class="station-data__item-value">Stable</strong>
        <span class="station-data__item-secondary">Forecast within typical range</span>
      </div>
    </div>
  -->
  <div class="govuk-grid-column-one-third"> 
    <p role="text" class="govuk-!-margin-bottom-6">
      <span class="govuk-caption-m">Last updated</span>
      <time datetime="" class="govuk-heading-l govuk-!-margin-bottom-1">{{ model.station.recentValue.formattedTime }}</time>
      <span class="govuk-body">{{ model.station.recentValue.dateWhen }}</span>
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <figure class="defra-line-chart" aria-hidden="true" hidden>
      <figcaption class="defra-line-chart__caption">Level measured over the last 5 days {% if model.isFfoi %}and next 36 hours{% endif %}</figcaption>
      <div id="line-chart" class="defra-line-chart__container" role="presentation"></div>
    </figure>
  </div>
</div>

{% else %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-inset-text govuk-!-margin-top-0">
      <p class="govuk-body">
        {% if model.station.isClosed %}
        This station is closed and no data is available.
        {% elif model.recentValue.err %}
        The latest level recorded is unreliable. Reasons for this include very low river levels or a technical fault with the measuring equipment.
        {% elif model.station.isSuspended %}
        {{ model.station.statusReason if model.station.statusReason else "This station is temporarily closed and no data is available." }}
        {% endif %}
        {% if model.referer and 'river-and-sea-levels' in model.referer %}
        You can <a href="{{ model.referer }}">check a river or sea level nearby</a>.
        {% else %}
        You can <a href="/">check flood risk</a> in another location.
        {% endif %}
      </p>
    </div>
  </div>
</div>
{% endif %}

{% if model.station.isActive and not model.recentValue.err %}
<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <button class="defra-button-map govuk-!-margin-bottom-4">View map showing measurment location</button>
    <p class="govuk-text govuk-!-margin-bottom-6">
      Find out <a href="/how-river-sea-groundwater-levels-are-measured">how river, sea and groundwater levels are measured</a>.    
    </p>
    <h2 class="govuk-heading-m">What effect could the level here have on nearby areas?</h2>
    <table class="defra-table-impact govuk-table govuk-!-font-size-16 govuk-!-margin-bottom-7">
      <caption class="govuk-table__caption govuk-visually-hidden">Months and rates</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Level</th>
          <th class="govuk-table__header" scope="col">Description</th>
          <th class="govuk-table__header" scope="col"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for impact in model.impacts %}
        <tr class="defra-table-impact__row govuk-table__row" data-id="{{ impact.impactid }}" data-level="{{ impact.value }}" data-name="{{ impact.shortname }}">
          <th class="govuk-table__header" scope="row">{{ impact.value }}m</th>
          <td class="govuk-table__cell">{{ impact.description }} {% if impact.obsfloodmonth and impact.obsfloodyear %}({{ impact.obsfloodmonth }} {{ impact.obsfloodyear }}){% endif %}</td>
          <td class="govuk-table__cell"><button class="defra-table-impact__button"><span>Show on </span>chart</button></td>
        </tr>   
        {% endfor %}
        {% if model.warningThreshold %}
          <tr class="defra-table-impact__row govuk-table__row" data-id="warning" data-level="{{ model.warningThreshold }}" data-name="Flood warning threshold">
            <th class="govuk-table__header" scope="row">{{ model.warningThreshold }}m</th>
            <td class="govuk-table__cell">Flood warning threshold</td>
            <td class="govuk-table__cell"><button class="defra-table-impact__button"><span>Show on </span>chart</button></td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          View technical details about this gauging station
        </span>
      </summary>
      <div class="govuk-details__text govuk-!-padding-right-0">
        <dl class="govuk-summary-list govuk-!-font-size-16">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Station name</dt>
            <dd class="govuk-summary-list__value">{{ model.station.name }}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Station ID:</dt>
            <dd class="govuk-summary-list__value">{{ model.station.id }}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Site datum:</dt>
            <dd class="govuk-summary-list__value">{{ model.station.stageDatum }}mAOD (<a href="/how-river-sea-groundwater-levels-are-measured#site-datum">what does this mean?</a>)</dd>
          </div>
        </dl>
      </div>
    </details>
  </div>
</div>
{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script src="{{ assetPath }}/nunjucks-slim.min.js"></script>
<script>nunjucks.configure()</script>
<script src="/assets/javascripts/d3.v5.min.js"></script>
<script src="/assets/javascripts/components/charts.js"></script>
<script>
  window.flood.model = {{ model | dump(2) | safe }}
</script>
<script src="{{assetPath}}/javascripts/pages/station.js"></script>
{% endblock %}
