{% extends 'layout.html' %}
{% block content %}

{% if model.referer %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full" id="browserBackContainer"></div>
</div>
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if model.flood and model.severity.id < 4 %}
    <div class="defra-flood-status govuk-!-margin-bottom-3">
      <div class="defra-flood-status-item defra-flood-status-item--{{model.severity.hash}}">
        <span class="defra-flood-status-item__icon"></span>
        <div class="defra-flood-status-item__text">
          <strong>{{model.severity.subTitle}}</strong>
        </div>
      </div>
    </div>
    {% endif %}
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ model.pageTitle }}
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if (model.flood and model.severity.id == 4) or not model.flood %}
    <div class="defra-flood-status govuk-!-margin-bottom-1">
      <div class="defra-flood-status-item">
        <div class="defra-flood-status-item__text">
          {% if not model.flood %}
          No flood alert or warning currently in place
          {% else %}
          Flood {% if model.area.code.slice(4,5).toLowerCase() == 'w'%}warning{% else %}alert{% endif %} no longer in place
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}

    <p>
     {{model.situation}}
    </p>

    {% if model.situationChanged %}
    <p class="defra-flood-meta defra-flood-meta--border govuk-!-margin-top-6 govuk-!-margin-bottom-6">
      <time datetime="{{model.situationChanged}}">{{model.situationChanged}}</time>
    </p>
    {% endif %}

    <p>Flood {% if model.area.code.slice(4,5).toLowerCase() == 'w'%}warning{% else %}alert{% endif %} area: {{ model.area.description }}</p>
    
    <div><span id="map"></span></div>

    {% if model.flood and model.severity.isActive %}
    <div class="govuk-inset-text govuk-!-margin-top-2">
      {% if model.severity.id === 3 %}
      A severe flood warning means there is a danger to life. <a href="/what-to-do-in-a-flood#what-to-do-if-you-get-a-severe-flood-warning">Find out what to do in you get a severe flood warning</a>.
      {% elif model.severity.id == 2 %}
      A flood warning means flooding is expected and you need to act now. <a href="/what-to-do-in-a-flood#what-to-do-if-you-get-a-flood-warning">Find out what to do in you get a flood warning</a>.
      {% else %}
      A flood alert means flooding is possible and you need to be prepared. <a href="/what-to-do-in-a-flood#what-to-do-if-you-get-a-flood-alert">Find out what to do in you get a flood alert</a>.
      {% endif %}
    </div>
    {% endif %}
    
    <p class="govuk-body">
      <a href="/river-and-sea-levels">View the latest river and sea levels in this area</a>.
    </p>

    {% include "partials/other-flood-risk-check.html" %}
    
  </div>

  <div class="govuk-grid-column-one-third">
    <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->
    <aside class="defra-related-items" role="complementary" style="border-width:2px">
      <h2 class="govuk-heading-s" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="govuk-link" href="/plan-ahead-for-flooding">
              How to plan ahead for flooding
            </a>
          </li>
          <li>
            <a class="govuk-link" href="/what-to-do-in-a-flood">
              What to do in a flood
            </a>
          </li>
          <li>
            <a class="govuk-link" href="/recovering-after-a-flood">
              How to recover after a flood
            </a>
          </li>
          <li>
            <a class="govuk-link" href="https://flood-warning-information.service.gov.uk/long-term-flood-risk">
              View long term flood risk information
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include "partials/context-footer.html" %}
  </div>
</div>

{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script>
  window.flood.model = {{ model | dump(2) | safe }}
</script>
<script src="{{assetPath}}/js/templates.js"></script>
<script src="{{assetPath}}/js/target-area.js"></script>
{% endblock %}
