{% extends 'layout.html' %}
{% block content %}

{% if model.hasBackButton %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full" id="browserBackButton"></div>
</div>
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      Flood risk area: {{ model.area.name }}
    </h1>
    <p class="defra-updated govuk-!-margin-bottom-8">
      {% if model.flood and not model.severity.isActive %}
      Removed at <time datetime="{{model.flood.severityChanged}}">{{model.flood.messageChanged | formatDate}}</time>
      {% else %}
      Updated at <time datetime="{{model.flood.messageChanged}}">{{model.flood.messageChanged | formatDate}}</time>
      {% endif %}
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="defra-flood-status">
      {% if model.flood %}
      <div class="defra-flood-status-item defra-flood-status-item--{{model.severity.hash}}">
        {% if model.severity.id < 4 %}<span class="defra-flood-status-item__icon"></span>{% endif %}
        <div class="defra-flood-status-item__text">
          {% if model.severity.id < 4 %}
          <strong>{{model.severity.title}}</strong>
          <span>{{model.severity.subTitle}}</span>
          {% else %}
          Flood {% if model.area.code.slice(4,5).toLowerCase() == 'w'%}warning{% else %}alert{% endif %} no longer in place
          {% endif %}
        </div>
      </div>
      {% else %}
      <div class="defra-flood-status-item">
        <div class="defra-flood-status-item__text">
          No flood alert or warning currently in place
        </div>
      </div>
      {% endif %}
    </div>

    {% if model.flood %}
    <p class="govuk-body">{{model.flood.message}}</p>
    {% endif %}

    {% if model.flood and model.severity.isActive %}
    <p class="govuk-body">
      {% if model.severity.hash == 'severe-flood-warning' %}
      You must act now if you live in this area. Find out <a href="/what-to-do-in-a-flood#what-to-do-if-you-get-a-severe-flood-warning">what to do in you get a severe flood warning</a>.
      {% elif model.severity.hash == 'flood-warning' %}
      You need to take action if you live in this area. Find out <a href="/what-to-do-in-a-flood#what-to-do-if-you-get-a-flood-warning">what to do in you get a flood warning</a>.
      {% else %}
      <a href="/what-to-do-in-a-flood#what-to-do-if-you-get-a-flood-alert">Find out what to do in you get a flood alert</a>.
      {% endif %}
    </p>
    {% endif %}
    
    <p class="govuk-body">
      <a href="/river-and-sea-levels?river=river-name">View the latest river and sea levels in this area</a>.
    </p>

    <div class="defra-map" id="map-live"></div>

    <!--
    {% if model.flood %}
    <p class="govuk-body">Could this information be better? <a href="/target-area/{{model.area.code}}/feedback">Tell us how to improve it</a>.</p>
    {% endif %}
    -->

    <h2 class="govuk-heading-m">Other ways to check your current flood risk</h2>
    <p class="govuk-body"><a href="https://www.gov.uk/find-local-council">Contact your local council</a> if you are not sure of the source of flooding.</p>
    <p class="govuk-body">For river and sea flooding, call the 24-hour Floodline service.</p>
    <p class="govuk-body">
      Telephone: 0345 988 1188<br />
      Type talk: 0345 602 6340 (for the hard of hearing)<br />
      <a class="govuk-link" href="https://gov.uk/call-charges">Find out more about call charges</a>.
    </p>
  </div>

  <div class="govuk-grid-column-one-third">
    <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->
    <aside class="defra-related-items" role="complementary" style="border-width:2px">
      <h2 class="govuk-heading-s" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="govuk-link" href="/plan-ahead-for-flooding">
              How to plan ahead for flooding
            </a>
          </li>
          <li>
            <a class="govuk-link" href="/what-to-do-in-a-flood/what-the-flood-warnings-mean">
              What to do in a flood
            </a>
          </li>
          <li>
            <a class="govuk-link" href="/recovering-after-a-flood">
              How to recover after a flood
            </a>
          </li>
          <li>
            <a class="govuk-link" href="#">
              View long term flood risk information
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include "partials/social.html" %}
  </div>
</div>

{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script src="{{assetPath}}/javascripts/ol.js"></script>
  <script src="{{assetPath}}/javascripts/components/maps.js"></script>
  <script src="{{assetPath}}/javascripts/components/maps-styles.js"></script>
  <script src="{{assetPath}}/javascripts/components/maps-layers.js"></script>
  <script src="{{assetPath}}/javascripts/components/map-container.js"></script>
  <script src="{{assetPath}}/javascripts/components/maps/live.js"></script>
  <script src="{{assetPath}}/javascripts/templates.js"></script>
  <script src="{{ assetPath }}/nunjucks-slim.min.js"></script>
  <script>nunjucks.configure()</script>
<script>
  window.flood.model = {{ model | dump(2) | safe }}
</script>
<script src="{{assetPath}}/javascripts/pages/target-area.js"></script>
{% endblock %}
