{% extends 'layout.html' %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Terms and conditions</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>This page and any pages it links to explain the Environment Agency’s terms of use. You must agree to them to use the services made available through its web pages.</p>
    
    <p>They replace the standard GOV.UK terms and conditions linked to the Help page.</p>
    
    <h2 class="govuk-heading-m">Who we are</h2>
    
    <p>The flood information service is managed by the Environment Agency and will be referred to as ‘we’ from now on. The web pages and the services they operate will be referred to as ‘the site’.</p>
    
    <h2 class="govuk-heading-m">Using the site</h2>
    <p>You agree to use the site only for lawful purposes. You must also use it in a way that doesn’t infringe the rights of, or restrict or inhibit the use and enjoyment of, the site by anyone else.</p>
    <p>We update the site all the time. We can change or remove content at any time without notice.</p>
    <p>Most content and data on the site is subject to Environment Agency copyright protection and is published under the Open Government Licence (OGL), unless we indicate otherwise.</p>
    <p>Our logo is exempt from the OGL, except when it forms an integral part of a document or dataset.</p>
    <p>If any content isn’t subject to Environment Agency copyright protection or published under the OGL, we’ll usually credit the author or copyright holder.</p>
    <p>You can reproduce content published on our pages under the OGL as long as you follow the conditions of the licence.</p>
    <p><a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">Contact us</a> if you want to reproduce a piece of content but aren’t sure if it’s covered by Environment Agency copyright or the OGL.</p>
    <p>We make most of the content on our pages available through feeds for other websites and applications to use. The websites and applications that use our feeds aren’t our products, and they might use versions of our content that have been edited and stored for later use (‘cached’).</p>
    <p>We don’t give any guarantees, conditions or warranties about the accuracy or completeness of any content used by these products. We’re not liable for any loss or damage that may come from your use of these products.</p>
    <p>The most up to date version of our content and data will always be on our pages.</p>
    
    <h2 class="govuk-heading-m">Linking to the flood information service</h2>
    <p>We welcome and encourage other websites to link to the flood information service.</p>
    <p>You must contact us for permission if you want to either:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>charge your website’s users to click on a link to any page on the site</li>
        <li>say your website is associated with or endorsed by the Environment Agency or another government department or agency</li>
    </ul>
    
    <h2 class="govuk-heading-m">Disclaimer</h2>
    <p>While we make every effort to keep our content and data up to date, we don’t provide any guarantees, conditions or warranties that the information will be: </p>
    <ul class="govuk-list govuk-list--bullet">
        <li>current</li>
        <li>secure</li>
        <li>accurate</li>
        <li>complete</li>
        <li>free from bugs or viruses</li>
    </ul>

    <p>We’re not liable for any loss or damage that may come from using our content or data. This includes:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>any direct, indirect or consequential losses</li>
        <li>any loss or damage caused by civil wrongs (‘tort’, including negligence), breach of contract or otherwise</li>
        <li>the use of our content or data and any websites that are linked to or from it</li>
        <li>the inability to use our content or data and any websites that are linked to or from it</li>
    </ul>

    <p>This applies if the loss or damage was foreseeable, arose in the normal course of things or you advised us that it might happen.</p>
    <p>This includes (but isn’t limited to) the loss of your:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>income or revenue</li>
        <li>salary, benefits or other payments</li>
        <li>business</li>
        <li>profits or contracts</li>
        <li>opportunity</li>
        <li>anticipated savings</li>
        <li>data</li>
        <li>goodwill or reputation</li>
        <li>tangible property</li>
        <li>intangible property, including loss, corruption or damage to data or any computer system</li>
        <li>wasted management or office time</li>
    </ul>

    <p>We may still be liable for:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>death or personal injury arising from our negligence</li>
        <li>fraudulent misrepresentation</li>
        <li>any other liability which cannot be excluded or limited under applicable law</li>
    </ul>

    <h2 class="govuk-heading-m">Requests to remove content</h2>
    <p>You can ask for content to be removed from our pages. We’ll only do this in certain cases, for example if it breaches copyright laws, contains sensitive personal data or material that may be considered obscene or defamatory.</p>
    <p><a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">Contact us</a> to ask for content to be removed. You’ll need to send us the web address (URL) of the content and explain why you think it should be removed. We’ll reply to let you know whether we’ll remove it.</p>
    <p>We remove content at our discretion. You can still request information under the <a href="https://www.gov.uk/make-a-freedom-of-information-request">Freedom of Information Act</a> and the <a href="https://www.gov.uk/data-protection">Data Protection Act</a>.</p>

    <h2 class="govuk-heading-m">Information about you and your visits to our pages</h2>
    <p>We collect information about you in accordance with our <a href="https://www.gov.uk/government/organisations/environment-agency/about/personal-information-charter">personal information charter</a> and our <a href="/cookies">cookie policy</a>. By using the site, you agree to us collecting this information and confirm that any data you provide is accurate.</p>

    <h2 class="govuk-heading-m">Virus protection</h2>
    <p>We make every effort to check and test our pages for viruses at every stage of production. You must make sure that the way you use our pages doesn’t expose you to the risk of viruses, malicious computer code or other forms of interference which can damage your computer system.</p>
    <p>We’re not responsible for any loss, disruption or damage to your data or computer system that might happen when you use our content or data.</p>

    <h2 class="govuk-heading-m">Viruses, hacking and other offences</h2>
    <p>When using our content or data, you must not introduce viruses, trojans, worms, logic bombs or any other material that’s malicious or technologically harmful.</p>
    <p>You must not try to gain unauthorised access to our content or data, the server on which it’s stored or any server, computer or database connected to it.</p>
    <p>You must not attack the site in any way. This includes denial-of-service attacks. We’ll report any attacks or attempts to gain unauthorised access to our servers to the relevant law enforcement authorities and share information about you with them.</p>

    <h2 class="govuk-heading-m">Governing law</h2>
    <p>These terms and conditions are governed by and construed in accordance with the laws of England and Wales.</p>
    <p>Any dispute you have which relates to these terms and conditions, or your use of the site (whether it be contractual or non-contractual), will be subject to the exclusive jurisdiction of the courts of England and Wales.</p>

    <h2 class="govuk-heading-m">General</h2>
    <p>We might decide not to exercise or enforce any right available to us under these terms and conditions. We can always decide to exercise or enforce that right at a later date.</p>
    <p>Doing this once won’t mean we automatically waive the right on any other occasion.</p>
    <p>If any of these terms and conditions are held to be invalid, unenforceable or illegal for any reason, the remaining terms and conditions will still apply.</p>

    <h2 class="govuk-heading-m">Long term flood risk information</h2>
    <p>All information, particularly the likelihood of surface water flooding, is a broad indicator of an area’s flood risk. As such it is not suitable for identifying whether an individual property will flood. This service uses computer models to assess an area’s long term flood risk from rivers, the sea, surface water and some groundwater. It does not include flood risk from sources such as blocked drains and burst pipes. </p>
    <p>The scale of flood risk, whatever the source, varies according to:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>how far it is from the source of flooding</li>
        <li>how high the property is above ground level</li>
        <li>the existence, position and effectiveness of local flood defences</li>
    </ul>

    <p>We do not hold records on height of property above the ground.</p>
    <p>Flooding can be caused by other water sources, for example surface water, overwhelmed sewers or drains, or groundwater from underground aquifers. </p>

    <h2 class="govuk-heading-m">Use of long term flood risk information</h2>
    <p>It is not possible to say for certain what the flood risk is at any specific place or time, but we use the best information available to provide an indication. We do this to help people and insurers make informed choices about living with or managing flood risk.</p>
    <p>As our information relates to an area rather than a specific property, not all properties within that area (which could be a street or a postcode) will necessarily be at the same risk of flooding. This might be the case if the property is on higher land or the floor levels are high.</p>
    <p>The flood information we provide is for sites in or near an area at risk of flooding from rivers, the sea and/or surface water. It does not cover other sources of flooding such as from local drains. However our records on historic flooding can include flooding from groundwater.</p>
    <p>We log historic flooding where we have adequate records and do not have a record of all past flooding. If an area of land is shown outside the extent of recorded flooding it doesn't mean it has never flooded, simply that we don’t hold a record of the area of land being flooded.</p>
    <p>Any information provided in respect of proposed improvements to flood defences or natural river channels should be considered as general information for the area in which your property/site is located. It is not specific to individual properties or sites.</p>

    <h2 class="govuk-heading-m">Flood map for planning</h2>
    <p>The flood map for planning shows river and sea flooding data, ignoring the presence of defences. It doesn’t include other sources of flooding. It is only for use in development planning and flood risk assessments.</p>

    <h2 class="govuk-heading-m">Changes to these terms and conditions</h2>
    <p>Please check these terms and conditions regularly. We can update them at any time without notice.</p>
    <p>You’ll agree to any changes if you continue to use the site after the terms and conditions have been updated.</p>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="defra-related-items">
      <h2 class="govuk-heading-s" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="/cookies">Cookies</a>
          </li>
          <li>
            <a href="https://www.gov.uk/government/organisations/environment-agency/about/personal-information-charter">Personal information charter</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

{% endblock %}
