{% extends 'layout.html' %}
{% block content %}

<!-- if model.referer -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a href="{{ model.referer }}" class="govuk-back-link govuk-!-margin-bottom-7">Back</a>
  </div>
</div>
<!-- endif -->

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            What to do in a flood
        </h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <nav class="defra-contents govuk-!-margin-bottom-8">
            <h2 class="defra-contents__title">Contents</h2>
            <ol class="defra-contents__list defra-contents__list--number">
                <li class="defra-contents__item">
                    <a href="#what-the-flood-warnings-mean">1. What the flood warnings mean</a>
                </li>
                <li class="defra-contents__item">
                    <a href="#what-to-do-if-you-get-a-flood-alert">2. What to do if you get a flood alert</a>
                </li>
                <li class="defra-contents__item">
                    <a href="#what-to-do-if-you-get-a-flood-warning">3. What to do if you get a flood warning</a>
                </li>
                <li class="defra-contents__item">
                    <a href="#what-to-do-if-you-get-a-severe-flood-warning">4. What to do if you get a severe flood warning</a>
                </li>
            </ol>
        </nav>
        <h2 id="what-the-flood-warnings-mean" class="govuk-heading-m">1. What the flood warnings mean</h2>
        <h3 class="defra-heading-s-image">
            <img src="/assets/images/symbol-flood-alert.svg" width="50" height="50" alt="Flood alert symbol"/>
            Flood alert - Prepare
        </h3>
        <h3 class="defra-heading-s-image">
            <img src="/assets/images/symbol-flood-warning.svg" width="50" height="50" alt="Flood warning symbol"/>
            Flood warning - Act
        </h3>
        <h3 class="defra-heading-s-image">
            <img src="/assets/images/symbol-flood-warning-severe.svg" width="50" height="50" alt="Severe flood warning symbol"/>
            Severe flood warning - Survive
        </h3>
        <h2 id="what-to-do-if-you-get-a-flood-alert" class="govuk-heading-m">2. What to do if you get a flood alert</h2>
        <h2 id="what-to-do-if-you-get-a-flood-warning" class="govuk-heading-m">3. What to do if you get a flood warning</h2>
        <h2 id="what-to-do-if-you-get-a-severe-flood-warning" class="govuk-heading-m">4. What to do if you get a severe flood warning</h2>
    </div>
    <div class="govuk-grid-column-one-third">
        <aside class="defra-related-items" role="complementary">
            <h2 class="govuk-heading-s" id="subsection-title">
                Related content
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                    <li>
                        <a class="govuk-link" href="">
                            How to plan ahead for flooding
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" href="">
                            How to recover after a flood
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" href="">
                            What happens after a flood
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
</div>

{% endblock %}

{% block bodyEnd %}
{{ super() }}
  <script src="{{assetPath}}/javascripts/templates.js"></script>
  <script src="{{ assetPath }}/nunjucks-slim.min.js"></script>
  <script>nunjucks.configure()</script>
{% endblock %}
