{% extends 'layout.html' %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Flood risk</span>
        <h1 class="govuk-heading-xl">What to do in a flood</h1>

        <ol class="govuk-list govuk-list--number">
          <li>What the flood warnings mean</li>
          <li><a href="/what-to-do-in-a-flood/getting-a-flood-alert">What to do if you get a flood alert</a></li>
          <li><a href="/what-to-do-in-a-flood/getting-a-flood-warning">What to do if you get a flood warning</a></li>
          <li><a href="/what-to-do-in-a-flood/getting-a-severe-flood-warning">What to do if you get a severe flood warning</a></li>
        </ol>

        <h3 class="govuk-heading-m">1. What the flood warnings mean</h3>

        <p>We issue 3 levels of flood warning:</p>

        <h3 class="govuk-heading-m">Flood alert - prepare</h3>

        <img src="https://flood-warning-information.service.gov.uk/public/images/flood-alerts-icon.gif" alt="Image of flood alert symbol" width="69" height="65">

        <ul class="govuk-list govuk-list--bullet">
          <li>prepare a bag that includes medicines and insurance documents</li>
          <li>check flood warnings</li>
        </ul>

        <h3 class="govuk-heading-m">Flood warning - act</h3>
        <img src="https://flood-warning-information.service.gov.uk/public/images/flood-warnings-icon.gif" alt="Image of flood warning symbol" width="69" height="65">

        <ul class="govuk-list govuk-list--bullet">
          <li>turn off gas, water and electricity</li>
          <li>move things upstairs or to safety</li>
          <li>move family, pets and car to safety</li>
        </ul>

        <h3 class="govuk-heading-m">Severe flood warning - survive</h3>

        <img src="https://flood-warning-information.service.gov.uk/public/images/severe-flood-warnings-icon.gif" alt="Image of severe flood warning symbol" width="69" height="65">
        
        <ul class="govuk-list govuk-list--bullet">
          <li>call 999 if in immediate danger</li>
          <li>follow advice from emergency services</li>
          <li>keep yourself and your family safe</li>
        </ul> 

        <p>All floods are different and you should take advice from the emergency services and your local authority if you’re in a flood.</p>
 

      </div>
    </div>
</div>
{% endblock %}
