{% extends 'layout.html' %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            What to do in a flood
        </h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 id="what-the-flood-warnings-mean" class="govuk-heading-m">What the flood warnings mean</h2>
        <p class="govuk-text govuk-!-margin-bottom-1">We issue 3 levels of flood warning:</p>
        <h3 class="govuk-heading-s">
            <img class="defra-flood-heading-image" src="/assets/images/symbol-flood-alert.svg" width="46" height="46" alt="Flood alert symbol"/>
            Flood alert - Prepare
        </h3>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-1">
            <li>prepare a bag that includes medicines and insurance documents</li>
            <li>check flood warnings</li>
        </ul>
        <h3 class="govuk-heading-s">
            <img class="defra-flood-heading-image" src="/assets/images/symbol-flood-warning.svg" width="46" height="46" alt="Flood warning symbol"/>
            Flood warning - Act
        </h3>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-1">
            <li>turn off gas, water and electricity</li>
            <li>move things upstairs or to safety</li>
            <li>move family, pets and car to safety</li>
        </ul>
        <h3 class="govuk-heading-s">
            <img class="defra-flood-heading-image" src="/assets/images/symbol-flood-warning-severe.svg" width="46" height="46" alt="Severe flood warning symbol"/>
            Severe flood warning - Survive
        </h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>call 999 if in immediate danger</li>
            <li>follow advice from emergency services</li>
            <li>keep yourself and your family safe</li>
        </ul>
        <p class="govuk-text">All floods are different and you should take advice from the emergency services and your local authority if you’re in a flood.</p>
        <h2 id="what-to-do-if-you-get-a-flood-alert" class="govuk-heading-m">What to do if you get a flood alert</h2>
        <p class="govuk-text">A flood alert means you need to prepare: flooding is possible.</p>
        <p class="govuk-text">If you haven’t already done so, you should:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://flood-warning-information.service.gov.uk/long-term-flood-risk">check your flood risk</a></li>
            <li><a href="https://www.gov.uk/sign-up-for-flood-warnings">sign up for flood warnings</a></li>
            <li>keep up to date with the <a href="https://flood-warning-information.service.gov.uk/warnings">latest situation</a> - call Floodline on 0345 988 1188 or follow @EnvAgency and #floodaware on Twitter for the latest flood updates</li>
            <li>have a bag ready with vital items like insurance documents and medications in case you need to leave your home</li>
            <li>check you know how to turn off your gas, electricity and water mains supplies</li>
            <li>plan how you'll move family and pets to safety</li>
        </ul>
        <h2 id="what-to-do-if-you-get-a-flood-warning" class="govuk-heading-m">What to do if you get a flood warning</h2>
        <p class="govuk-text">A flood warning means you need to act: flooding is expected. You should do all the actions for a flood alert, but also:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>move vehicles to higher ground if it’s safe to do so</li>
            <li>move family and pets to safety</li>
            <li>move important items upstairs or to a safe place in your property, starting with cherished items and valuables, then furniture and furnishings</li>
            <li>turn off gas, electricity and water supplies if it’s safe to do so; never touch an electrical switch if you’re standing in water</li>
            <li>if you have property protection products such as flood barriers, or air brick covers, use them now</li>
            <li>keep track of the <a href="https://flood-warning-information.service.gov.uk/warnings">latest situation</a></li>
        </ul>
        <h2 id="what-to-do-if-you-get-a-severe-flood-warning" class="govuk-heading-m">What to do if you get a severe flood warning</h2>
        <p class="govuk-text">A severe flood warning means there is danger to life: you must act now.</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>call 999 if you’re in immediate danger</li>
            <li>follow advice from the emergency services and evacuate if you’re told to do so</li>
            <li>make sure you have an emergency kit including a torch, spare batteries, mobile phone and charger, warm clothes, important numbers like your home insurance, water, food, first aid kit and any medicines and babycare items you may need</li>
            <li>alert neighbours and offer help if it's safe to do so</li>
            <li>avoid driving or walking through flood water: just 30cm (1 foot) of fast flowing water could move your car and even shallow moving water can knock you off your feet</li>
            <li>keep your family and pets away from floodwater – it may contain heavy debris, sharp objects, open manhole covers, sewage and chemicals</li>
            <li>wash your hands if you’ve been in contact with flood water which may contain toxic substances</li>
        </ul>
    </div>
    <div class="govuk-grid-column-one-third">
        <aside class="defra-related-items" role="complementary">
            <h2 class="govuk-heading-s" id="subsection-title">
                Related content
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                    <li>
                        <a class="govuk-link" href="/plan-ahead-for-flooding">
                            How to plan ahead for flooding
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" href="/recovering-after-a-flood">
                            How to recover after a flood
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" href="/what-happens-after-a-flood">
                            What happens after a flood
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
</div>
{% endblock %}