{% extends 'layout.html' %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
                What happens after a flood
        </h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-text">What the different organisations may do - and what you can do - in the days, weeks and months after a flood. </p>
        <p class="govuk-text">Not all these measures will apply to every flood. What happens will depend on the location, severity and type of flood, and how long it lasts.</p>
        <h2 class="govuk-heading-m">1 - 3 days after the flood</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li>roads and bridges may be closed due to damage or need to be inspected before they can be reopened</li>
            <li>police will increase vigilance to prevent looting of discarded items or empty properties</li>
            <li>voluntary organisations like the Red Cross or WRVS may arrive in the area to help the recovery – contact them if you want to offer your support</li>
            <li>flood management authorities such as the council and the Environment Agency will map affected areas to record the scale and extent of flooding</li>
            <li>the Environment Agency may also send flood support officers to provide advice if you’re affected by floods</li>
        </ul>
        <h2 class="govuk-heading-m">A week after the flood</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li>loss adjusters may visit properties to assess flooding insurance claims, perhaps earlier if flooding is localised</li>
            <li>the Environment Agency and other flood risk management authorities will be inspecting flood defences for damage and prioritising repairs</li>
            <li>your local authority may establish a flood fund and manage the raising and allocation of funds and donated goods</li>
            <li>your local authority may provide assistance on council tax and other measures if your business is affected by flooding</li>
        </ul>
        <h2 class="govuk-heading-m">A month after the flood</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li>where there has been serious infrastructure damage, repairs may continue for months or years</li>
            <li>you can contact <a href="https://www.gov.uk/find-local-council">your local council</a> to find out if flood recovery grants are available and how to apply for them</li>
            <li>if flood defences have been damaged, your area may be at greater risk of future floods and flood warnings may be issued a lower levels until defences are repaired</li>
            <li>your local authority may issue an approved trader list to help homeowners and businesses avoid dishonest traders</li>
        </ul>
        <h2 class="govuk-heading-m">3 months after the flood</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li>your local authority may hold a review, with local meetings and business impact surveys, to capture lessons learned and establish an action plan</li>
            <li>there may also be a local authority effort to bring trade back where local economies have been affected by floods</li>
        </ul>
        <h2 class="govuk-heading-m">A year after the flood</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li>major Infrastructure repairs may still be going on after 12 months if damage has been severe</li>
            <li>flood risk management authorities may still be planning or have begun building improved flood defences</li>
            <li>the Environment Agency, local authority and community flood action groups may be involved in exercises that test new flood response plans</li>
        </ul>
    </div>
    <div class="govuk-grid-column-one-third">
        <aside class="defra-related-items" role="complementary">
            <h2 class="govuk-heading-s" id="subsection-title">
                Related content
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                    <ul class="govuk-list govuk-!-font-size-16">
                        <li>
                            <a class="govuk-link" href="/plan-ahead-for-flooding">
                                How to plan ahead for flooding
                            </a>
                        </li>
                        <li>
                            <a class="govuk-link" href="/what-to-do-in-a-flood">
                                What to do in a flood
                            </a>
                        </li>
                        <li>
                            <a class="govuk-link" href="/recovering-after-a-flood">
                                How to recover after a flood
                            </a>
                        </li>
                    </ul>
                </nav>
        </aside>
    </div>
</div>
{% endblock %}