<div class="chart-container">
  <div id="marker"><span>Now</span><br>▼</div>
  <div id="station-chart"></div>
</div>
<div class="graph-legend">
  <div class="graph-legend-inner">
    <ul>
      <li class="measured">
        <span>Measured level</span>
      </li>

      {% if model.isFfoi %}
        <li class="forecast">
          <span>Forecast level</span>
        </li>
        {% if ffoi.warningThreshold %}
          <li class="property">
            <a href="#flood-warning" data-journey-click="lfw:station:resfw-thresh">Property flooding possible</a>
          </li>
        {% endif %}
        {% if ffoi.alertThreshold %}
          <li class="land">
            <a  href="#flood-alert" data-journey-click="lfw:station:resfal-thresh">Low lying land may flood</a>
          </li>
        {% endif %}
      {% else %}
        {% if station.hasPercentiles %}
          <li class="land">
            When the water level reaches {{station.percentile5}}<abbr title="Metres">m</abbr> here, minor flooding is possible in this area
          </li>
        {% endif %}
      {% endif %}

      {% if station.porMaxValue %}
        {% if station.isCoastal %}
          <li class="max">
            <span>
              Highest astronomical tide prediction {{station.porMaxValue}}<abbr title="Metres">m</abbr>
            </span>
          </li>
        {% else %}
          <li class="max" style="display: none;">
            <span>
              Highest recorded level.
              <a href="#" data-journey-click="lfw:station:highest-recorded-thresh-hide">Hide</a>
            </span>
          </li>
          <li class="max max-off">
            <span><a href="#" data-journey-click="lfw:station:highest-recorded-thresh-show">Show highest recorded level</a></span>
          </li>
        {% endif %}
      {% endif %}
    </ul>
  </div>
</div>