<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <section id="target-areas" class="target-areas">
      <h2 class="govuk-heading-m">What effect could these levels have on nearby areas?</h2>
      {% if station.percentile5 %}
        <h3 class="govuk-heading-s">Typical range at this location</h3>
        <p>{{station.percentile95}}m to {{station.percentile5}}m.</p>
      {% endif %}

      {% if ffoi.alertThreshold %}
        <h3 id="flood-alert" class="govuk-heading-s">Above {{ffoi.alertThreshold}}m flooding of low-lying land may occur in these areas</h3>
        <ul class="govuk-list govuk-list--bullet">
          {% for item in ffoi.warnings.FALThreshold %}
            <li>
              <a class="warning-inline" href="/target-area/{{item.fwis_code}}" data-journey-click="lfw:station:nearby-resfal">
                <span class="warning-inline-name">{{item.fwa_name}}</span>
                {% if (item.notification) and (item.notification.isActive) %}
                  <i class="warning-inline-icon"><span>{{item.notification.title}}</span></i>
                {% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if ffoi.warningThreshold %}
        <h3 id="flood-warning" class="govuk-heading-s">Above {{ffoi.warningThreshold}}m some property flooding may occur in these areas</h3>
        <ul class="govuk-list govuk-list--bullet">
          {% for item in ffoi.warnings.FWThreshold %}
            <li>
              <a class="warning-inline" href="/target-area/{{item.fwis_code}}" data-journey-click="lfw:station:nearby-resfw">
                <span class="warning-inline-name">{{item.fwa_name}}</span>
                {% if (item.notification) and (item.notification.isActive) %}
                  <i class="warning-inline-icon"><span>{{item.notification.title}}</span></i>
                {% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if ffoi.maxValue %}
        <h3 class="govuk-heading-s">Highest forecast level at this location</h3>
        <p>The highest level forecast in the next {% if station.isCoastal %}5 days{% else %}36 hours{% endif %} is {{ffoi.maxValue._ | toFixed(2)}}m at {{ffoi.maxValue.ts | formatDate}}.</p>
      {% endif %}

      <h3 class="govuk-heading-s">Highest level recorded at this location</h3>
      <p>{{station.porMaxValue}}m on {{station.porMaxDate | formatDate("DD MMMM YYYY")}} {% if station.porMaxValueIsProvisional %} (awaiting validation){% endif %}</p>
    </section>
  </div>
</div>
