// Day control  
.defra-map-days {
  position:absolute;
  bottom:10px;
  left:10px;
  right:10px;
  box-sizing: border-box;
  @include mq ($from: tablet) {
    position:static;
    float:left;
    width:100%;
    margin-top:10px;
  }
  @include mq ($from: 1011px) {
    position:absolute;
    bottom:0px;
    left:0px;
    max-width:650px;
  }
  padding-top:10px;
  overflow-x: scroll;
}
.defra-map-days__container {
  width:100%;
  min-width:575px;
  @include mq ($from: tablet) {
    min-width:650px;
  }
  @include mq ($from: 1011px) {
    width:650px;
  }
}
.defra-map-days__button {
  position: relative;
  @include govuk-font($size: 16);
  display: inline-block;
  width:20%;
  border:0;
  margin:0px;
  cursor:pointer;
  background-color:govuk-colour('light-grey');
  box-sizing: border-box;
  padding:15px 15px 17px;
  &::-moz-focus-inner {
    border: 0;
  }
  text-align:left;
  strong {
    display: block;
    margin-bottom:5px;
    @include govuk-font($size: 19, $weight: normal);
    text-decoration:underline;
    // color: $govuk-link-colour;
  }
  &[aria-selected=true] {
    padding-bottom:12px;
    border-bottom:5px solid $govuk-link-colour;
    background-color: white;
    text-decoration:none;
    strong {
      text-decoration:none;
    }
  }
  &:active {
    color: $govuk-text-colour;
  }
}
.defra-map-days__icon {
  position:absolute;
  width:18px;
  height:18px;
  background-color: #ddd;
  right:15px;
  bottom:16px;
  @include mq ($from: tablet) {
    bottom:19px;
  }
}