// Key
.defra-map-key__section {
  display: block;
  border:0px;
  margin:0px;
  padding:0px;
}
.defra-map-key__section-title {
  position:relative;
  @include govuk-font($size: 16, $weight: bold);
  & {
    display: block;
    margin:0;
    padding:15px 15px 0px;
    box-sizing: border-box;
    width: 100%;
  }
  &:before {
    position:absolute;
    content:'';
    height:1px;
    top:0px;
    left:15px;
    right:15px;
    border-top:1px solid $govuk-border-colour;
  }
}
.defra-map-key ul {
  margin:0;
  padding:0;
}
.defra-map-key__item {
  display:block;
  margin:0 5px;
  padding:0 10px;
  label {
    @include govuk-font($size: 16);
  }
}
.defra-map-key__item-label {
  padding: 11px 15px 10px 0px;
  margin-top: -2px;
  position: relative;
  @include govuk-font($size: 16);
}
.defra-map-key__item:first-of-type {
  padding-top:10px;
}
.defra-map-key__item:last-child {
  padding-bottom:10px;
}
.defra-map-key__item:after {
  content: "";
  display: table;
  clear: both;
}

// Symbols
.defra-map-key__symbol-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 0; 
  position: relative;

  &--multi {
    margin-top: 24px;
    @include mq($from: tablet) {
      margin-top: 19px;
    }
  }
}

.defra-map-key__symbol {
  position: static; 
  width: 32px;
  height: 32px;
  text-indent: -5000px;
  background-size: 32px;
  background-repeat: no-repeat;
  border: 0;
  color: govuk-color('black');

  svg {
    display: block;
  }

  &[data-display="toggle-image"] svg {
    display: none;
  }

  &--big svg:first-child {
    display: none;
  }

  &--big svg:last-child {
    display: block;
  }

  &--small svg:first-child {
    display: block;
  }

  &--small svg:last-child {
    display: none;
  }
}

