// Info panel
.defra-map-info {
  z-index: 4;
  padding:  15px 15px 12px;
  &__content dd {
    margin: 0px;
  }
  &__feature {
    margin-bottom: 0px;
  }
  &__type {
    display: block;
    @extend .govuk-body;
    margin-bottom: 5px;
  }
  &__name {
    display: block;
    @include govuk-font($size: 16, $weight: bold);
  }
  &__meta {
    display: block;
    @include govuk-font($size: 16);
    margin-bottom: 10px;
  }
  &__secondary {
    color: $govuk-secondary-text-colour;
  }
  &__button {
    @extend .defra-button-map-s;
    position: relative;
    color:$govuk-text-colour;
    text-decoration: underline;
  }
  &__button--up {
    padding-left:16px;
    margin-bottom:5px;
    margin-right:10px;
  }
  &__button--down {
    padding-left:16px;
    margin-bottom:5px;
  }
  &__button--up:hover:before {
    background-image: svg-url('<svg width="13" height="15" viewBox="0 0 13 15" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M6.5,0L0,6.5L1.4,8L5.4,4L5.4,15L7.4,15L7.4,4L11.7,8L13,6.4L6.5,0Z" style="fill:#003078;fill-rule:nonzero;"/></svg>');
  }
  &__button--up:focus[keyboard-focus]:before {
    background-image: svg-url('<svg width="13" height="15" viewBox="0 0 13 15" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M6.5,0L0,6.5L1.4,8L5.4,4L5.4,15L7.4,15L7.4,4L11.7,8L13,6.4L6.5,0Z" style="fill:#0b0c0c;fill-rule:nonzero;"/></svg>');
  }
  &__button--up:before,
  &__button--up:active:before {
    content: '';
    position: absolute;
    top:2px;
    left:0px;
    background-image: svg-url('<svg width="13" height="15" viewBox="0 0 13 15" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M6.5,0L0,6.5L1.4,8L5.4,4L5.4,15L7.4,15L7.4,4L11.7,8L13,6.4L6.5,0Z" style="fill:#0b0c0c;fill-rule:nonzero;"/></svg>');
    background-color:transparent;
    background-size:13px 15px;
    background-repeat: no-repeat;
    background-position: top left;
    width:13px;
    height:13px;
    @include mq ($from: tablet) {
      height:15px;
    }
  }
  &__button--down:hover:before {
    background-image: svg-url('<svg width="13" height="15" viewBox="0 0 13 15" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M0,8.5L6.5,15L13,8.6L11.7,7L7.4,11L7.4,0L5.4,0L5.4,11L1.4,7L0,8.5Z" style="fill:#003078;"/></svg>');
  }
  &__button--down:focus[keyboard-focus]:before {
    background-image: svg-url('<svg width="13" height="15" viewBox="0 0 13 15" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M0,8.5L6.5,15L13,8.6L11.7,7L7.4,11L7.4,0L5.4,0L5.4,11L1.4,7L0,8.5Z" style="fill:#0b0c0c;"/></svg>');
  }
  &__button--down:before,
  &__button--down:active:before {
    content: '';
    position: absolute;
    top:2px;
    left:0px;
    background-image: svg-url('<svg width="13" height="15" viewBox="0 0 13 15" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M0,8.5L6.5,15L13,8.6L11.7,7L7.4,11L7.4,0L5.4,0L5.4,11L1.4,7L0,8.5Z" style="fill:#0b0c0c;"/></svg>');
    background-color:transparent;
    background-size:13px 15px;
    background-repeat: no-repeat;
    background-position: bottom left;
    width:13px;
    height:13px;
    @include mq ($from: tablet) {
      top:3px;
      height:15px;
    }
  }
  // Attributions
  ul {
    @extend .govuk-list;
    @include govuk-font($size: 14);
    margin-bottom: 0px;
  }
  ul > li {
    margin-bottom: 0px;
  }
}