.defra-river-nav-link {
    @extend .govuk-back-link;
    position:relative;
    padding-left:0px;
    margin-right:10px;
    @include govuk-responsive-margin(7, 'bottom');
    background:none;
    border-left:0px;
    border-right:0px;
    border-top:0px;
    padding:0px;
    cursor: pointer;
}
.defra-river-nav-link:before {
    content:none;
}
.defra-river-nav__icon {
    position: relative;
    left:0px;
    top:2px;
    margin-right:2px;
}
a.defra-link-meta {
    @extend .govuk-link;
    color: $govuk-text-colour;
    &:visited {
        // color:$govuk-link-visited-colour;
        color: $govuk-text-colour;
    }
    &:hover {
        color:$govuk-link-hover-colour;
    }
    &:active {
        color:$govuk-link-active-colour;
    }
}