.defra-list-flood {
    @extend .govuk-list;
    border-bottom:1px solid $govuk-border-colour;
    padding-bottom:15px;
    margin-bottom:15px;
    margin-top:5px;
    .defra-list-flood__item {
        padding-bottom:15px;
        margin:0;
    }
    .defra-list-flood__item:last-child {
        padding-bottom:0;
    }   
    .defra-list-flood__meta {
        display: block;
        @include govuk-font($size: 16);
    }
    &:last-of-type {
        border-bottom:0;
        padding-bottom:0;
        margin-bottom:0;
    }
}