.defra-flood-list {
    @extend .govuk-list;
    > li:not(:last-child) {
        margin-bottom:20px;
        border-bottom:1px solid govuk-colour('grey-2');
    }
    &__group-title {
        @include govuk-font($size: 24, $weight: bold);
        span {
            @include govuk-font($size: 19);
            display:block;
        }
    }
    dl {
        position:relative;
        margin-bottom:5px;
        @include mq ($from: tablet) {
            margin-top:15px;
        }
        > div {
            padding-bottom:10px;
            margin-bottom:0px;
            @include mq ($from: tablet) {
                display: table;
                width:100%;
                position:relative;
                padding-bottom:15px;
                margin-bottom:0px;
            }
        }
    }
    dl:last-child {
        padding-bottom:0;
    }   
    dt {
        position:relative;
        padding-left:40px;
    }
    a {
        font-weight:bold;
    }
    dd {
        @include govuk-font($size: 16);
        display: block;
        padding-left:40px;
        margin:0px;
    }
    &__items--warnings {
        margin-bottom:0;
        div:not(:last-child) {
            border-bottom: 1px solid govuk-colour('grey-2');
            margin-bottom:15px;
        }
        dt:after {
            position: absolute;
            content:'';
            width:26px;
            height:26px;
            top:0px;
            left:2px;
            background: transparent url('#{$govuk-images-path}icon-flood-symbols.svg') no-repeat;
            background-size: 52px 130px;
            @include mq ($from: tablet) {
                width:30px;
                height:30px;
                background-size: 60px 150px;
                left:0px;
            }
        }
    }
    &__items--levels {
        dt {
            @include mq ($from: tablet) {
                display: table-cell;
                width:50%;
            }
        }
        dt:before {
            position: absolute;
            content:'';
            width:7px;
            height:7px;
            border:3px solid white;
            background-color:white;
            top:4px;
            left:7px;
            @include mq ($from: tablet) {
                top:5px;
            }
        }
        dt:after {
            position: absolute;
            content:'';
            top:5px;
            left:8px;
            width:7px;
            height:7px;
            border:2px solid govuk-colour('grey-2');
            border-radius: 100%;
            background-color: white;
            @include mq ($from: tablet) {
                top:6px;
            }
        }
        dd {
            @include mq ($from: tablet) {
                display: table-cell;
                padding-left:1em;
                width:50%;
            }
        }
    }
    &__items--has-relation:before {
        position:absolute;
        content:'';
        top:-2px;    
        bottom:13px;
        left:12px;
        width:3px;
        background-color: govuk-colour('grey-2');
    }
    &__items--has-relation:after {
        position:absolute;
        content:'';
        bottom:10px;    
        left:8px;
        width:1px;
        height:1px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid govuk-colour('grey-2');
    }
    &:last-of-type {
        border-bottom:0;
        padding-bottom:0;
        margin-bottom:0;
    }
    &__item {
        // Warning symbols
        &--severe dt:after {
            background-position: 0% 0%;
        }
        &--warning dt:after {
            background-position: 0% 25%;
        }
        &--alert dt:after {
            background-position: 0% 50%;
        }
        &--removed dt:after {
            background-position: 0% 75%;
        }
        // River level symbols
        &--normal dt:after {
            border-color: govuk-colour('green');
            background-color: govuk-colour('green');
        }
        &--forecast-high dt:after {
            border-color: govuk-colour('orange');
            background-color: govuk-colour('orange');
        }
        &--high dt:after {
            border-color: govuk-colour('red');
            background-color: govuk-colour('red');
        }
        &--low dt:after {
            border-color: govuk-colour('grey-2');
            background-color: govuk-colour('grey-2');
        }
    }
}