.defra-flood-list {
    // @extend .govuk-list;
    margin:0px;
    padding:0px;
    list-style:none;
    ul {
        list-style:none;
    }
    &__group {
        padding-top:10px;
        margin-bottom:10px;
        border-bottom:1px solid govuk-colour('black');
        &:last-child {
            margin-bottom:0px;
            border:none;
        }
    }
    &__group-title {
        display: block;
        @include govuk-font($size: 24, $weight: bold);
        span {
            @include govuk-font($size: 19);
            display:block;
        }
    }
    &__items {
        position:relative;
        margin-bottom:5px;
        padding:0px;
        margin-top:5px;
    }
    &__items:last-child {
        padding-bottom:0;
    }
    &__items--warnings {
        span:after {
            position: absolute;
            content:'';
            width:26px;
            height:26px;
            top:-1px;
            left:-38px;
            background: transparent url('#{$govuk-images-path}icon-flood-symbols.svg') no-repeat;
            background-size: 52px 130px;
            @include mq ($from: tablet) {
                width:30px;
                height:30px;
                background-size: 60px 150px;
                left:-40px;
            }
        }
    }
    &__items--levels {
        padding-left:40px;
        dt {
            @include mq ($from: tablet) {
                display: table-cell;
                width:50%;
            }
        }
        dt:before {
            position: absolute;
            content:'';
            width:7px;
            height:7px;
            border:3px solid white;
            background-color:white;
            top:4px;
            left:-33px;
            @include mq ($from: tablet) {
                top:5px;
            }
        }
        dt:after {
            position: absolute;
            content:'';
            top:5px;
            left:-32px;
            width:7px;
            height:7px;
            border:2px solid govuk-colour('mid-grey');
            border-radius: 100%;
            background-color: white;
            @include mq ($from: tablet) {
                top:6px;
            }
        }
        dd {
            @include mq ($from: tablet) {
                @include govuk-font($size: 16);
                display: table-cell;
                padding-left:1em;
                width:50%;
            }
        }
        .defra-flood-list__item {
            padding-left:0px;
            @include mq ($from: tablet) {
                display: table;
                width:100%;
            }
        }
    }
    &__items--has-relation:before {
        position:absolute;
        content:'';
        top:5px;    
        bottom:13px;
        left:12px;
        width:3px;
        background-color: govuk-colour('mid-grey');
    }
    &__items--has-relation:after {
        position:absolute;
        content:'';
        bottom:10px;    
        left:8px;
        width:1px;
        height:1px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid govuk-colour('mid-grey');
    }
    &__item {
        padding-bottom:10px;
        padding-left:40px;
        margin-bottom:0px;
        @include mq ($from: tablet) {
            position:relative;
            padding-bottom:15px;
            margin-bottom:0px;
        }
        padding-top:10px;
        border-bottom:1px solid $govuk-border-colour;
        @include mq ($from: tablet) {
            padding-top:15px;
        }
        &:last-child {
            border-bottom:0px;
        }
    }
    &__item-title {
        position:relative;
        display: block;
        padding-left:0px;
        @include govuk-font($size: 19, $weight: bold);
        a {
            text-decoration:none;
        }
    }
    &__item-desc,
    &__item-meta {
        @include govuk-font($size: 14);
        display: block;
        padding-left:0px;
        margin:0px;
    }
    &__item-meta {
        div {
            @include mq ($from: tablet) {
                display: inline;
            }
        }
        dt {
            display:inline;
        }
        /*
        dt:after {
            content:'at';
        }
        */
        dd {
            display: inline;
            margin:0px;
        }
        dd:after {
            @include mq ($from: tablet) {
                content:',';
            }
        }
        div:last-child dd:after {
            content:'';
        }
    }
    &__item {
        // Impacts
        &--impact {
            margin-bottom:15px;
            padding-bottom:15px;
            border-bottom:1px solid govuk-colour('mid-grey');
        }
        &--impact:last-child {
            border:none;
            margin-bottom:0;
        }
        &--impact span:after {
            position: absolute;
            content:'';
            width:26px;
            height:26px;
            top:1px;
            left:2px;
            background: transparent url('#{$govuk-images-path}icon-flood-symbols.svg') no-repeat;
            background-size: 52px 130px;
            background-position: 0% 100%;
            @include mq ($from: tablet) {
                width:30px;
                height:30px;
                background-size: 60px 150px;
                left:0px;
            }
        }
        // Warning symbols
        &--severe span:after {
            background-position: 0% 0%;
        }
        &--warning span:after {
            background-position: 0% 25%;
        }
        &--alert span:after {
            background-position: 0% 50%;
        }
        &--removed span:after {
            background-position: 0% 75%;
        }
        // River level symbols
        &--normal dt:after {
            border-color: govuk-colour('green');
            background-color: govuk-colour('green');
        }
        &--forecast-high dt:after {
            border-color: govuk-colour('orange');
            background-color: govuk-colour('orange');
        }
        &--high dt:after {
            border-color: govuk-colour('red');
            background-color: govuk-colour('red');
        }
        &--low dt:after {
            border-color: govuk-colour('mid-grey');
            background-color: govuk-colour('mid-grey');
        }
    }
}