.defra-table-flood {
    @extend .govuk-table;
    @include mq ($until: tablet) {
        display: block;
    }
    &__head {
        @include mq ($until: tablet) {
            @include govuk-visually-hidden();
        }
    }
    &__body {
        @include mq ($until: tablet) {
            display: block;
        }
    }
    &__row {
        @extend .govuk-table__row;
        @include mq ($until: tablet) {
            display: block;
        }
    }
    &__header {
        @extend .govuk-table__header;
        @include mq ($until: tablet) {
            display: block;
            border:0px;
        }
        vertical-align: top;
        a {
            @include mq ($from: tablet) {
                font-weight:normal;
            }
        }
    }
    &__cell {
        @extend .govuk-table__cell;
        @include mq ($until: tablet) {
            display: block;
            border:0px;
            padding-top:2px;
            padding-bottom:0px;
        }
        vertical-align: top;
    }
    &__cell:nth-of-type(2) {
        @include mq ($from: tablet) {
            @include govuk-font($size: 19, $tabular: true);
        }
    }
    &__row:not(:first-child) &__header {
        @include mq ($until: tablet) {
            border-top:1px solid $govuk-border-colour;
            padding-bottom:0px;
        }
    }
    &__cell:last-child {
        @include mq ($until: tablet) {
            padding-bottom:5px;
        }
    }
    &__group-head {
        display: block;
        @include govuk-font($size: 24);
        font-weight:bold;
        margin-top:5px;
        margin-bottom:2.5px;
    }
    &__title {
        @include mq ($from: tablet) {
            @include govuk-visually-hidden();
        }
    }
    &__error-text {
        font-weight:normal;
    }
    &__icon-state {
        @include mq ($from: tablet) {
            display: block;
            width:24px;
            height:24px;
            text-indent:-5000px;
            background-image: url('#{$govuk-images-path}icons-level-state.svg');
            background-color:white;
            background-size:96px 24px;
            background-position:-24px top;
        }
        &--low {
            @include mq ($from: tablet) {
                background-position:0px top;
            }
        }
        &--high {
            color: govuk-colour('bright-red');
            font-weight:bold;
            text-transform:uppercase;
            @include mq ($from: tablet) {
                background-position:-72px top;
            }
        }
        &--forecast-high {
            @include mq ($from: tablet) {
                background-position:-48px top;
            }
        }
    }
}
