.govuk-body--caption {
  color: $govuk-secondary-text-colour;
}

.govuk-inset-text--search {
  position:relative;
  padding-left:50px;
  @include mq ($from: tablet) {
    padding-left:52px;
  }
  .govuk-inset-text__icon {
    position:absolute;
    left:12px;
    top:50%;
    margin-top:-16px;
    width:32px;
    height:32px;
    background: white url('#{$govuk-images-path}icon-search-2x.png') 0 0 no-repeat;
    background-size:30px;
    margin-right:0.25em;
    @include mq ($from: tablet) {
      left:15px;
    }
  }
}