.govuk-caption-s {
    @extend .govuk-caption-m;
    @include govuk-font($size: 16);
    @include govuk-responsive-margin(1, "top");
}

.govuk-caption--normal {
    color: $govuk-secondary-text-colour;
}
.defra-flood-heading-image {
    display: inline-block;
    vertical-align: middle;
    margin-right:2px;
}