.govuk-warning-text--flood-warning {
    padding:10px 0 0 0;
    .govuk-warning-text__text {
        padding-left:64px;
        @include govuk-font($size: 24, $weight: bold);
    }
    .govuk-warning-text__icon {
        background: transparent url('#{$govuk-images-path}icon-flood-symbols-2x.png') no-repeat;
        background-position: -9px -70px;
        border-radius: 0;
        border:0;
        background-size: 180px;
        text-indent: -5000px;
        min-width: 42px;
        min-height: 42px;
        padding: 0;
        margin-top:-18px;
        font-size: 1em;
        line-height: auto;
    }
}
.govuk-warning-text--severe-flood-warning {
    @extend .govuk-warning-text--flood-warning;
    .govuk-warning-text__icon {
        background-position:-9px -10px;
    }
}
.govuk-warning-text--flood-alert {
    @extend .govuk-warning-text--flood-warning;
    .govuk-warning-text__icon {
       background-position:-9px -130px;
    }
}