.js-enabled .accordion {
    @include mq($from: tablet) {
        padding-bottom: 10px;
    }
}
.accordion__section {
    border-top:1px solid $govuk-border-colour;
    padding:0;
}
.js-enabled .accordion:first-of-type {
    @include mq($from: tablet) {
        margin-top:-10px;
    }
    .accordion__section:first-of-type {
        @include mq($from: tablet) {
            border-top:0;
        }
    }
}
.accordion__section:last-child {
    @include mq($until: tablet) {
        border-bottom:1px solid $govuk-border-colour;
    }
}

// Subsection header
.accordion__section-header {
    position: relative;
    @include govuk-responsive-padding(2, "top");
    @include govuk-responsive-padding(2, "bottom");
    cursor:pointer;
}
.accordion__section-title {
    @extend .govuk-heading-s;
    margin-bottom:0;
    padding-right:16px;
}
.accordion__section-title-s {
    @extend .govuk-heading-s;
    margin-bottom:0;
    font-weight:normal;
    .accordion__button {
        color: $govuk-text-colour;
    }
}
.accordion__button {
    @include govuk-focusable;
    color: $govuk-link-colour;
    font: inherit;
    line-height: inherit;
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    text-align: left;
    cursor:pointer;
    &:active {
        color:$govuk-link-colour;
    }
}
.accordion__section-icon {
    position:absolute;
    right:0;
    top:50%;
    margin-top:-8px;
    width:16px;
    height:16px;
    background:transparent url('#{$govuk-images-path}icon-accordion-2x.png') no-repeat;
    background-position:left bottom;
    background-size: 32px 32px;
}
.accordion__section--open .accordion__section-icon {
    background-position:left top;
}
.accordion__section-header:hover {
    .accordion__button {
        color: $govuk-link-hover-colour
    }
    .accordion__section-title-s {
        .accordion__button {
            color: lighten( $govuk-text-colour, 25% );
        }
    }
    .accordion__section-icon {
        background-position:right bottom;
    }
}
.accordion__section--open .accordion__section-header:hover .accordion__section-icon {
    background-position:right top;
}

// Subsection content
.js-enabled .accordion__section-content {
    display:none;
    @include govuk-responsive-margin(3, "bottom");
}
.js-enabled .accordion__section--open .accordion__section-content {
    display:block;
}
.accordion__description {
    @extend .govuk-body;
    margin-bottom:0;
    padding-right:16px;
}