.govuk-button--secondary {
    background-color: govuk-colour('grey-3');
    color: $govuk-text-colour;
    width: auto;
    -webkit-box-shadow: 0 2px 0 govuk-colour('grey-2');
    box-shadow: 0 2px 0 govuk-colour('grey-2');
    margin-left: 0;
    &:hover {
        background-color: govuk-colour('grey-2');
        color: $govuk-text-colour;
    }
    &:active {
        background-color: govuk-colour('grey-2');
        color: $govuk-text-colour;
    }
    &:focus {
        background-color: govuk-colour('grey-3');
    }
}
.govuk-button--show-map {
    margin-bottom:20px;
    @include mq ($from: tablet) {
        display:none;
    }
}