.defra-button-text {
    @extend .govuk-body;
    margin:0px;
    color:$govuk-link-colour;
    background-color: transparent;
    border:0px;
    text-align:left;
    text-decoration: underline;
    padding:0;
    border-radius: 0;
    cursor:pointer;
}
.defra-button-text:focus,
.defra-button-text:active {
    outline:3px solid $govuk-focus-colour;
    background-color: $govuk-focus-colour;
    color: $govuk-text-colour !important;
}
.defra-button-text:hover {
    color:$govuk-link-hover-colour;
}
.defra-button-text-s {
    @extend .defra-button-text;
    @extend .govuk-body-s;
    // padding-left:16px;
    &.defra-button-text--show-map:before {
        width:16px;
        height:22px;
        background-position:-309px -655px;
        top:-4px;
        @include mq ($from: tablet) {
           top:-2px; 
        }
    }
}
.defra-button-text-m {
    @extend .defra-button-text;
    @extend .govuk-body-s;
    padding-left:21px;
    &.defra-button-text--show-map:before {
        width:16px;
        height:25px;
        background-position:-257px -655px;
        top:-4px;
        @include mq ($from: tablet) {
           top:-2px; 
        }
    }
}

// Map list details button
.defra-button-list {
    @extend .defra-button-text;
    position:relative;
    display:inline-block;
    padding-left:25px;
    margin-bottom:5px;
    margin-right:0.75em;
}
.defra-button-list:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    //-webkit-clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    border-width: 7px 0 7px 12.124px;
    border-left-color: $govuk-link-colour;
}
.defra-button-list[aria-expanded="true"]:before {
    clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
    border-width: 12.124px 7px 0 7px;
    border-top-color: $govuk-link-colour;
}
.defra-button-list:hover:before {
    border-left-color: $govuk-link-hover-colour;
}
.defra-button-list:focus:before {
    border-left-color: $govuk-text-colour;
}
.defra-button-list:focus[aria-expanded="true"]:before {
    border-top-color: $govuk-text-colour;
}

// Map button
.defra-button-map {
    @extend .defra-button-text;
    position:relative;
    display:inline-block;
    padding-left:23px;
}
.defra-button-map:before {
    content: "";
    position: absolute;
    top: 2px;
    left:0px;
    background-image: url('#{$govuk-images-path}icon-map-controls-2x.png');
    background-color:transparent;
    background-size:90px;
    background-repeat: no-repeat;
    background-position: -7px -215px;
    height:20px;
    width:16px;
}
.defra-button-map:hover:before {
    background-position: -37px -215px;
}
.defra-button-map:focus:before {
    background-position: -67px -215px;
}