// Defra charts
//
// Transforms a table and ticks element in to a bar chart

// Reset table properties
.defra-bar-chart {
    padding-left:40px;
    padding-bottom:20px;
    @include mq ($from: tablet) {
        padding-left:60px;
        padding-right:10px;
        padding-top:10px;
        padding-bottom:30px;
    }
    .defra-bar-chart__inner {
        position:relative;
        height:200px;
        @include mq ($from: tablet) {
            height:360px;
        }
        border-left:2px solid $govuk-border-colour;
        border-bottom:2px solid $govuk-border-colour;
    }
    table {
        display: block;
        width:100%;
        height:100%;
        margin:0px;
    }
    tbody {
        display:block;
    }
    th { 
        @extend .govuk-visually-hidden;
    }
    td {
        position:absolute;
        bottom:0px;
    }
}
.defra-bar-chart__h-value-inner {
    position:absolute;
    left:2px;
    right:2px;
    @include mq ($from: tablet) {
        left:4px;
        right:4px;
    }
    height:100%;
    text-indent:-5000px;
    background-color:$govuk-border-colour;
}
.defra-bar-chart__h-tick {
    display:block;
    font-family: "ntatabularnumbers","nta",Arial,sans-serif;
    top:100%;
    text-align:center;
    padding-top:7px;
}
.defra-bar-chart__h-tick:before {
    position:absolute;
    content:'';
    left:50%;
    top:0px;
    width:2px;
    height:5px;
    background-color:$govuk-border-colour;
}   
// Quick mobile fix but may not work for other offsets and increments
tr:nth-of-type(2n) .defra-bar-chart__h-tick {
    @include mq ($until: tablet) {
        position: absolute !important;
        width: 1px !important;
        height: 1px !important;
        margin: -1px !important;
        padding: 0 !important;
        overflow: hidden !important;
        clip: rect(0 0 0 0) !important;
        -webkit-clip-path: inset(50%) !important;
        clip-path: inset(50%) !important;
        border: 0 !important;
        white-space: nowrap !important;
    }
}
.defra-bar-chart__v-tick {
    position:absolute;
    width:100%;
    left:0px;
    border-bottom:1px solid #dee0e2;
}
.defra-bar-chart__v-tick:first-child,
.defra-bar-chart__v-tick:last-child {
    border:0px;
}
.defra-bar-chart__v-tick-label {
    position:absolute;
    font-family: "ntatabularnumbers","nta",Arial,sans-serif;
    right:100%;
    @extend .govuk-body-s;
    height:1em;
    margin-top:-0.5em;
    margin-right:10px;
}   