.defra-flood-status {
    padding-bottom:10px;
    @include mq ($from: tablet) {
        padding-bottom:15px;
    }
}
.defra-flood-status-item {
    @extend .govuk-inset-text;
    background-color:govuk-colour('light-grey');
    position:relative;
    display: table;
    width:100%;
    box-sizing: border-box;
    padding:0px;
    margin-top:0px;
    margin-bottom:10px;
    .defra-flood-status-item__text {
        display: table-cell;
        vertical-align: middle;
        width:100%;
        padding:15px 0px;
        @include govuk-font($size: 19);
        strong {
            @include govuk-font($size: 19, $weight: bold);
            display: block;
        }
        @include mq ($from: tablet) {
            padding:20px 0px;
        }
    }
    .defra-flood-status-item__text:first-child {
        padding:15px;
    }
    .defra-flood-status-item__icon {
        display: table-cell;
        vertical-align: middle;
        padding:7.5px;
        @include mq ($from: tablet) {
            padding:10px 12.5px;
        }
    }
    .defra-flood-status-item__icon:after {
        display: block;
        content:'';
        background: transparent url('#{$govuk-images-path}icon-flood-symbols.svg') no-repeat;
        background-size: 80px 200px;
        width: 40px;
        height: 40px;
        @include mq ($from: tablet) {
            background-size: 100px 250px;
            width: 50px;
            height: 50px;
        }
    }
    &--hover {
        // opacity:0.85;
        cursor: pointer;
        a {
            @extend a:hover;
        }
    }
}
.defra-flood-status-item--severe {
    background-color: #e3000f;
    border-color:#e3000f;
    color:white;
    a {
        color:white;
    }
    .defra-flood-status-item__icon:after {
        background-position: 100% 0%;
    }
    &:before {
        content:'';
        position:absolute;
        top:0px;
        bottom:0px;
        width:1px;
        left:0px;
        background-color: white;
    }
}
.defra-flood-status-item--warning {
    background-color: mix(white, #e3000f, 80%);
    border-color:#e3000f;
    .defra-flood-status-item__icon:after {
        background-position: 100% 25%;
    }
}
.defra-flood-status-item--alert {
    background-color: mix(white, #f18700, 80%);
    border-color:#f18700;
    .defra-flood-status-item__icon:after {
        background-position: 100% 50%;
    }
}
/*
.defra-flood-status-item--removed {
    .defra-flood-status-item__icon:after {
        background-position: 100% 75%;
    }
}
*/
.defra-flood-status__text {
    @extend .govuk-body;
    @include govuk-responsive-margin(4, 'top');
    margin-bottom:5px;
}