
// Defra flood details component
.defra-flood-details {
    @extend .govuk-details;
    .govuk-details__text {
        padding-top:5px;
        padding-bottom:10px;
    }
}
.defra-flood-details__section-heading {
    @extend .govuk-heading-s;
    margin-bottom:0px;
    padding-top:15px !important;
    padding-bottom:10px;
}

// Accordion modifiers
.defra-flood-details {
    .accordion__section--open {
        border:0px;
    } 
    .accordion__section-header {
        padding-bottom:0px;
        padding-top:0px;
    }
    .accordion__section-content {
        margin-bottom:0px;
    }
}

// Target areas list

.defra-targetareas-list,
.defra-rain-list {
    @extend .govuk-list;
    position:relative;
    border-bottom:1px solid $govuk-border-colour;
    margin-bottom:0px;
    padding-bottom:10px;
    li {
        margin-bottom:0px;
        @include govuk-responsive-padding(1, "bottom");
    }
}
.defra-targetareas-list:last-child.defra-targetareas-list:first-child,
.defra-rain-list:last-child.defra-rain-list:first-child {
    padding-top:15px;
}
.defra-targetareas-list:last-child,
.defra-rain-list:last-child {
    border-bottom:0px;
    padding-bottom:0px;
}

// Levels list

.defra-level-list {
    @extend .govuk-list;
    position:relative;
    border-bottom:1px solid $govuk-border-colour;
    margin-bottom:0px;
    padding-bottom:10px;
}
.defra-flood-details__section-heading + .defra-level-list:last-child {
    border:0px;
}
.defra-level-list > li {
    margin-bottom: 0px;
}

// Level

.defra-level-list:before {
    /*
    position:absolute;
    content:'';
    width:2px;
    top:6px;
    bottom:12px;
    @include mq ($from: tablet) {
        bottom:11px;
    }
    left:62px;
    @include mq ($from: tablet) {
        left:80px;
        bottom:20px;
    }
    background-color:$govuk-border-colour;
    */
}
.defra-level-list__item {
    position:relative;
    padding-left:85px;
    @include mq ($from: tablet) {
        padding-left:115px;
    }
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom:0px;
}
.defra-level-list__item:before {
    position:absolute;
    content:'';
    z-index:1;
    width:2px;
    top:0px;
    bottom:0px;
    left:62px;
    @include mq ($from: tablet) {
        left:80px;
    }
    background-color:$govuk-border-colour;
}
.defra-level-list__item:first-child:before {
    top:4px;
}
.defra-level-list__item:last-child:before {
    bottom:4px;
}
.defra-level-list__item:last-child:after {
    position: absolute;
    content: '';
    z-index:2;
    width:8px;
    height:8px;
    bottom:3px;
    left:58px;
    @include mq ($from: tablet) {
        left:76px;
        bottom:5px;
    }
    transform: rotate(45deg);
    border-right: 2px solid $govuk-border-colour;
    border-bottom: 2px solid $govuk-border-colour;     
}
.defra-level-list__item:first-child:after,
.defra-level-list__item--river:last-child:after {
    display:none;
}
.defra-level-list__item--river:last-child:before {
    bottom:16px;
}
.defra-level-list__item-state {
    position: absolute;
    z-index:3;
    text-indent:-5000px;
    width:18px;
    height:18px;  
    top:50%;
    margin-top:-9px;
    left:54px;
    @include mq ($from: tablet) {
        left:72px;
    }
    background-image: url('#{$govuk-images-path}icon-flood-symbols-2x.png');
    background-color: transparent;
    background-size:180px;
    background-position:-81px -381px;
    background-repeat: no-repeat;
}
.defra-level-list__item-state--above {
    background-position:-81px -501px;
}
.defra-level-list__item-state--forecastAbove {
    background-position:-81px -441px;
}
.defra-level-list__item-state--disabled {
    background-position:-81px -321px;
}
.defra-level-list__item-measurement {
    @extend .govuk-body-s;
    position:absolute;
    left:1px;
    @include mq ($from: tablet) {
        left:2px;
        margin-top:-9px;
    }
    top:50%;
    margin-top:-7px;
}
.defra-level-list__item-measurement--above {
    font-weight:bold;
}
.defra-level-list__item-river {
    @extend .govuk-body-s;
    color:$govuk-secondary-text-colour;
}
.defra-level-list__item-river:before {
    position:absolute;
    content:'';
    width:10px;
    height:10px;
    background-color:$govuk-border-colour;
    left:58px;
    border-radius: 100%;
    margin-top:-3px;
    @include mq ($from: tablet) {
        left:76px;
    }
    top:50%;
}
.defra-level-list__item-meta {
    @extend .govuk-body-s;
    margin-bottom:0px;
    display:block;
}

// Rain list

.defra-rain-list .defra-rain-list__item {
    padding-top:10px;
    padding-bottom:5px;
}