.map {
  display: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  @include mq ($from: tablet) {
    margin:0;
    padding:0px;
  }
}
.map canvas { // Open layers bug fix
  display:block !important;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.js-enabled .map__container {
  position:relative;
  height:275px;
}
.js-enabled .map__container {
  width:100%;
  @include mq ($from: tablet) {
    height:576px;
  }
}
.map-link {
  @include mq ($from: tablet) {
    display:none;
  }
}
.map__container-inner {
  position: relative;
  z-index:1;
  width:100%;
  height:100%;
  border-top: 1px solid $govuk-border-colour;
  border-left: 1px solid $govuk-border-colour;
  border-bottom: 1px solid $govuk-border-colour;
}
.map--fullscreen {
  display: block;
  .map__container-inner {
    position:fixed;
    z-index: 99;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:white;
  }
}

// Map controls

.ol-zoom {
  position:static;
}

.ol-full-screen,
.ol-zoom-reset,
.ol-zoom-in,
.ol-zoom-out,
.ol-draw-delete,
.ol-draw-shape,
.ol-place-locator,
.ol-draw-undo,
.ol-draw-redo {
  border:0;
  position: absolute;
  top:-50px;
  height:40px;
  font-size:16px;
  color:white;
  line-height:1em;
  padding:0;
  border-radius: 0;
  cursor:pointer;
  background-image: url('#{$govuk-images-path}icon-map-controls-2x.png');
  background-color:white;
  background-size:90px;
  background-repeat: no-repeat;
  background-position:center center;
  overflow: hidden;
  span {
    display:none;
  }
  @include mq ($from: tablet) {
    top:auto;
    bottom:10px;
    height:30px;
    span {
      display:inline;
    }
  }
}
.ol-full-screen {
  left:10px;
  top:10px;
  width: 40px;
  height:40px;
  background:none;
  text-indent: -5000px;
  z-index:3;
}
.ol-full-screen:before {
  position: absolute;
  content: '';
  left:0px;
  top:0px;
  width: 40px;
  height:40px;
  background-image: url('#{$govuk-images-path}icon-map-controls-2x.png');
  background-position: 5px -85px;
  background-color:$govuk-link-colour;
  background-size:90px;
  background-repeat: no-repeat;
  background-position:center center;
  @include mq ($from: tablet) {
    background-color:transparent;
  }
}
.ol-full-screen.ol-full-screen-back {
  @include mq ($from: tablet) {
    width:120px;
    padding-left:26px;
    text-indent: 0px;
    background-color:$govuk-link-colour;
  }
  &:before {
    background-position: -25px -85px;
  }
}
.ol-full-screen.ol-full-screen-back:hover:before {
  @include mq ($until: tablet) {
    background-color:$govuk-focus-colour;
  }
}
.map--key-open .ol-full-screen.ol-full-screen-back:before {
  @include mq ($until: tablet) {
    background-position: -55px -85px;
    background-color:white;
  }
}
.map--key-open .ol-full-screen.ol-full-screen-back:hover:before {
  @include mq ($until: tablet) {
    background-color:$govuk-focus-colour;
  }
}
.ol-zoom-reset {
  text-indent:-5000px;
  right:10px;
  width:40px;
  background-position:5px 5px;
  font-size:16px;
  @include mq ($from: tablet) {
    height: 30px;
    width: 30px;
    bottom:70px;
    background-position:0 0;
  }
}
.ol-zoom-in {
  display: none;
  @include mq ($from: tablet) {
    text-indent:-5000px;
    display:block;
    right:10px;
    bottom:40px;
    width:30px;
    background-position:0 -30px;
  }
}
.ol-zoom-out {
  display: none;
  @include mq ($from: tablet) {
    text-indent:-5000px;
    display:block;
    right:10px;
    bottom:10px;
    width:30px;
    background-position:0 -60px;
  }
}
.ol-place-locator {
  left:10px;
  width:70px;
  background-image:none;
  &:before {
    content:'Marker'
  }
  @include mq ($from: tablet) {
    width:104px;
    &:before {
      content:''
    }
  }
}
.ol-draw-shape {
  left:80px;
  width:70px;
  background-image:none;
  &:before {
    content:'Shape'
  }
  @include mq ($from: tablet) {
    left:114px;
    width:96px;
    &:before {
      content:''
    }
  }
}
.ol-draw-undo {
  left:155px;
  width:40px;
  text-indent:-5000px;
  background-position: -25px -55px;
  @include mq ($from: tablet) {
    background-position: -30px -60px;
    left:215px;
    width:30px;
  }
}
.ol-draw-redo {
  left:195px;
  width:40px;
  text-indent:-5000px;
  background-position: -25px -25px;
  @include mq ($from: tablet) {
    background-position: -30px -30px;
    left:245px;
    width:30px;
  }
}
.ol-draw-delete {
  left: 155px;
  width:40px;
  text-indent:-5000px;
  background-position: -25px 5px;
  cursor:pointer;
  @include mq ($from: tablet) {
    background-position: -30px 0;
    left:215px;
    width:30px;
  }
}
.ol-draw-redo + .ol-draw-delete {
  left: 240px;
  @include mq ($from: tablet) {
    left:280px;
  }
}

.ol-full-screen:hover,
.ol-zoom-in:hover,
.ol-zoom-out:hover,
.ol-zoom-reset:hover,
.ol-full-screen:hover,
.ol-draw-delete:hover,
.ol-draw-shape:hover,
.ol-place-locator:hover,
.ol-draw-undo:hover,
.ol-draw-redo:hover {
  background-color:$govuk-focus-colour;
}

.ol-full-screen:disabled,
.ol-zoom-in:disabled,
.ol-zoom-out:disabled,
.ol-zoom-reset:disabled,
.ol-full-screen:disabled,
.ol-draw-delete:disabled,
.ol-draw-shape:disabled,
.ol-place-locator:disabled,
.ol-draw-undo:disabled,
.ol-draw-redo:disabled {
  background-color:$govuk-border-colour;
  cursor:default;
}

.ol-full-screen:focus,
.ol-zoom-in:focus,
.ol-zoom-out:focus,
.ol-zoom-reset:focus,
.ol-draw-delete:focus,
.ol-place-locator:focus,
.ol-draw-shape:focus,
.ol-draw-undo:focus,
.ol-draw-redo:focus {
  z-index:4;
  outline: 3px solid $govuk-focus-colour;
  outline-offset: 0;
}

// Openlayers specific

.ol-overlaycontainer-stopevent {
  position:absolute;
  bottom:0;
  width:100%;
  @include mq ($from: tablet) {
    position:static;
    bottom:auto;
    width:auto;
  }
}

//
// Outlook control
//

.map__outlook-control {
  display:block;
  position: absolute;
  bottom:10px;
  left:10px;
  right: 10px;
  z-index: 2;
  @include mq ($from: tablet) {
    right:auto;
  }
}
.map__outlook-control__inner {
  width:100%;
  font-size:0;
}
.map__outlook-control__day {
  padding:1px;
  display:inline-block;
  width:20%;
  box-sizing: border-box;
  @include mq ($from: tablet) {
    width:80px;
  }
}
.map__outlook-control__button {
  border:0px;
  position: relative;
  vertical-align: top;
  text-align:center;
  height:74px;
  width:100%;
  @include govuk-font($size: 16);
  color:$govuk-text-colour;
  line-height:1em;
  padding:0;
  border-radius: 0;
  cursor:pointer;
  background-color: #f8f8f8;
}
.map__outlook-control__button:focus {
  z-index:2;
  outline: 3px solid $govuk-focus-colour;
  outline-offset: 0;
  //border-color:transparent !important;
}
.map__outlook-control__button[aria-selected=true] {
  border-top: 4px solid $govuk-link-colour;
  font-weight:bold;
  background-color:white;
  height:78px;
  margin-top:-4px;
}
.map__outlook-control__icon {
  display:block;
  width:26px;
  height:32px;
  margin:3px auto auto auto;
  background-color: transparent;
  background-image: url('#{$govuk-images-path}icon-map-features-2x.png');
  background-color:transparent;
  background-position: -5000px;
  background-size: 400px;
  background-repeat: no-repeat;
}
.map__outlook-control__icon--risk-level-1 {
  background-position: -256px -203px;
}
.map__outlook-control__icon--risk-level-2 {
  background-position: -256px -303px;
}
.map__outlook-control__icon--risk-level-3 {
  background-position: -256px -353px;
}
.map__outlook-control__icon--risk-level-4 {
  background-position: -256px -403px;
}
.map__outlook-control__icon--risk-level-0 {
  background:none;
  width:50px;
  color:$govuk-text-colour;
  line-height:1.1em;
}
.map__outlook-control__icon--risk-level-0:after {
  content:'Very Low';
  font-weight: normal;
}

//
// Map caption/overlay
//

.ol-overlay {
  position:static !important; // Important needed to overide openlayers styling
  float:left;
  clear:both;
  background-color:white;
  width:100%;
  @include mq ($from: tablet) {
    position:absolute !important; // Important needed to overide openlayers styling
    left:10px;
    bottom:10px;
    width:auto;
    right:50px;
    max-width:360px;
    //margin-left:-125px;
    //margin-bottom:12px;
  }
}
.map--key-open .ol-overlay {
  display: none !important;
  @include mq ($from: tablet) {
    display: block !important;
    left:304px;;
    margin-left:10px;
  }
}
/*
.ol-overlay.ol-overlay-offset-buffer {
  @include mq ($from: tablet) {
    margin-bottom:18px;
  }
}
.ol-overlay.ol-overlay-offset-pin {
  @include mq ($from: tablet) {
    margin-bottom:50px;
  }
}
*/
.ol-overlay-inner {
  padding:15px;
  position:relative;
  @include govuk-font($size: 16);
  p {
    margin: 0;
    line-height:1.25em;
  }
  @include mq ($from: tablet) {
    position:relative;
    z-index: 1;
    //box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
  }
}
/*
.ol-overlay-inner:after {
  @include mq ($from: tablet) {
    content: '';
    position: absolute;
    z-index: 2;
    left:50%;
    margin-left:-10px;
    bottom:-10px;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    //-webkit-filter: drop-shadow(0px 1px 1px rgba(0,0,0,0.2));
    //filter: drop-shadow(0px 1px 1px rgba(0,0,0,0.2));
  }
}
.ol-overlay-inner:before {
  @include mq ($from: tablet) {
    content: '';
    position: absolute;
    z-index: 3;
    left:50%;
    margin-left:-15px;
    width:30px;
    height:5px;
    bottom:0px;
    background-color:white;
  }
}
*/

.ol-overlay__symbol {
  position:absolute;
  right:10px;
  top:10px;
  background-color: transparent;
  background-image: url('#{$govuk-images-path}icon-map-features-2x.png');
  background-color:transparent;
  background-position: -5000px;
  background-size: 400px;
  background-repeat: no-repeat;
}
// Target areas
.ol-overlay__symbol--severe {
  width:43px;
  height:43px;
  background-position:3px -453px;
}
.ol-overlay__symbol--warning {
  width:43px;
  height:43px;
  background-position:3px -503px;
}
.ol-overlay__symbol--alert {
  width:43px;
  height:43px;
  background-position:3px -553px;
}
.ol-overlay__symbol--removed {
  width:43px;
  height:43px;
  background-position:3px -653px;
}
/*
.ol-overlay__symbol--severe.ol-overlay__symbol--zoomin,
.ol-overlay__symbol--warning.ol-overlay__symbol--zoomin,
.ol-overlay__symbol--alert.ol-overlay__symbol--zoomin,
.ol-overlay__symbol--concern.ol-overlay__symbol--zoomin,
.ol-overlay__symbol--removed.ol-overlay__symbol--zoomin {
  width:30px;
  height:24px;
  background-position:-5000px;
  background-color:$govuk-focus-colour;
}
*/

// Levels
/*
.ol-overlay__symbol--above {
  width:33px;
  height:42px;
  background-position:3px -153px
} 
.ol-overlay__symbol--forecastAbove {
  width:33px;
  height:42px;
  background-position:3px -103px 
}
.ol-overlay__symbol--normal {
  width:33px;
  height:42px;
  background-position:3px -53px 
}
.ol-overlay__symbol--disabled {
  width:33px;
  height:42px;
  background-position:3px -3px
}  
*/ 

// Rainfall
.ol-overlay__symbol--none {
  width:33px;
  height:42px;
  background-position:3px -753px
}
.ol-overlay__symbol--hasRainfall {
  width:33px;
  height:42px;
  background-position:3px -803px
}
/*
.ol-overlay__symbol--high {
  width:33px;
  height:42px;
  background-position:3px -853px
}
*/

// River level navigation

.overlay-navigation-button {
  position:relative;
  display:block;
  z-index:2;
  @include govuk-font($size: 16);
  background:none!important;
  //color:inherit;
  color: $govuk-secondary-text-colour;
  border:none; 
  padding:0;
  margin:0;
  text-decoration: underline;
  cursor: pointer;
  padding-left:20px;
}
.overlay-navigation-button:hover {
  opacity: 0.75;
}
.overlay-navigation-button__icon {
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:14px;
}
.overlay-navigation-button--up {
  margin-bottom:10px;
}
.overlay-navigation-button--up-trib {
  margin-bottom:10px;
  .overlay-navigation-button__icon {
    top:2px;
    transform: rotate(90deg);
  }
}
.overlay-navigation-button--down {
  margin-top:10px;
  .overlay-navigation-button__icon {
    top:3px;
    transform: rotate(180deg);
  }
}


//
// Map search
//

.map-search {
  @include govuk-font($size: 16);
  position: absolute;
  z-index:2;
  left:10px;
  top:10px;
  right:10px;
  height:40px;
  max-width:28em;
  background-color:white;
  @include mq ($from: tablet) {
    width:20em;
  }
  //box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
}
.map--has-key-and-search .map-search {
  left:55px;
  @include mq ($from: tablet) {
    left:60px;
  }
}
.map-search-container {
  position:relative;
}
.map-search-label {
  position:absolute;
  left:0;
  top:0;
  height:40px;
  line-height:40px;
  padding-left:12px;
  color:$govuk-secondary-text-colour;
  z-index: 1;
}
.map-search-input-wrapper {
  display:table;
  margin:0;
  padding:0;
  width:100%;
  vertical-align: baseline;
}
input[type="search"].map-search-input {
  position:relative;
  vertical-align:top;
  display:table-cell;
  width:100%;
  margin:0;
  padding: 6px;
  height:40px;
  border:0;
  box-sizing: border-box;
}
input[type="search"].map-search-input::-webkit-search-decoration,
input[type="search"].map-search-input::-webkit-search-cancel-button,
input[type="search"].map-search-input::-webkit-search-results-button,
input[type="search"].map-search-input::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
.map-search-input:focus,
.map-search-input.map-search-input-has-value {
  z-index: 1;
}
.map-search-submit-wrapper {
  position:relative;
  vertical-align:top;
  display:table-cell;
  width:1%;
}
.map-search-submit {
  position:relative;
  border:0;
  text-indent:-5000px;
  padding:0;
  height:40px;
  width:40px;
  cursor: pointer;
  background-image: url('#{$govuk-images-path}icon-map-controls-2x.png');
  background-color: transparent;
  background-size:150%;
  background-position:5px -115px;
  background-repeat: no-repeat;
}

//
// Component - Map key
//

.map--key-open .map-key {
  @include mq ($until: tablet) {
    position:absolute;
    z-index:3;
    left:0;
    top:0px;
    bottom:0px;
    width:100%;
    max-width:252px;
  }
  @include mq ($from: tablet) {
    max-width:304px;
  }
  background-color:white;
}
.map-key__container {
  display:none;
  position:relative;
  margin-top: -1px;
  height:100%;
  z-index:2;
  background-color: #fff;
  border-top: 1px solid $govuk-border-colour;
  border-right: 1px solid $govuk-border-colour;
  border-bottom: 1px solid $govuk-border-colour;
}
.map--has-key {
  .map__container-inner  {
    @include mq ($from: tablet) {
      width: 66.6%;
    }
    @include mq ($from: desktop) {
      width:75%;
    }
  }
  .map-key__container  {
    @include mq ($from: tablet) {
      display:block;
      position:absolute;
      left:100%;
      width:50%;
    }
    @include mq ($from: desktop) {
      width:33.33%;
    }
  }
  .map-key__toggle {
    @include mq ($from: tablet) {
      display:none;
    }
  }
}
.map--has-key.map--fullscreen {
  .map__container-inner {
    @include mq ($from: tablet) {
      right:280px;
      width:auto;
    }
    border:0px;
  }
  .map-key__container  {
    @include mq ($from: tablet) {
      width:280px;
    }
    border:0px;
  }
}
.map--key-open .map-key__container {
  @include mq ($until: tablet) {
    display:block;
    border-left:1px solid $govuk-border-colour;
  }
}
.map-key__toggle {
  //@include govuk-font($size: 16);
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  position: absolute;
  z-index:3;
  left:52px;
  top:10px;
  text-align:left;
  border:0;
  color:white;
  cursor:pointer;
  -webkit-appearance:none;
  padding: 0 10px 0 35px;
  height:40px;
  width:74px;
  text-align:center;
  background-image: url('#{$govuk-images-path}icon-map-controls-2x.png');
  background-color:$govuk-link-colour;
  background-size:90px;
  background-position:5px -145px;
  background-repeat: no-repeat;
}
.map--key-open .map-key__toggle {
  @include mq ($until: tablet) {
    right: 10px;
    width: 40px;
    padding: 0;
    text-indent: -5000px;
    left: auto;
    background-color:white;
    color:$govuk-link-colour;
    background-position:5px -175px;
  }
}
.map-key__toggle:hover {
  background-color:$govuk-focus-colour;
}
.map-key__toggle:focus {
  outline: 3px solid $govuk-focus-colour;
  outline-offset: 0;
}

.map-key__heading {
  position:absolute;
  left:0;
  right:0;
  height:45px;
  z-index:2;
  padding-top:15px;
  padding-left:10px;
  padding-right:10px;
  @include mq ($from: tablet) {
    padding-left:15px;
    padding-right:15px;  
  }
  .map-key__title {
    @extend .govuk-heading-m;
    @include mq ($until: tablet) {
      display: none;
      // font-size:21px;
    }
    margin-top:6px;
    margin-bottom:0;
    @include mq ($from: tablet) {
      margin-top:2px;
    }
  }
}
.map--key-open .map-key__title {
  @include mq ($until: tablet) {
    padding-left:43px;
  }
}
.map-key__features {
  position:absolute;
  top:61px;
  bottom:0;
  left:0;
  right:0;
  padding:0;
  // @include mq ($from: tablet) {
  //   bottom:49px;
  // }
  overflow:hidden;
  overflow:auto;
}
.map-key__copyright {
  @include govuk-font($size: 14);
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  height:24px;
  padding-top:20px;
  padding-right:10px;
  padding-left:10px;
  @include mq ($from: tablet) {
    padding-top:15px;
    padding-right:15px;
    padding-left:15px;
    height:34px;
  }
}
// Features 
.map-key-features__section {
  border-top:1px solid $govuk-border-colour;
  padding:10px 0 10px 0;
  margin:0;
  list-style-type: none;
  @include mq ($from: tablet) {
    padding-top:12.5px;
    padding-bottom:12.5px;
  }
}
.map-key-features__item {
  @include govuk-font($size: 16);
  display:block;
  padding:0 15px;
}
.map-key-features__item:after {
  content: "";
  display: table;
  clear: both;
}
.map-key-features__subgroup {
  float:left;
  clear:left;
  padding-left:38px;
  list-style-type: none;
  @include mq ($from: tablet) {
    padding-left:40px;
  }
}
.map-key-features__subgroup-item {
  margin-bottom:7px;
  padding: 7px 10px 5px 0;
  @include govuk-font($size: 16);
  @include mq ($from: tablet) {
    margin-bottom:10px;
    padding: 5px 10px 4px 0;
  }
}
.map-key-features__item-static {
  @extend .map-key-features__subgroup-item;
  padding-left: 14px;
}
.map-key-features__item-inner {
  position:relative;
  display:block;
  margin-left:36px;
}
.map-key-features__item-nowrap {
  white-space: nowrap;
}

// Symbols
.key-symbol {
  position:absolute;
  top:0;
  left:0;
  width:30px;
  height:32px;
  margin-left:-37px;
  margin-top:-9px;
  @include mq ($from: tablet) {
    margin-top:-7px;
  }
  background-image: url('#{$govuk-images-path}icon-map-features-2x.png');
  background-color:transparent;
  background-position:0 0;
  background-size:400px;
  background-repeat: no-repeat;
  border:0;
}

// Smaller checkboxes and radio buttons
.govuk-checkboxes__item--map-key,
.govuk-radios__item--map-key {
  @extend .govuk-checkboxes__item;
  padding-left:28px;
  min-height:0;
  .govuk-checkboxes__input,
  .govuk-radios__input {
    width:28px;
    height:28px;
  }
  .govuk-checkboxes__label,
  .govuk-radios__label {
    padding: 7px 10px 5px 10px;
    @include govuk-font($size: 16);
    @include mq ($from: tablet) {
      padding: 5px 10px 4px 12px;
    }
  }
  .govuk-label__inner {
    position: relative;
    display: block;
    margin-left: 36px;
  }
  .govuk-checkboxes__input + .govuk-checkboxes__label::before,
  .govuk-radios__input + .govuk-radios__label::before {
    width: 28px;
    height: 28px;
  }
  .govuk-checkboxes__input + .govuk-checkboxes__label::after {
    top: 8px;
    left: 6px;
    width: 12px;
    height: 5px;
    border-width: 0 0 4px 4px;
  }
  .govuk-radios__input + .govuk-radios__label::after {
    border: 8px solid;
    top: 6px;
    left: 6px;
  }
  &:last-child, &:last-of-type {
    margin-top:7.5px;
    margin-bottom:7.5px;
  }
}

.govuk-button--progressive + .map {
  @include mq ($from: tablet) {
    display:none;
  }
}
.govuk-button--progressive.govuk-button--open + .map {
  @include mq ($from: tablet) {
    display:block;
  }
}

// Feature list
.map-feature-list button {
  position:absolute;
  display:block;
  width:1px;
  height:1px;
  left:0px;
}