.defra-search {
    position:relative;
    box-sizing:border-box;
    width:100%;
    padding-right:40px;
    @include govuk-responsive-margin(8, 'bottom');
    .defra-search__button {
        position:absolute;
        width: 40px;
        height: 40px;
        right:0px;
        bottom:0px;
        margin-bottom:0px;
        box-shadow:none;
        text-indent:-5000px;
        background-color:govuk-colour('blue');
    }
    .defra-search__button:after {
        position:absolute;
        content:'';
        width:20px;
        height:20px;
        top:50%;
        left:50%;
        margin:-10px 0px 0px -10px;
        background-image: url('#{$govuk-images-path}icon-search.svg');
        background-position: 0% 0%;
        background-size:40px 20px;
        background-repeat: no-repeat;
    }
    .defra-search__button:hover {
        background-color: govuk-colour('light-blue');
    }
    .defra-search__button:active {
        top: auto;
    }
}
.defra-search-summary {
    position:relative;
    border-bottom:1px solid govuk-colour('black');
    margin-bottom:10px;
    .defra-search-summary__count {
        @extend .govuk-body;
        @include govuk-responsive-margin(2, 'bottom');
    }
    .defra-search-summary__button-map {
        @extend .defra-button-map;
        position:absolute;
        right:0px;
        top:0px;
    }
}