.defra-search {
    position:relative;
    box-sizing:border-box;
    width:100%;
    padding-right:50px;
    .defra-search__input {
        height: 50px;
    }
    .defra-search__button {
        position:absolute;
        width: 50px;
        height: 50px;
        right:0px;
        bottom:0px;
        margin-bottom:0px;
        box-shadow:none;
        text-indent:-5000px;
        background-image: url('#{$govuk-images-path}icon-search-2x.png');
        background-position: -2px center;
        background-size:100px;
        background-repeat: no-repeat;
    }
    .defra-search__button:active {
        top: auto;
    }
}