.defra-search-link {
    position:relative;
    padding-left:36px;
    @include mq ($from: tablet) {
        padding-left:40px;
    }
    .defra-search-link__icon {
        position:absolute;
        left:0px;
        top:50%;
        margin-top:-16px;
        width:32px;
        height:32px;
        background: white url('#{$govuk-images-path}icon-search-2x.png') 0 0 no-repeat;
        background-size:30px;
        margin-right:0.25em;
    }
}