.defra-search {
    position:relative;
    box-sizing:border-box;
    width:100%;
    padding-right:50px;
    .defra-search__input {
        height: 50px;
    }
    .defra-search__button {
        position:absolute;
        width: 50px;
        height: 50px;
        right:0px;
        bottom:0px;
        margin-bottom:0px;
        box-shadow:none;
        text-indent:-5000px;
        background-image: url('#{$govuk-images-path}icon-search-2x.png');
        background-position: -2px center;
        background-size:100px;
        background-repeat: no-repeat;
    }
    .defra-search__button:active {
        top: auto;
    }
}
.defra-search-summary {
    position:relative;
    border-bottom:1px solid govuk-colour('black');
    .defra-search-summary__count {
        @extend .govuk-body;
        @include govuk-responsive-margin(2, 'bottom');
    }
    .defra-search-summary__button-map {
        @extend .defra-button-map;
        position:absolute;
        right:0px;
        top:0px;
    }
}
.defra-search-results__list {
    @extend .govuk-list;
    margin:0px;
    & > li {
        margin:0px;
    }
    & > li:last-child .defra-search-results__section {
        border-bottom:0px;
    }
}
.defra-search-results__section {
    @include govuk-responsive-padding(4, 'top');
    border-bottom:1px solid govuk-colour("grey-2");
}
.defra-search-results__section-list {
    @extend .govuk-list;
    @include govuk-responsive-margin(4, 'bottom');
    & > li {
        position:relative;
        padding-left:35px;
        margin-bottom:15px;
    }
    .defra-search-results__meta {
        @include govuk-font($size: 16);
        @include govuk-responsive-padding(1, 'top');
        margin:0px;
        dt {
            display: inline-block;
        }
        dt:after {
            content:':';
        }
        dd {
            display: inline;
            margin-left:0;
            margin-right:0.5em;
            white-space: nowrap;
        }
    }
    .defra-search-results__meta-pair:not(:first-child) {
        display: inline-block;
        white-space: nowrap;
        margin:0px;
    }
    .defra-search-results__icon {
        position:absolute;
        text-indent:-5000px;
        left:0px;
        top:0px;
        width:24px;
        height:24px;
        background-color:blue;
    }
}