/*
  Tabs
  Overide styling for link text
  ----------------------------------- */

/*
.js-enabled .govuk-tabs__tab:not([aria-selected="true"]) {
  @include mq($from: tablet) {
    text-decoration: underline;
    color: $govuk-link-colour;
  }
}
.js-enabled .govuk-tabs__tab:not([aria-selected="true"]):hover {
  color: $govuk-link-hover-colour;
}
.js-enabled .govuk-tabs__tab:not([aria-selected="true"]):visited {
  color: $govuk-link-visited-colour
}
*/
