.defra-warning-overview {
    overflow:auto;
    .defra-warning-overview__section {
        position:relative;
        border-bottom:1px solid $govuk-border-colour;
        padding:25px 0px;
    }
    .defra-warning-overview__section:first-child {
        padding-top:10px;
    }
    .defra-warning-overview__section-title {
        @extend .govuk-heading-m;
        position:relative;
        margin-bottom:0;
        padding-left:75px;
        @include mq ($from: tablet) {
            padding-left:85px;
        }
    }
    .defra-warning-overview__icon,
    .defra-warning-overview__icon--1 {
        position: absolute;
        width:60px;
        height:60px;
        left:0;
        top:50%;
        margin-top:-26px;
        background-image: url('#{$govuk-images-path}icon-flood-symbols-2x.png');
        background-color:transparent;
        background-size:240px;
        background-repeat: no-repeat;
        background-position:-65px -5px;
        @include mq ($from: tablet) {
            width:75px;
            height:75px;
            background-position:-163px -2px;
            margin-top:-39px;
        }
    }
    .defra-warning-overview__icon--warning,
    .defra-warning-overview__icon--2 {
        background-position:-65px -65px;
        @include mq ($from: tablet) {
            background-position:-163px -82px;
        }
    }
    .defra-warning-overview__icon--alert,
    .defra-warning-overview__icon--3 {
        background-position:-65px -125px;
        @include mq ($from: tablet) {
            background-position:-163px -162px;
        }
    }
    .defra-warning-overview__icon--removed,
    .defra-warning-overview__icon--4 {
        background-position:-65px -245px;
        @include mq ($from: tablet) {
            background-position:-163px -242px;
        }
    }
}