.defra-warning-flood {
    @extend .govuk-inset-text;
    position:relative;
    display: table;
    padding:0px;
    margin-top:0px;
    .defra-warning-flood__text {
        display: table-cell;
        vertical-align: middle;
        width:100%;
        padding:15px 0px;
        @include govuk-font($size: 19);
        strong {
            @include govuk-font($size: 24, $weight: bold);
            display: block;
        }
        @include mq ($from: tablet) {
            padding:20px 0px;
        }
    }
    .defra-warning-flood__icon {
        display: table-cell;
        vertical-align: middle;
        padding:7.5px;
        @include mq ($from: tablet) {
            padding:10px 12.5px;
        }
    }
    .defra-warning-flood__icon:after {
        display: block;
        content:'';
        background: transparent url('#{$govuk-images-path}icon-flood-symbols.svg') no-repeat;
        background-size: 80px 200px;
        width: 40px;
        height: 40px;
        @include mq ($from: tablet) {
            background-size: 100px 250px;
            width: 50px;
            height: 50px;
        }
    }
    &--hover {
        // opacity:0.85;
        cursor: pointer;
        a {
            @extend a:hover;
        }
    }
}
.defra-warning-flood--severe-flood-warning {
    @extend .defra-warning-flood;
    background-color: #e3000f;
    border-color:#e3000f;
    color:white;
    a {
        color:white;
    }
    .defra-warning-flood__icon:after {
        background-position: 100% 0%;
    }
    &:before {
        content:'';
        position:absolute;
        top:0px;
        bottom:0px;
        width:1px;
        left:0px;
        background-color: mix(white, #e3000f, 40%);
    }
}
.defra-warning-flood--flood-warning {
    @extend .defra-warning-flood;
    background-color: mix(white, #e3000f, 80%);
    border-color:#e3000f;
    .defra-warning-flood__icon:after {
        background-position: 100% 25%;
    }
}
.defra-warning-flood--flood-alert {
    @extend .defra-warning-flood;
    background-color: mix(white, #f18700, 80%);
    border-color:#f18700;
    .defra-warning-flood__icon:after {
        background-position: 100% 50%;
    }
}
.defra-warning-flood--warning-removed {
    @extend .defra-warning-flood;
    background-color:govuk-colour('grey-3');
    .defra-warning-flood__icon:after {
        background-position: 100% 75%;
    }
}