.defra-warning-overview {
    //border-top:1px solid $govuk-border-colour;
    overflow:auto;
    .defra-warning-overview__section {
        position:relative;
        padding-top:7px;
        padding-left:58px;
        margin-bottom:15px;
        @include mq ($from: tablet) {
            float:left;
            padding:0;
            margin-right:30px;
        }
    }
    .defra-warning-overview__section-title {
        @extend .govuk-body;
        margin-bottom:0;
    }
    .defra-warning-overview__icon,
    .defra-warning-overview__icon--1 {
        position: absolute;
        width:50px;
        height:50px;
        left:0;
        top:0;
        background-image: url('#{$govuk-images-path}icon-flood-symbols-2x.png');
        background-color:transparent;
        background-size:180px;
        background-repeat: no-repeat;
        background-position:-65px -5px;
        @include mq ($from: tablet) {
            width:60px;
            height:60px;
            background-position:-120px -0px;
            position: relative;
            display: block;
            margin-bottom:5px;
        }
    }
    .defra-warning-overview__icon--warning,
    .defra-warning-overview__icon--2 {
        background-position:-65px -65px;
        @include mq ($from: tablet) {
            background-position:-120px -60px;
        }
    }
    .defra-warning-overview__icon--alert,
    .defra-warning-overview__icon--3 {
        background-position:-65px -125px;
        @include mq ($from: tablet) {
            background-position:-120px -120px;
        }
    }
    .defra-warning-overview__icon--removed,
    .defra-warning-overview__icon--4 {
        background-position:-65px -245px;
        @include mq ($from: tablet) {
            background-position:-120px -240px;
        }
    }
}