{% if model.numFeatures > 9 %}
<p>{{ model.numFeatures }} flood risk areas in the current map area. To list these zoom in to nine or fewer.</p>
{% elif model.numFeatures >= 1 %}
<p>{{ model.numFeatures }} flood risk area{% if model.numFeatures > 1 %}s{% endif %} in the current map area. Use number keys to select.</p>
<p>{% for feature in model.features %}{{ loop.index }}: {{ feature.name }}, {{ feature.riskLevel }}{% if not loop.last %}; {% endif %}{% endfor %}</p>
{% else %}
<p>No flood risk areas in the current map area.</p>
{% endif %}