<!--
<h2 class="govuk-body govuk-!-margin-bottom-1">Flood warning</h2>
<p class="govuk-body-s govuk-!-margin-bottom-1">
    <strong><a class="defra-map-info__link" href="/target-area/{{name}}">Areas near the Wootton Brook in the Collingtree, Merefield and Shelfleys parts of Northampton</a></strong>
</p>
-->

<h2 class="govuk-body govuk-!-margin-bottom-1">River level</h2>
<p class="govuk-body-s govuk-!-margin-bottom-2">
    <strong><a class="defra-map-info__link" href="">Linstock, River Eden</a></strong></br>
    0.14m at 5:30 today
</p>
<p class="govuk-body-s govuk-!-margin-bottom-1">
    <button class="defra-map-info__button defra-map-info__button--up govuk-!-margin-right-2">Upstream</button><button class="defra-map-info__button defra-map-info__button--down">Downstream</button>
</p>

<!--
<h2 class="govuk-body govuk-!-margin-bottom-1">Past flooding</h2>
<p class="govuk-body-s govuk-!-margin-bottom-1">
    <strong>Flooding to A595 at Bothel</a>
</p>
-->

<!--
<h2 class="govuk-body govuk-!-margin-bottom-1">Rainfall</h2>
<p class="govuk-body-s govuk-!-margin-bottom-1">
    <strong><a class="defra-map-info__link" href="">View measurments at grid ref SD653529</a></strong>
</p>
-->

