<!-- Warnings/target areas -->
{% if model.ta_name %}
<div id="infoDescription">
    <strong class="defra-map-info__name defra-map-info__name--emphasis">
        {% if model.severity_value  %}
            {% if model.severity_value === 3 %}
            Severe flood warning
            {% elif model.severity_value === 2 %}
            Flood warning
            {% elif model.severity_value === 1 %}
            Flood alert
            {% else %}
                {% if model.ta_code.charAt(4).toLowerCase() === 'w' %}
                Flood warning removed
                {% else %}
                Flood alert removed
                {% endif %}
            {% endif %}
        {% elif model.ta_code.charAt(4).toLowerCase() === 'w' %}
        Flood warning (inactive)
        {% else %}
        Flood alert (inactive)
        {% endif %}
    </strong>
    <p class="defra-map-info__description">
        <a href="/target-area/{{ model.id }}">{{ model.ta_name }}</a>
    </p>
</div>
<!-- River, sea and groundwater levels -->
{% elif model.type === 'S' or model.type === 'M' or model.type === 'G' or model.type === 'C' %}
<div id="infoDescription">
    <strong class="defra-map-info__name">
        <a data-journey-click="Map:Map interaction:Map - Open station from tooltip" href="/station/{{ model.id }}">
            {% if model.type === 'C' and model.river_name !== 'Sea Levels' %}{{model.river_name}}{%elif model.type === 'C'%}Sea Level{% elif model.type === 'G' %}Groundwater{% else %}{{ model.river }}{% endif %} at
            {{ model.name }}
            {% if model.iswales %} (Natural Resources Wales){% endif %}
        </a>
    </strong>
    {% if model.status === 'Closed' or model.status === 'Suspended' %}
    <p class="defra-map-info__error">
        Closed or temporarily out of service
    </p>
    {% elif model.value === null or model.value === undefined %}
    <p class="defra-map-info__error">
        Data not available
    </p>
    {% else %}
    <dl class="defra-flood-data-list">
        <div class="defra-flood-data-list__column">
            <dt class="govuk-visually-hidden">Height</dt>
            <dd>
                <span class="defra-flood-data-list__description">Height</span>
                <span class="defra-flood-data-list__value">
                    {% if model.type != 'C' and model.value < 0 %}
                        0.00
                    {% else %}
                        {{ (model.value).toFixed(2) }}m
                    {% endif %}
                </span>
            </dd>
        </div>
        {% if model.value and model.type !== 'R' and model.status !== 'Closed' and model.status !== 'Suspended' %}
        <div class="defra-flood-data-list__column">
            <dt class="govuk-visually-hidden">Trend</dt>
            <dd>
                <span class="defra-flood-data-list__description">Trend</span>
                <span class="defra-flood-data-list__value">
                    {% if model.trend %}
                    {{ model.trend | capitalize }}
                    {% else %}
                    n/a
                    {% endif %}
                </span>
            </dd>
        </div>
        {% endif %}
        {% if model.value and model.type !== 'C' and model.status !== 'Closed' and model.status !== 'Suspended' %}
        <div class="defra-flood-data-list__column">
            <dt class="govuk-visually-hidden">State</dt>
            <dd>
                <span class="defra-flood-data-list__description">State</span>
                <span class="defra-flood-data-list__value">
                    {% if model.atrisk %}
                    High
                    {% elif model.value < model.percentile_95 %}
                    Low
                    {% else %}
                    Normal
                    {% endif %}
                </span>
            </dd>
        </div>
        {% endif %}
    {% endif %}
    </dl>
    {% if model.status !== 'Closed' and model.status !== 'Suspended' and model.value %}
    <p class="defra-map-info__meta">Latest at {{ model.date }}</p>
    {% endif %}
    {% if model.up or model.down or model.type === 'M' %}
    <div class="defra-map-info__buttons">
        {% if model.up or (model.type === 'M' and model.direction === 'd') %}
        <button id="btn-upstream-nav" class="defra-button-secondary" data-id="{% if model.type === 'M' and model.direction === 'd' %}stations.{{ model.base_rloi_id }}{% else %}stations.{{ model.up }}{% if model.up_station_type === 'M' %}/downstream{% endif %}{% endif %}" aria-controls="viewport infoDescription">
                <span class="defra-button-secondary__icon">
                    <svg focusable="false" aria-hidden="true" width="16" height="16" viewBox="0 0 16 16"><path d="M8,6.4l0,9.6" style="fill:none;stroke:currentColor;stroke-width:2px;"></path><path d="M8,0l4,6.4l-8,0l4,-6.4Z" style="fill:currentColor"></path></svg>
                </span>
            <span class="govuk-visually-hidden">Select next</span> Upstream  <span class="govuk-visually-hidden">measurement</span>
        </button>
        {% endif %}
        {% if model.down or (model.type === 'M' and model.direction === 'u') %}
        <button id="btn-downstream-nav" class="defra-button-secondary" data-id="{% if model.type === 'M' and model.direction === 'u' %}stations.{{ model.base_rloi_id }}/downstream{% else %}stations.{{ model.down }}{% endif %}" aria-controls="viewport infoDescription">
                <span class="defra-button-secondary__icon">
                    <svg focusable="false" aria-hidden="true" width="16" height="16" viewBox="0 0 16 16"><path d="M8,9.6l-0,-9.6" style="fill:none;stroke:currentColor;stroke-width:2px;"/><path d="M8,16l-4,-6.4l8,0l-4,6.4Z" style="fill:currentColor"/></svg>
                </span>
            <span class="govuk-visually-hidden">Select next</span> Downstream <span class="govuk-visually-hidden">measurement</span>
        </button>
        {% endif %}
    </div>
    {% endif %}
</div>
<!-- Rainfall levels -->
{% elif model.type === 'R' %}
<div id="infoDescription">
    <strong class="defra-map-info__name">
        <a href="/rainfall-station/{{ model.id }}">Rainfall at {{ model.name }}</a>
    </strong>
    {% if model.status === 'Closed' or model.status === 'Suspended' %}
    <p class="defra-map-info__error">
        Closed or temporarily out of service
    </p>
    {% elif model.isError %}
    <p class="defra-map-info__error">
        Data not available
    </p>
    {% else %}
    <dl class="defra-flood-data-list">
        <div class="defra-flood-data-list__column">
            <dt class="govuk-visually-hidden">Intensity</dt>
            <dd>
                <span class="defra-flood-data-list__description">1 hour</span>
                <span class="defra-flood-data-list__value">{{ model.one_hr_total }}mm</span>
            </dd>
        </div>
        <div class="defra-flood-data-list__column">
            <dt class="govuk-visually-hidden">last 6 hrs</dt>
            <dd>
                <span class="defra-flood-data-list__description" aria-hidden="true"> 6 hours</span>
                <span class="defra-flood-data-list__value">{{ model.six_hr_total }}mm</span>
            </dd>
        </div>
        <div class="defra-flood-data-list__column">
            <dt class="govuk-visually-hidden">last 24 hrs</dt>
            <dd>
                <span class="defra-flood-data-list__description" aria-hidden="true">24 hours</span>
                <span class="defra-flood-data-list__value">{{ model.day_total }}mm</span>
            </dd>
        </div>
    </dl>
    {% endif %}
    <p class="defra-map-info__meta">{{ model.date }}</p>
</div>
{% endif %}
