<div class="defra-map-key__section">
  <span class="defra-map-key__section-title">Forecast flood risk areas</span>
  <div class="defra-map-key__item">
    <div class="govuk-checkboxes govuk-checkboxes--small">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="vl" name="vl" type="checkbox" value="vl" aria-controls="viewport" data-risk-level="1" checked>
        <label class="govuk-label govuk-checkboxes__label" for="vl">
          <span class="defra-map-key__symbol-container">
            <span class="defra-map-key__symbol defra-map-key__symbol--very-low"></span>
            Very low risk
          </span>
        </label>
      </div>
    </div>
  </div>
  <div class="defra-map-key__item">
    <div class="govuk-checkboxes govuk-checkboxes--small">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="l" name="l" type="checkbox" value="l" aria-controls="viewport" data-risk-level="2" checked>
        <label class="govuk-label govuk-checkboxes__label" for="l">
          <span class="defra-map-key__symbol-container">
            <span class="defra-map-key__symbol defra-map-key__symbol--low"></span>
            Low risk
          </span>
        </label>
      </div>
    </div>
  </div>
  <div class="defra-map-key__item">
    <div class="govuk-checkboxes govuk-checkboxes--small">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="m" name="m" type="checkbox" value="m" aria-controls="viewport" data-risk-level="3" checked>
        <label class="govuk-label govuk-checkboxes__label" for="m">
          <span class="defra-map-key__symbol-container">
            <span class="defra-map-key__symbol defra-map-key__symbol--medium"></span>
            Medium risk
          </span>
        </label>
      </div>
    </div>
  </div>
  <div class="defra-map-key__item">
    <div class="govuk-checkboxes govuk-checkboxes--small">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="h" name="h" type="checkbox" value="h" aria-controls="viewport" data-risk-level="4" checked>
        <label class="govuk-label govuk-checkboxes__label" for="h">
          <span class="defra-map-key__symbol-container">
            <span class="defra-map-key__symbol defra-map-key__symbol--severe defra-map-key__symbol--big"></span>
            High risk
          </span>
        </label>
      </div>
    </div>
  </div>
</div>

