<div class="defra-map-key__section">
  <span class="defra-map-key__section-title">Base map</span>
  <ul>
    <li class="defra-map-key__item">
      <div class="govuk-radios govuk-radios--small">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="mv" name="baseLayer" type="radio" value="mv">
          <label class="govuk-label govuk-radios__label" for="mv">
            <span class="defra-map-key__symbol-container">
              <span class="defra-map-key__symbol defra-map-key__symbol--map"></span>
                Default view
            </span>
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="sv" name="baseLayer"
            type="radio" value="sv">
          <label class="govuk-label govuk-radios__label" for="sv">
            <span class="defra-map-key__symbol-container">
              <span class="defra-map-key__symbol defra-map-key__symbol--satellite"></span>
                Satellite view
            </span>
          </label>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="defra-map-key__section">
  <span class="defra-map-key__section-title">Flood warnings and alerts</span>
  <ul>
    <li class="defra-map-key__item">
      <div class="govuk-checkboxes govuk-checkboxes--small">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="ts" name="ts" type="checkbox" value="ts">
          <label class="govuk-label govuk-checkboxes__label" for="ts">
            <span class="defra-map-key__symbol-container">
              <span class="defra-map-key__symbol defra-map-key__symbol--severe"></span>
                Severe flood warning
            </span>
          </label>
        </div>
      </div>
    </li>
    <li class="defra-map-key__item">
      <div class="govuk-checkboxes govuk-checkboxes--small">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="tw" name="tw" type="checkbox" value="tw">
          <label class="govuk-label govuk-checkboxes__label" for="tw">
            <span class="defra-map-key__symbol-container">
              <span class="defra-map-key__symbol defra-map-key__symbol--warning"></span>
                Flood warning
            </span>
          </label>
        </div>
      </div>
    </li>
    <li class="defra-map-key__item">
      <div class="govuk-checkboxes govuk-checkboxes--small">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="ta" name="ta" type="checkbox" value="ta">
          <label class="govuk-label govuk-checkboxes__label" for="ta">
            <span class="defra-map-key__symbol-container">
              <span class="defra-map-key__symbol defra-map-key__symbol--alert"></span>
                Flood alert
            </span>
          </label>
        </div>
      </div>
    </li>
  </ul>
</div>
<!--
<div class="defra-map-key__section">
  <span class="defra-map-key__section-title">Past flooding</span>
  <ul>
    <li class="defra-map-key__item">
      <div class="govuk-checkboxes govuk-checkboxes--small">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="hi" name="hi" type="checkbox" value="hi">
          <label class="govuk-label govuk-checkboxes__label" for="hi">
            <span class="defra-map-key__symbol-container">
              <span class="defra-map-key__symbol defra-map-key__symbol--impact">Symbol</span>
              Past flooding
            </span>
          </label>
        </div>
      </div>
    </li>
  </ul>
</div>
-->
<div class="defra-map-key__section">
  <span class="defra-map-key__section-title">Measurements</span>
  <ul>
    <li class="defra-map-key__item">
      <div class="govuk-checkboxes govuk-checkboxes--small">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="st" name="st" type="checkbox" value="st">
          <label class="govuk-label govuk-checkboxes__label" for="st">
            <span class="defra-map-key__symbol-container">
              <span class="defra-map-key__symbol defra-map-key__symbol--station">Symbol</span>
              River or sea level
            </span>
          </label>
        </div>
      </div>
    </li>
    <li class="defra-map-key__item">
      <div class="govuk-checkboxes govuk-checkboxes--small">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="sh" name="sh" type="checkbox" value="sh">
          <label class="govuk-label govuk-checkboxes__label" for="sh">
            <span class="defra-map-key__symbol-container">
              <span class="defra-map-key__symbol defra-map-key__symbol--high">Symbol</span>
              River level (high)
            </span>
          </label>
        </div>
      </div>
    </li>
    <!--
    <li class="defra-map-key__item">
      <div class="govuk-checkboxes govuk-checkboxes--small">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="rf" name="rf" type="checkbox" value="rf">
          <label class="govuk-label govuk-checkboxes__label" for="rf">
            <span class="defra-map-key__symbol-container">
              <span class="defra-map-key__symbol defra-map-key__symbol--rainfall">Symbol</span>
              Rainfall
            </span>
          </label>
        </div>
      </div>
    </li>
    -->
  </ul>
</div>