<div class="defra-map-key__section">
  <span class="defra-map-key__section-title">Forecast flood risk areas</span>
  <div class="defra-map-key__item">
    <div class="govuk-checkboxes govuk-checkboxes--small">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="vl" name="vl" type="checkbox" value="vl" aria-controls="viewport" data-risk-level="1" checked>
        <label class="govuk-label govuk-checkboxes__label" for="vl">
          <span class="defra-map-key__symbol-container">
            <span class="defra-map-key__symbol">
              <svg aria-hidden="true" focusable="false" width="32" height="32" viewBox="0 0 32 32"><rect x="5" y="5" width="22" height="22" style="fill:#85994b;stroke:#85994b;stroke-width:1px;"/></svg>
            </span>
            Very low risk
          </span>
        </label>
      </div>
    </div>
  </div>
  <div class="defra-map-key__item">
    <div class="govuk-checkboxes govuk-checkboxes--small">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="l" name="l" type="checkbox" value="l" aria-controls="viewport" data-risk-level="2" checked>
        <label class="govuk-label govuk-checkboxes__label" for="l">
          <span class="defra-map-key__symbol-container">
            <span class="defra-map-key__symbol">
              <svg aria-hidden="true" focusable="false" width="32" height="32" viewBox="0 0 32 32"><rect x="5" y="5" width="22" height="22" style="fill:rgb(255,221,0);stroke:rgb(255,221,0);stroke-width:1px;"/></svg>
            </span>
            Low risk
          </span>
        </label>
      </div>
    </div>
  </div>
  <div class="defra-map-key__item">
    <div class="govuk-checkboxes govuk-checkboxes--small">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="m" name="m" type="checkbox" value="m" aria-controls="viewport" data-risk-level="3" checked>
        <label class="govuk-label govuk-checkboxes__label" for="m">
          <span class="defra-map-key__symbol-container">
            <span class="defra-map-key__symbol">
              <svg aria-hidden="true" focusable="false" width="32" height="32" viewBox="0 0 32 32" style="fill-rule:evenodd;clip-rule:evenodd;"><rect x="5" y="5" width="22" height="22" style="fill:#F47738;stroke:#F47738;stroke-width:1px;"/></svg>
            </span>
            Medium risk
          </span>
        </label>
      </div>
    </div>
  </div>
  <div class="defra-map-key__item">
    <div class="govuk-checkboxes govuk-checkboxes--small">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="h" name="h" type="checkbox" value="h" aria-controls="viewport" data-risk-level="4" checked>
        <label class="govuk-label govuk-checkboxes__label" for="h">
          <span class="defra-map-key__symbol-container">
            <span class="defra-map-key__symbol">
              <svg aria-hidden="true" focusable="false" width="32" height="32" viewBox="0 0 32 32" style="fill-rule:evenodd;clip-rule:evenodd;"><rect x="5" y="5" width="22" height="22" style="fill:#d4351c;stroke:#d4351c;stroke-width:1px;"/></svg>
            </span>
            High risk
          </span>
        </label>
      </div>
    </div>
  </div>
</div>
