<fieldset class="defra-map-key__section">
  <legend class="defra-map-key__section-title">Base map</legend>
  <div class="defra-map-key__item">
    <div class="govuk-radios govuk-radios--small">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="mv" name="baseLayer" type="radio" value="mv" aria-controls="viewport">
        <label class="govuk-label govuk-radios__label" for="mv">
          <span class="defra-map-key__symbol-container">
            <span class="defra-map-key__symbol defra-map-key__symbol--map"></span>
              Default view
          </span>
        </label>
      </div>
      <div class="govuk-radios__item">
        <input data-journey-click="{{data.aerial}}" class="govuk-radios__input" id="sv" name="baseLayer" type="radio" value="sv" aria-controls="viewport">
        <label class="govuk-label govuk-radios__label" for="sv">
          <span class="defra-map-key__symbol-container">
            <span class="defra-map-key__symbol defra-map-key__symbol--satellite"></span>
              Satellite view
          </span>
        </label>
      </div>
    </div>
  </div>
</fieldset>
<fieldset class="defra-map-key__section">
  <legend class="defra-map-key__section-title">Flood warnings and alerts</legend>
  <div class="defra-map-key__item">
    <div class="govuk-checkboxes govuk-checkboxes--small">
      <div class="govuk-checkboxes__item">
        <input data-journey-click="{{data.checkBox}}" class="govuk-checkboxes__input" id="ts" name="ts" type="checkbox" value="ts" aria-controls="viewport">
        <label class="govuk-label govuk-checkboxes__label" for="ts">
          <span class="defra-map-key__symbol-container">
            <span class="defra-map-key__symbol defra-map-key__symbol--severe"></span>
              Severe flood warning
          </span>
        </label>
      </div>
    </div>
  </div>
  <div class="defra-map-key__item">
    <div class="govuk-checkboxes govuk-checkboxes--small">
      <div class="govuk-checkboxes__item">
        <input data-journey-click="{{data.checkBox}}" class="govuk-checkboxes__input" id="tw" name="tw" type="checkbox" value="tw" aria-controls="viewport">
        <label class="govuk-label govuk-checkboxes__label" for="tw">
          <span class="defra-map-key__symbol-container">
            <span class="defra-map-key__symbol defra-map-key__symbol--warning"></span>
              Flood warning
          </span>
        </label>
      </div>
    </div>
  </div>
  <div class="defra-map-key__item">
    <div class="govuk-checkboxes govuk-checkboxes--small">
      <div class="govuk-checkboxes__item">
        <input data-journey-click="{{data.checkBox}}" class="govuk-checkboxes__input" id="ta" name="ta" type="checkbox" value="ta" aria-controls="viewport">
        <label class="govuk-label govuk-checkboxes__label" for="ta">
          <span class="defra-map-key__symbol-container">
            <span class="defra-map-key__symbol defra-map-key__symbol--alert"></span>
              Flood alert
          </span>
        </label>
      </div>
    </div>
  </div>
</fieldset>
<fieldset class="defra-map-key__section">
  <legend class="defra-map-key__section-title">Measurements</legend>
  <div class="defra-map-key__item">
    <div class="govuk-checkboxes govuk-checkboxes--small">
      <div class="govuk-checkboxes__item">
        <input data-journey-click="{{data.checkBox}}" class="govuk-checkboxes__input" id="ri" name="ri" type="checkbox" value="ri" aria-controls="viewport">
        <label class="govuk-label govuk-checkboxes__label" for="ri">
          <span class="defra-map-key__symbol-container">
            <span class="defra-map-key__symbol defra-map-key__symbol--river"></span>
            River level
          </span>
        </label>
      </div>
    </div>
  </div>
  <div class="defra-map-key__item">
    <div class="govuk-checkboxes govuk-checkboxes--small">
      <div class="govuk-checkboxes__item">
        <input data-journey-click="{{data.checkBox}}" class="govuk-checkboxes__input" id="ti" name="ti" type="checkbox" value="ti" aria-controls="viewport">
        <label class="govuk-label govuk-checkboxes__label" for="ti">
          <span class="defra-map-key__symbol-container">
            <span class="defra-map-key__symbol defra-map-key__symbol--tide"></span>
            Tide level
          </span>
        </label>
      </div>
    </div>
  </div>
  <div class="defra-map-key__item">
    <div class="govuk-checkboxes govuk-checkboxes--small">
      <div class="govuk-checkboxes__item">
        <input data-journey-click="{{data.checkBox}}" class="govuk-checkboxes__input" id="gr" name="gr" type="checkbox" value="gr" aria-controls="viewport">
        <label class="govuk-label govuk-checkboxes__label" for="gr">
          <span class="defra-map-key__symbol-container">
            <span class="defra-map-key__symbol defra-map-key__symbol--ground"></span>
            Groundwater level
          </span>
        </label>
      </div>
    </div>
  </div>
  <div class="defra-map-key__item">
    <div class="govuk-checkboxes govuk-checkboxes--small">
      <div class="govuk-checkboxes__item">
        <input data-journey-click="{{data.checkBox}}" class="govuk-checkboxes__input" id="rf" name="rf" type="checkbox" value="rf" aria-controls="viewport">
        <label class="govuk-label govuk-checkboxes__label" for="rf">
          <span class="defra-map-key__symbol-container">
            <span class="defra-map-key__symbol defra-map-key__symbol--rainfall"></span>
            Rainfall
          </span>
        </label>
      </div>
    </div>
  </div>
</fieldset>
