// Secondary start button
.defra-button-start {
    @extend .govuk-button;
    @extend .govuk-button--secondary;
    &:after {
        content: '';
        display: inline-block;
        position:relative;
        margin-left:5px;
        vertical-align: middle;
        top:-1px;
        width:13px;
        height:15px;
        background: transparent;
        background-image: svg-url('<svg width="13" height="15" viewBox="0 0 13 15" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M0.325,0l4.875,0l7.5,7.5l-7.5,7.5l-4.875,0l7.5,-7.5l-7.5,-7.5Z" style="fill-rule:nonzero;"/></svg>');
        background-color:transparent;
        background-size:13px 15px;
        background-repeat: no-repeat;
        background-position: top left;
    }
}

// Text button
.defra-button-text {
    @extend .govuk-body;
    margin:0px;
    color:$govuk-link-colour;
    background-color: transparent;
    border:0px;
    text-align:left;
    text-decoration: underline;
    padding:0;
    border-radius: 0;
    cursor:pointer;
    &:focus {
        outline:3px solid transparent;
        background-color: $govuk-focus-colour;
        color: $govuk-text-colour;
        box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
        text-decoration: none;
    }
    &:active {
        color: $govuk-text-colour !important;
    }
    &:hover {
        color:$govuk-link-hover-colour;
    }
    &-s {
        @extend .defra-button-text;
        @extend .govuk-body-s;
    }
}

// Map button
.defra-button-map {
    @extend .defra-button-text;
    position:relative;
    display:inline-block;
    padding-left:20px;
    &::-moz-focus-inner {
        border: 0;
    }
    &:focus[keyboard-focus] {
        outline:3px solid transparent;
        background-color: $govuk-focus-colour;
        color: $govuk-text-colour;
        box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
        text-decoration: none;
    }
    &:focus:not([keyboard-focus]) {
        outline:none;
        background-color: transparent;
        box-shadow: none;
        text-decoration: underline;
        color: $govuk-link-colour;
    }
    &:hover:not([keyboard-focus]) {
        color: $govuk-link-hover-colour;
    }
    &:active:not([keyboard-focus]) {
        outline:none;
        background-color: transparent;
        box-shadow: none;
        text-decoration: underline;
        color: $govuk-text-colour;
    }
    &:before {
        content: "";
        position: absolute;
        top:0px;
        left:0px;
        background-image: svg-url('<svg width="15" height="20" viewBox="0 0 15 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M15,7.5c0.009,3.778 -4.229,9.665 -7.5,12.5c-3.271,-2.835 -7.509,-8.722 -7.5,-12.5c0,-4.142 3.358,-7.5 7.5,-7.5c4.142,0 7.5,3.358 7.5,7.5Zm-7.5,5.461c3.016,0 5.461,-2.445 5.461,-5.461c0,-3.016 -2.445,-5.461 -5.461,-5.461c-3.016,0 -5.461,2.445 -5.461,5.461c0,3.016 2.445,5.461 5.461,5.461Z" fill="#0b0c0c"/></svg>');
        background-color:transparent;
        background-size:15px 20px;
        background-repeat: no-repeat;
        background-position: top left;
        height:20px;
        width:15px;
        @include mq ($from: tablet) {
            top: 3px;
        }
    }
    &:hover:before {
        background-image: svg-url('<svg width="15" height="20" viewBox="0 0 15 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M15,7.5c0.009,3.778 -4.229,9.665 -7.5,12.5c-3.271,-2.835 -7.509,-8.722 -7.5,-12.5c0,-4.142 3.358,-7.5 7.5,-7.5c4.142,0 7.5,3.358 7.5,7.5Zm-7.5,5.461c3.016,0 5.461,-2.445 5.461,-5.461c0,-3.016 -2.445,-5.461 -5.461,-5.461c-3.016,0 -5.461,2.445 -5.461,5.461c0,3.016 2.445,5.461 5.461,5.461Z" fill="#003078"/></svg>');
    }
    &:focus[keyboard-focus]:before,
    &:active:before {
        background-image: svg-url('<svg width="15" height="20" viewBox="0 0 15 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M15,7.5c0.009,3.778 -4.229,9.665 -7.5,12.5c-3.271,-2.835 -7.509,-8.722 -7.5,-12.5c0,-4.142 3.358,-7.5 7.5,-7.5c4.142,0 7.5,3.358 7.5,7.5Zm-7.5,5.461c3.016,0 5.461,-2.445 5.461,-5.461c0,-3.016 -2.445,-5.461 -5.461,-5.461c-3.016,0 -5.461,2.445 -5.461,5.461c0,3.016 2.445,5.461 5.461,5.461Z" fill="#0b0c0c"/></svg>');
    }
    &-s {
        @extend .defra-button-map;
        text-decoration: none;
        color: $govuk-text-colour;
        @include mq ($until: tablet) {
            padding-left:17px;
        }
        @include govuk-font($size: 16);
    }
    &-s:before {
        @include mq ($until: tablet) {
            top:0px;
            background-size:12px 16px;
            height:16px;
            width:12px;
        }
        @include mq ($from: tablet) {
            top: -1px;
        }
    }
    &-s span {
        display: inline-block;
        border-bottom:1px solid $govuk-text-colour;
    }
    &-s:focus {
        color: $govuk-text-colour;
    }
    &-s:focus:not([keyboard-focus]) {
        color: $govuk-text-colour;
    }
    &-s:focus[keyboard-focus] span {
        border-color:transparent;
    }
    &-s:hover:not([keyboard-focus]) {
        color: $govuk-link-hover-colour;
    }
    &-s:hover:not([keyboard-focus]) span {
        border-color: $govuk-link-hover-colour;
    }
    &-s:active:not([keyboard-focus]) {
        color: $govuk-text-colour;
    }
    &-s:active:not([keyboard-focus]) span {
        border-color: $govuk-text-colour;
    }
}
