// Secondary start button
.defra-button-start {
    @extend .govuk-button;
    @extend .govuk-button--secondary;
    &:after {
        content: '';
        display: inline-block;
        position:relative;
        margin-left:5px;
        vertical-align: middle;
        top:-1px;
        width:13px;
        height:15px;
        background-image: svg-url('<svg width="13" height="15" viewBox="0 0 13 15" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M0.325,0l4.875,0l7.5,7.5l-7.5,7.5l-4.875,0l7.5,-7.5l-7.5,-7.5Z" style="fill-rule:nonzero;"/></svg>');
        background-color:transparent;
        background-size:13px 15px;
        background-repeat: no-repeat;
        background-position: top left;
    }
}

// Text button
.defra-button-text {
    @extend .govuk-body;
    margin:0px;
    color:$govuk-link-colour;
    background-color: transparent;
    border:0px;
    text-align:left;
    text-decoration: underline;
    padding:0;
    border-radius: 0;
    cursor:pointer;
    &:focus {
        outline:3px solid transparent;
        background-color: $govuk-focus-colour;
        color: $govuk-text-colour !important;
        box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
        text-decoration: none;
    }
    &:active {
        color: $govuk-text-colour !important;
    }
    &:hover {
        color:$govuk-link-hover-colour;
    }
    &-s {
        @extend .defra-button-text;
        @extend .govuk-body-s;
    }
}

// Map button
.defra-button-map {
    @extend .defra-button-text;
    position:relative;
    display:inline-block;
    padding-left:20px;
    &:before {
        content: "";
        position: absolute;
        top:0px;
        left:0px;
        background-image: svg-url('<svg width="15" height="20" viewBox="0 0 15 20"><path d="M15,7.5c0.009,3.778 -4.229,9.665 -7.5,12.5c-3.271,-2.835 -7.509,-8.722 -7.5,-12.5c0,-4.142 3.358,-7.5 7.5,-7.5c4.142,0 7.5,3.358 7.5,7.5Zm-7.5,5.461c3.016,0 5.461,-2.445 5.461,-5.461c0,-3.016 -2.445,-5.461 -5.461,-5.461c-3.016,0 -5.461,2.445 -5.461,5.461c0,3.016 2.445,5.461 5.461,5.461Z" fill="#0b0c0c"/></svg>');
        background-color:transparent;
        background-size:15px 20px;
        background-repeat: no-repeat;
        background-position: top left;
        height:20px;
        width:15px;
        @include mq ($from: tablet) {
            top: 3px;
        }
    }
    &:hover:not(:active):not(:focus):before {
        background-image: svg-url('<svg width="15" height="20" viewBox="0 0 15 20"><path d="M15,7.5c0.009,3.778 -4.229,9.665 -7.5,12.5c-3.271,-2.835 -7.509,-8.722 -7.5,-12.5c0,-4.142 3.358,-7.5 7.5,-7.5c4.142,0 7.5,3.358 7.5,7.5Zm-7.5,5.461c3.016,0 5.461,-2.445 5.461,-5.461c0,-3.016 -2.445,-5.461 -5.461,-5.461c-3.016,0 -5.461,2.445 -5.461,5.461c0,3.016 2.445,5.461 5.461,5.461Z" fill="#003078"/></svg>');
    }
    &-s {
        @extend .defra-button-map;
        padding-left:17px;
        @include mq ($from: tablet) {
            padding-left:18px;
        }
        @include govuk-font($size: 16);
    }
    &-s:before {
        top:0px;
        background-size:13.5px 18px;
        height:18px;
        width:13.5px;
    }
    span {
        display: inline-block;
        border-bottom:1px solid $govuk-text-colour;
    }
    &:focus span {
        border:0px;
    }
    &:hover span {
        border-color:$govuk-link-hover-colour;
    }
    &:active span {
        border-color: $govuk-text-colour;
    }
}

// Download button
.defra-button-download {
    @extend .defra-button-text;
    position:relative;
    display:inline-block;
    padding-left:21px;
    &:before {
        content: "";
        position: absolute;
        top:0px;
        left:1px;
        background-image: svg-url('<svg width="13" height="17" viewBox="0 0 13 17"><rect x="0" y="0" width="10.5" height="14.5" style="fill:#0b0c0c;"/><path d="M2,17L13,17L13,2L11.5,2L11.5,15.509L2,15.509L2,17Z" style="fill:#0b0c0c;"/></svg>');
        background-color:transparent;
        background-size:13px 17px;
        background-repeat: no-repeat;
        background-position: top left;
        height:17px;
        width:13px;
        @include mq ($from: tablet) {
            top: 1px;
        }
    }
    &:hover:before {
        background-image: svg-url('<svg width="13" height="17" viewBox="0 0 13 17"><rect x="0" y="0" width="10.5" height="14.5" style="fill:#003078"/><path d="M2,17L13,17L13,2L11.5,2L11.5,15.509L2,15.509L2,17Z" style="fill:#003078"/></svg>');
    }
    &:focus:before,
    &:active:before {
        background-image: svg-url('<svg width="13" height="17" viewBox="0 0 13 17"><rect x="0" y="0" width="10.5" height="14.5" style="fill:#0b0c0c;"/><path d="M2,17L13,17L13,2L11.5,2L11.5,15.509L2,15.509L2,17Z" style="fill:#0b0c0c;"/></svg>');
    }
    &-s {
        @extend .defra-button-download;
        @include govuk-font($size: 16);
    }
    &-s:before {
        top:0px;
        @include mq ($from: tablet) {
            top: 1px;
        }
    }
}
