// Secondary start button
.defra-button-start {
    @extend .govuk-button;
    @extend .govuk-button--secondary;
    &:after {
        content: '';
        display: inline-block;
        position:relative;
        margin-left:5px;
        vertical-align: middle;
        top:-1px;
        width:13px;
        height:15px;
        background-image: svg-url('<svg width="13" height="15" viewBox="0 0 13 15" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M0.325,0l4.875,0l7.5,7.5l-7.5,7.5l-4.875,0l7.5,-7.5l-7.5,-7.5Z" style="fill-rule:nonzero;"/></svg>');
        background-color:transparent;
        background-size:13px 15px;
        background-repeat: no-repeat;
        background-position: top left;
    }
}

// Text button
.defra-button-text {
    @extend .govuk-body;
    position: relative;
    margin:0px;
    color:$govuk-link-colour;
    background-color: transparent;
    border:0px;
    text-align:left;
    text-decoration: underline;
    padding:0;
    border-radius: 0;
    cursor:pointer;
    &:focus {
        outline:3px solid transparent;
        background-color: $govuk-focus-colour;
        color: $govuk-text-colour !important;
        box-shadow: 0 -2px #ffdd00, 0 4px currentColor;
        text-decoration: none;
    }
    &:active {
        color: $govuk-text-colour !important;
    }
    &:hover {
        color:$govuk-link-hover-colour;
    }
}
.defra-button-text-s {
    @extend .defra-button-text;
    @include govuk-font($size: 16);
}

// Secondoary button
a.defra-button-secondary,
button.defra-button-secondary {
    position: relative;
    display: inline-block;
    @include govuk-font($size: 16);
    width: auto;
    margin: 0px 0px 5px;
    border: 1px solid govuk-colour('mid-grey');
    box-shadow: none;
    background-color: white;
    padding: 9px 10px 10px;
    outline: 3px solid transparent;
    cursor: pointer;
    color: $govuk-text-colour;
    text-decoration: none;
    &:visited {
        color: $govuk-text-colour;
    }
    &:hover {
        background-color: #dbdad9;
    }
    &:focus {
        background-color: $govuk-focus-colour;
        border-color: $govuk-focus-colour;
        box-shadow: 0 4px 0 govuk-colour('black');
    }
    &--icon {
        padding-left: 31px;
        svg {
            color: govuk-colour('black');
            position: absolute;
            left: 10px;
            top: 50%;
            margin-top: -11px;
        }
    }
}
.defra-button-secondary-s {
    @extend .defra-button-secondary;
    @include govuk-font($size: 14);
    padding: 6px 7px 7px;
}

// Text buttons with icons
.defra-link-s {
    position:relative;
    display:inline-block;
    margin-right: 5px;
    margin-bottom: 10px;
    @include govuk-font($size: 16);
    &:last-of-type {
        margin-right: 0px;
    }
    @include mq ($from: tablet) {
        margin-right: 10px;
    }
}
.defra-link-icon-s {
    @extend .defra-link-s;
    padding-left:21px;
    svg {
        position: absolute;
        color: govuk-colour('black');
        top:50%;
        margin-top: -10px;
        left:1px;
    }
    &:hover svg {
        color: $govuk-link-hover-colour;
    }
    &:focus svg,
    &:active svg {
        color: govuk-colour('black');
    }
}
