// Secondary start button
.defra-button-start {
    @extend .govuk-button;
    @extend .govuk-button--secondary;
    svg {
        color: govuk-colour('black');
        display: inline-block;
        position:relative;
        margin-left:5px;
        vertical-align: middle;
        top:-1px;
        @media (forced-colors: active) {
            color: currentColor;
        }
    }
}

// Secondary button
a.defra-button-secondary,
button.defra-button-secondary {
    position: relative;
    display: inline-block;
    @include govuk-font($size: 16);
    width: auto;
    margin: 0px 0px 5px;
    border: 1px solid govuk-colour('mid-grey');
    box-shadow: none;
    background-color: white;
    padding: 9px 10px 10px;
    cursor: pointer;
    color: $govuk-text-colour;
    text-decoration: none;
    &:visited {
        color: $govuk-text-colour;
    }
    &:hover {
        background-color: govuk-colour('light-grey');
    }
    &:focus {
        background-color: $govuk-focus-colour;
        border-color: $govuk-focus-colour;
        box-shadow: 0 2px 0 govuk-colour('black');
        outline: 3px solid transparent;
    }
    &:not([keyboard-focus]):focus {
        background-color: white;
        border: 1px solid govuk-colour('mid-grey');
        box-shadow: none;
    }
    &--icon {
        padding-left: 31px;
        svg {
            position: absolute;
            left: 10px;
            top: 50%;
            margin-top: -11px;
            @media (forced-colors: active) {
                color: currentColor;
            }
        }
    }
}
.defra-button-secondary-s {
    @extend .defra-button-secondary;
    @include govuk-font($size: 14);
    padding: 6px 7px 7px;
}

// Buttons like hyperlinks
.defra-button-text {
    @extend .govuk-link;
    position: relative;
    margin:0px;
    padding:0;
    color:$govuk-link-colour;
    background-color: transparent;
    border:0px;
    text-align:left;
    border-radius: 0;
    cursor:pointer;
}
.defra-button-text-s {
    @extend .defra-button-text;
    @include govuk-font($size: 19);
    @include mq ($from: tablet) {
      @include govuk-font($size: 16);
    }
}

// Hyperlinks with icons
.defra-link-icon {
    position:relative;
    display:inline-block;
    margin-right: 5px;
    @include govuk-font($size: 19);
    &:last-of-type {
        margin-right: 0px;
    }
    @include mq ($from: tablet) {
        margin-right: 10px;
    }
    svg {
        position: relative;
        display: inline-block;
        color: govuk-colour('black');
        vertical-align: top;
        margin-right: 7px;
        top: 1px;
        @include mq ($from: tablet) {
            margin-right: 8px;
            top: 4px;
        }
        @media (forced-colors: active) {
            color: currentColor;
        }
    }
    &:hover svg {
        color: $govuk-link-hover-colour;
        @media (forced-colors: active) {
            color: currentColor;
        }
    }
    &:focus svg,
    &:active svg {
        color: govuk-colour('black');
        @media (forced-colors: active) {
            color: currentColor;
        }
    }
}
.defra-link-icon-s {
    @extend .defra-link-icon;
    @include govuk-font($size: 19);
    @include mq ($from: tablet) {
      @include govuk-font($size: 16);
    }
    svg {
        margin-right: 6px;
        margin-bottom: -4px;
        top: 0px;
    }
}