.defra-flood-heading-image {
    display: inline-block;
    vertical-align: middle;
    margin-right:2px;
}

// Abbr consistent behavior
abbr {
    text-decoration:none;
}
abbr:hover {
    cursor: help;
}
