<div id="map-key" class="map-key__container">
  <div class="map-key__heading">
    <h2 class="map-key__title">Key</h2>
  </div>
  <form>
    <div class="map-key__features">
      <ul class="map-key-features__section">
        <li class="map-key-features__item">
          <div class="govuk-radios__item govuk-radios__item--map-key">
            <input class="govuk-radios__input" id="mapView" data-layer="mapView" data-states="" name="baseLayer" type="radio"
              checked value="mapView">
            <label class="govuk-label govuk-radios__label" for="mapView">
              Map view
            </label>
          </div>
        </li>
        <li class="map-key-features__item">
          <div class="govuk-radios__item govuk-radios__item--map-key">
            <input class="govuk-radios__input" id="satelliteView" data-layer="satelliteView" data-states="" name="baseLayer"
              type="radio" value="satelliteView">
            <label class="govuk-label govuk-radios__label" for="satelliteView">
              Satellite view
            </label>
          </div>
        </li>
      </ul>
      <ul class="map-key-features__section">
        <li class="map-key-features__item">
          <div class="govuk-checkboxes__item govuk-checkboxes__item--map-key">
            <input class="govuk-checkboxes__input" id="severeFloodWarnings" data-layer="severeFloodWarning"
              data-states="warning,severe" name="severeFloodWarnings" type="checkbox" value="flood-zones" checked="">
            <label class="govuk-label govuk-checkboxes__label" for="severeFloodWarnings">
              <span class="govuk-label__inner">
                <span class="key-symbol" style="background-position: -200px -450px" data-style="background-position:-200px -450px"
                  data-style-offset="background-position:-250px -450px"></span>
                  Severe warning
              </span>
            </label>
          </div>
        </li>
        <li class="map-key-features__item">
          <div class="govuk-checkboxes__item govuk-checkboxes__item--map-key">
            <input class="govuk-checkboxes__input" id="floodWarnings" data-layer="floodWarning"
              data-states="warning,severe" name="floodWarnings" type="checkbox" value="flood-zones" checked="">
            <label class="govuk-label govuk-checkboxes__label" for="floodWarnings">
              <span class="govuk-label__inner">
                <span class="key-symbol" style="background-position: -200px -500px" data-style="background-position: -200px -500px"
                  data-style-offset="background-position: -250px -500px"></span>
                  Flood warning
              </span>
            </label>
          </div>
        </li>
        <li class="map-key-features__item">
          <div class="govuk-checkboxes__item govuk-checkboxes__item--map-key">
            <input class="govuk-checkboxes__input" id="floodAlerts" data-layer="floodAlert"
              data-states="alert" name="floodAlerts" type="checkbox" value="flood-zones" checked="">
            <label class="govuk-label govuk-checkboxes__label" for="floodAlerts">
              <span class="govuk-label__inner">
                <span class="key-symbol" style="background-position: -200px -550px" data-style="background-position: -200px -550px"
                  data-style-offset="background-position: -250px -550px"></span>
                  Flood alert
              </span>
            </label>
          </div>
        </li>
      </ul>
      <ul class="map-key-features__section">
        <li class="map-key-features__item">
          <div class="govuk-checkboxes__item govuk-checkboxes__item--map-key">
            <input class="govuk-checkboxes__input" id="stations" data-layer="stations" data-states="" name="stations"
              type="checkbox" value="stations" checked>
            <label class="govuk-label govuk-checkboxes__label" for="stations">
              <span class="govuk-label__inner">
                <span class="key-symbol" style="background-position: -200px -50px" data-style="background-position: -200px -50px"
                  data-style-offset="background-position: -250px -50px"></span>
                  River or sea level measurement
              </span>
            </label>
          </div>
        </li>
      </ul>
      <ul class="map-key-features__section">
        <li class="map-key-features__item">
          <div class="govuk-checkboxes__item govuk-checkboxes__item--map-key">
            <input class="govuk-checkboxes__input" id="rain" data-layer="rain" data-states="" name="rain"
              type="checkbox" value="rain" checked>
            <label class="govuk-label govuk-checkboxes__label" for="rain">
              <span class="govuk-label__inner">
                <span class="key-symbol" style="background-position: -200px -800px" data-style="background-position: -200px -800px"
                  data-style-offset="background-position: -250px -800px"></span>
                  Rainfall measurement
              </span>
            </label>
          </div>
        </li>
    </div>
  </form>
</div>