<div id="map-key" class="map-key__container">
  <div class="map-key__heading">
    <h2 class="map-key__title">Key</h2>
  </div>
  <div class="map-key__features">
    <ul class="map-key-features__section">
      <li class="map-key-features__item-static">
        <span class="map-key-features__item-inner">
          <span class="key-symbol" style="background-position: -250px -250px"></span>
          Minor concern
        </span>
      </li>
      <li class="map-key-features__item-static">
        <span class="map-key-features__item-inner">
          <span class="key-symbol" style="background-position: -250px -300px"></span>
          Moderate concern
        </span>
      </li>
      <li class="map-key-features__item-static">
        <span class="map-key-features__item-inner">
          <span class="key-symbol" style="background-position: -250px -350px"></span>
          Significant concern
        </span>
      </li>
      <li class="map-key-features__item-static">
        <span class="map-key-features__item-inner">
          <span class="key-symbol" style="background-position: -250px -400px"></span>
          Severe concern
        </span>
      </li>
    </ul>
  </div>
</div>