{# Icon symbol #}
{% set closedOrSuspended = false %}
{% set symbol = 'normal' %}
{% if props.atrisk %}
  {% set symbol = 'above' %}
{% elif props.is_ffoi_at_risk and props.ffoi_max %}
  {% set symbol = 'forecastAbove' %}
{% elif props.status === 'Closed' or props.status === 'Suspended' %}
  {% set symbol = 'disabled' %}
  {% set closedOrSuspended = true %}
{% endif %}

{% if closedOrSuspended %}
<p class="govuk-body-s govuk-!-margin-bottom-1">
    <a href="/station/{{stationId}}" data-id="stations.3246">{{props.name}} ({{props.river}})</a>
</p>
<strong>
    <span class="govuk-!-font-weight-bold">Closed or temporarily out of service</span>
</strong>
{% else %}
{% for up in upDown.upDown.upstream %}
<button class="overlay-navigation-button overlay-navigation-button--up{% if up.isTrib %}-trib{% endif %}" data-id="{{up.id}}">
  <svg role="presentation" focusable="false" class="overlay-navigation-button__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="14" viewBox="0 0 13 14">
    <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v9.7h2V4l4.3 4L13 6.4z"></path>
  </svg>
  {{up.river}}
</button>
{% endfor %}

<p class="govuk-body-s govuk-!-margin-bottom-1" role="text">
  <span class="govuk-visually-hidden">See measurements at</span>
  <a href="/station/{{stationId}}" data-id="{{stationId}}">{{props.name}} ({{props.river}})</a>
</p>
{% if props.value %}
<strong>
  {{props.value.toFixed(2)}}m at <time datetime="{{ props.value_date }}">{{ props.value_date_tooltip }}</time>
</strong>
{% else %}
<strong>
  Latest measurement unreliable
</strong>
{% endif %}
{% if props.percentile_5 and props.percentile_95 %}
<p class="govuk-body-s govuk-!-margin-bottom-0">
  Typical level {{props.percentile_95.toFixed(2)}}m to {{props.percentile_5.toFixed(2)}}m
</p>
{% endif %}
{% if props.is_ffoi_at_risk and props.ffoi_max %}
<p class="govuk-body-s govuk-!-margin-bottom-0">
  <strong>{{props.ffoi_max.toFixed(2)}}m</strong> forecast at <time datetime="{{ props.ffoi_date }}">{{ props.ffoi_date_tooltip }}</time>
</p>
{% endif %}

{% for down in upDown.upDown.downstream %}
<button class="overlay-navigation-button overlay-navigation-button--down" data-id="{{down.id}}">
  <svg role="presentation" focusable="false" class="overlay-navigation-button__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="14" viewBox="0 0 13 14">
    <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v9.7h2V4l4.3 4L13 6.4z"></path>
  </svg>
  {{down.river}}
</button>
{% endfor%}
{% endif %}

