
{% if type == 'warnings' %}
  <p>
    <span class="govuk-body-m govuk-!-font-weight-bold">{{props.severity_description}}</span><br/>
    <a class="govuk-body-s" href="/target-area/{{props.fwa_code}}">{{props.description}}</a>
  </p>
  <span class="ol-overlay__symbol ol-overlay__symbol--{{props.severity}}"></span>
{% elif type == 'rain' %}
  <p class="govuk-!-margin-bottom-2">

    {% if props.gridRef %}
    <span class="govuk-body-m govuk-!-font-weight-bold">
      {% if rainfallValues.error %}
        Rainfall measured at grid ref {{props.gridRef}}
      {% else %}
        <a class="govuk-body-s" href="/rain-gauge/{{ props.stationReference }}#one-day">Rainfall measured at grid ref {{props.gridRef}}</a>
      {% endif %}
    </span><br/>
    {% else %}
    <span class="govuk-body-m govuk-!-font-weight-bold">
      {% if rainfallValues.error %}
        Rainfall measured at {{props.label}}
      {% else %}
        <a class="govuk-body-s" href="/rain-gauge/{{ props.stationReference }}">Rainfall measured at {{props.label}}</a>
      {% endif %}
    </span><br/>
    {% endif %}

    {% if rainfallValues.error %}
    <span class="govuk-body-s">{{rainfallValues.error}}</span><br/>
    {% else %}
    <span class="govuk-body-s">{% if rainfallValues.dailyTotal === 0 %} No rain was recorded in the last 24 hour period measured{% else %} <strong>{{ rainfallValues.dailyTotal }}mm</strong> in the last 24 hour period measured{% endif %}</span><br/>
    {% endif %}

  </p>
{% endif %}
